<div class="admin_sub_header">
  <div>
    <%= link_to 'Backend Home', '', class: 'sub_link' %>
    &nbsp;&gt; Design
  </div>
</div>
<div class="admin_panle_body">
  <%= render partial: "layouts/admin/left_hand_navigation" %>
  <div class="admin_right_panel">
  	<div class="step_heading">Change Website Logo</div>
    <div class="right_step user">
    	<div class="right-panel edit_regis"><br />
        <%= form_tag(update_site_logo_admin_content_management_index_path, id: 'new_form', multipart: true)do %>
          <div class="listed-box">
            <div class="custom-field-box">
              <div class="custom-input-group">
                <%= file_field_tag :site_logo, class: 'update_logo', required: true %>
              </div>
            </div>
            <%= submit_tag 'Submit',class: 'submit_button' %>
          </div>
        <% end %>
    </div>
	</div>
</div>