<div class="admin_sub_header">
  <div>
    <%= link_to 'Backend Home', '', class: 'sub_link' %>
    &nbsp;&gt; Employee Hiring Section
  </div>
</div>
<div class="admin_panle_body">
  <%= render partial: "layouts/admin/left_hand_navigation" %>
  <div class="admin_right_panel">
    <div class="step_heading">Easy online employee hiring</div>
    <div class="right_step user">
      <div class="right-panel edit_regis">
        <%= form_tag(employee_hiring_section_admin_content_management_index_path, id: 'new_form', multipart: true) do %>
          <div class="listed-box">
            <div class="custom-field-box main_column">
              <div class="column_heading">Column 1</div>
              <div class="custom-input-group">
                <div class="inline_data_adjust">
                  <span class="fa fa-warning"></span>
                  <span class="warning">The image should be (atleast) 200x200 pixels size.</span>
                </div>
                <%= file_field_tag "employee_hire[column_1_image]", class: 'update_logo' %>
              </div>
              <div class="text_data">
                <%= text_area_tag "employee_hire[column_1_text]", @update.present? ? @update.column_1_text : nil, class: 'update_text_data' %>
              </div>
            </div>
             <div class="custom-field-box main_column">
              <div class="column_heading">Column 2</div>
              <div class="custom-input-group">
                <div class="inline_data_adjust">
                  <span class="fa fa-warning"></span>
                  <span class="warning">The image should be (atleast) 200x200 pixels size.</span>
                </div>
                <%= file_field_tag "employee_hire[column_2_image]", class: 'update_logo' %>
              </div>
              <div class="text_data">
                <%= text_area_tag "employee_hire[column_2_text]", @update.present? ? @update.column_2_text : nil, class: 'update_text_data' %>
              </div>
            </div>
             <div class="custom-field-box main_column">
              <div class="column_heading">Column 3</div>
              <div class="inline_data_adjust">
                <span class="fa fa-warning"></span>
                <span class="warning">The image should be (atleast) 200x200 pixels size.</span>
              </div>
              <div class="custom-input-group">
                <%= file_field_tag "employee_hire[column_3_image]", class: 'update_logo' %>
              </div>
              <div class="text_data">
                <%= text_area_tag "employee_hire[column_3_text]", @update.present? ? @update.column_3_text : nil,class: 'update_text_data' %>
              </div>
            </div>
             <div class="custom-field-box main_column">
              <div class="column_heading">Column 4</div>
              <div class="inline_data_adjust">
                <span class="fa fa-warning"></span>
                <span class="warning">The image should be (atleast) 200x200 pixels size.</span>
              </div>
              <div class="custom-input-group">
                <%= file_field_tag "employee_hire[column_4_image]", class: 'update_logo' %>
              </div>
              <div class="text_data">
                <%= text_area_tag "employee_hire[column_4_text]", @update.present? ? @update.column_4_text : nil, class: 'update_text_data' %>
              </div>
            </div>
            <%= submit_tag 'Submit',class: 'submit_button' %>
          </div>
        <% end %>
    </div>
  </div>
</div>