<div class="main_table_container">
  <% if @conversations.blank? %>
    <div>No Results found</div>
  <% else %>
    <div class="csv_table">
      <div class="csv_table_row gray_bg">
        <div class="Width30Px">
          <%= check_box_tag 'selected', '', nil, class: 'checkbox_input_all' %>
        </div>
        <div class="Width50Px text-center">ID</div>
        <div class="Width150Px text-center">Started from</div>
        <div class="Width150Px text-center">Status</div>
        <div class="Width150Px text-center">Started Date</div>
        <div class="Width150Px text-center">Last Updated</div>
        <div class="Width150Px text-center">Starter</div>
        <div class="Width150Px text-center">Other user</div>
      </div>
      <% @conversations.each do |conversation| %>
        <div class="csv_table_row">
          <div class="Width30Px">
            <%= check_box_tag "person[#{conversation.id}]", conversation.id, nil, class: 'checkbox_input' %>
          </div>
          <div class="Width50Px text-center">
            <%= link_to conversation.id, admin_conversation_path(id: conversation.id), class: 'spare_link', target: '_blank' %>
          </div>
          <% if conversation.transaction_id.present? %>
            <div class="Width150Px text-center"><%= link_to "Hiring ID #{conversation.transaction_id}", hiring_details_admin_hirings_path(id: conversation.transaction_id) , target: :_blank %></div>
          <% else %>
            <div class="Width150Px text-center"><%= link_to conversation.employee_listing.title, employee_path(conversation.employee_listing.id) , target: :_blank %></div>
          <% end %>
          <% if conversation.is_disallowed.eql?(false) %>
            <div class="Width150Px text-center">Normal</div>
          <% else %>
            <div class="Width150Px text-center">Disallowed</div>
          <% end %>
          <div class="Width150Px text-center"><%= conversation.created_at&.strftime("%b %e, %Y") %></div>
          <div class="Width150Px text-center"><%= conversation.updated_at&.strftime("%b %e, %Y") %></div>
          <div class="Width150Px text-center suspend_user_<%= conversation.id %>">
            <%= link_to conversation.sender.name, user_path(id: conversation.sender_id), target: :_blank %>
          </div>
          <div class="Width150Px text-center">
            <%= link_to conversation.receiver.name, user_path(id: conversation.receiver_id), target: :_blank %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="will_pagination_box changes">
  		<%= js_will_paginate @conversations %>
		</div>
  <% end %>
</div>