<div class="admin_left_panel">
  <div class="left_panel_list">
    <div class="panel_item">Your Account</div>
    <div class="panel_item">
      <%= link_to 'Profile', edit_user_registration_path(is_admin: "admin"), class: "panel_link #{is_active_menu('show')}" %>
    </div>
    <div class="panel_item">Manage</div>
    <div class="panel_item">
      <%= link_to 'Users', '/admin', class: "panel_link #{is_active_menu('index')}" %>
    </div>
    <div class="panel_item">
      <%= link_to 'Listings', '#', class: "panel_link #{is_active_menu('user')}" %>
    </div>
    <div class="panel_item">
      <%= link_to 'Hirings', '#', class: "panel_link #{is_active_menu('user')}" %>
    </div>
    <div class="panel_item">
      <%= link_to 'Conversations', '#', class: "panel_link #{is_active_menu('user')}" %>
    </div>
    <div class="panel_item">
      <%= link_to 'Reviews', '#', class: "panel_link #{is_active_menu('user')}" %>
    </div>
    <div class="panel_item">
      <%= link_to 'Email Users', emails_admin_users_path, class: "panel_link #{is_active_menu('user')}" %>
    </div>
  </div>
</div>