<tr>
  <td>
    <h1 style="padding-top:15px">You might be interested in</h1>
    <table class="ListingList">
      <tr>
        <td>
          <a href="employee-search/employee-profile.html" target="_blank">
            <%= image_tag "professional-3.png", alt: "", class: "Image200px" %>
          </a>
        </td>
        <td>
          <a href="employee-search/employee-profile.html" target="_blank">
            <%= image_tag "professional-1.png", alt: "", class: "Image200px" %>
          </a>
        </td>
        <td>
          <a href="employee-search/employee-profile.html" target="_blank">
            <%= image_tag "professional-4.png", alt: "", class: "Image200px" %>
          </a>
        </td>
        <td>
          <a href="employee-search/employee-profile.html" target="_blank">
            <%= image_tag "professional-2.png", alt: "", class: "Image200px" %>
          </a>
        </td>
      </tr>
      <tr>
        <td style="width: 25%"><strong>&nbsp;<br />
          <a href="employee-search/employee-profile.html" target="_blank" class="Listing12ptLink">Senior IT Administrator</a></strong><a href="employee-search/employee-profile.html" target="_blank" class="Listing12ptLink"><br />
          Cristiano Ronaldo<br />
          $35 per hour<br />
          Chippendale NSW 2008</a>
        </td>
        <td style="width: 25%"><strong>&nbsp;<br />
          <a href="employee-search/employee-profile.html" target="_blank" class="Listing12ptLink">Office Admin</a></strong><a href="employee-search/employee-profile.html" target="_blank" class="Listing12ptLink"><br />
          Lionel Messi<br />
          $25 per hour<br />
          Sydney NSW 2000</a>
        </td>
        <td style="width: 25%"><strong>&nbsp;<br />
          <a href="employee-search/employee-profile.html" target="_blank" class="Listing12ptLink">Accountant</a></strong><a href="employee-search/employee-profile.html" target="_blank" class="Listing12ptLink"><br />
          Wayne Rooney<br />
          $25 per hour<br />
          Sydney NSW 2000</a>
        </td>
        <td style="width: 25%"><strong>&nbsp;<br />
          <a href="employee-search/employee-profile.html" target="_blank" class="Listing12ptLink">Experienced Barista</a></strong><a href="employee-search/employee-profile.html" target="_blank" class="Listing12ptLink"><br />
          Zlatan Ibrahimovic<br />
          $20 per hour<br />
          North Sydney NSW 2060</a>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "star-rating.png", alt: "", class: "ListingListStarRating" %> 28            
        </td>
        <td>
          <%= image_tag "star-rating.png", alt: "", class: "ListingListStarRating" %> 35            
        </td>
        <td>
          <%= image_tag "star-rating.png", alt: "", class: "ListingListStarRating" %> 12            
        </td>
        <td>No reviews yet</td>
      </tr>
    </table>
  </td>
</tr>
