<div class="how-it-work-box">
  <h1 class="work-heading"><%= @static_content.try(:how_it_work_title) %></h1>
  <div class="work-card-box">
    <% if @how_it_works.present? %>
      <% @how_it_works.each_with_index do |how_it_work, index| %>
        <div class="work-card">
          <div class="card-img-box">
            <%= image_tag how_it_work.content_image.url, alt: "", class: "card-image" %>
          </div>
          <div class="card-details">
            <div class="num-text"><%= index+1 %></div>
            <div class="detail">
              <!-- <div><b>It's FREE to list</b></div> -->
                <%= how_it_work.content %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="work-card">
        <div class="card-img-box">
          <%= image_tag "how-it-works-1.jpg", alt: "", class: "card-image" %>
        </div>
        <div class="card-details">
          <div class="num-text">2</div>
          <div class="detail">
          <div><b>Get ready for work</b></div>
            <div>Discuss with Hirer through our messaging platform. Provide further details if requested.</div>
          </div>
        </div>
      </div>

      <div class="work-card">
        <div class="card-img-box">
          <%= image_tag "how-it-works-2.jpg", alt: "", class: "card-image" %>
        </div>
        <div class="card-details">
          <div class="num-text">2</div>
          <div class="detail">
            <div><b>Get ready for work</b></div>
            <div>Discuss with Hirer through our messaging platform. Provide further details if requested.</div>
          </div>
        </div>
      </div>

      <div class="work-card">
        <div class="card-img-box">
          <%= image_tag "how-it-works-3.jpg", alt: "", class: "card-image" %>
        </div>
        <div class="card-details">
          <div class="num-text">3</div>
          <div class="detail">
          <div><b>Get paid</b></div>
            <div>Our secure payment system let you get paid automatically after employment starts.</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
