<div class="employe-hiring-box">
  <h1 class="hiring-heading"><%= @static_content.employee_hiring_title %></h1>
  <div class="image-details-box">
    <% if @employee_hirings.present? %>
      <% @employee_hirings.each do |employee_hiring| %>
        <div class="image-box">
          <div class="image">
              <%= image_tag employee_hiring.content_image.url, alt: "", class: "Image200px" %>
          </div>
          <div class="image-detail">
            <%= employee_hiring.content %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="image-box">
        <div class="image">
          <%= image_tag "dollar.jpg", alt: "", class: "Image200px" %>
        </div>
        <div class="image-detail">
          Reduce financial pressure <br /> due to overstaffing
        </div>
      </div>

      <div class="image-box">
        <div class="image">
            <%= image_tag "tie.jpg", alt: "", class: "Image200px" %>
        </div>
        <div class="image-detail">
            Hire experienced employees for short <br /> or long term contracts
        </div>
      </div>

      <div class="image-box">
        <div class="image">
            <%= image_tag "happy.jpg", alt: "", class: "Image200px" %>
        </div>
        <div class="image-detail">
            Keep good employees by <br /> giving him enough hours
        </div>
      </div>

      <div class="image-box">
        <div class="image">
            <%= image_tag "reference.jpg", alt: "", class: "Image200px" %>
        </div>
        <div class="image-detail">
            Employees get more <br /> references for their CVs
        </div>
      </div>
    <% end %>
  </div>
</div>