<div class="homapage-section">
  <div class="inner-homepage">
    <%= render partial: "employee_search_bar" %>

    <% if @employee_listings.present? %>
      <%= render partial: "featured_listings" %>
    <% else%>
    	<div class="featured-listings-box">
  			<h1 class="featured-heading">Record not found.</h1>
  		</div>
    <% end %>

    <%= render partial: "services_offered" %>

    <%= render partial: "how_it_works" %>
  </div>

  <%= render partial: "list_an_employee" %>
</div>

<%= render partial: "layouts/footer" %>
