<div class="homapage-section">
  <div class="inner-homepage">
    <%= render partial: "employee_search_bar" %>

    <%= render partial: "featured_listings" %>

  </div>
</div>

<tr>
  <td>
    <!--webbot bot="Include" u-include="includes/header-line.html" tag="BODY" startspan -->
    <table class="GreyLine" cellpadding="0">
      <tr>
        <td></td>
      </tr>
    </table>
    <!--webbot bot="Include" endspan i-checksum="12006" -->
  </td>
</tr>
<tr>
  <td>
    <table style="width: 100%">


      <%= render partial: "services_offered" %>
      <%= render partial: "how_it_works" %>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
<%= render partial: "list_an_employee" %>
