<div class="homapage-section">
  <div class="inner-homepage">
    <%= render partial: "employee_search_bar" %>

    <%= render partial: "featured_listings" %>

    <%= render partial: "services_offered" %>

    <%= render partial: "how_it_works" %>
  </div>

  <%= render partial: "list_an_employee" %>
</div>

<%= render partial: "layouts/footer" %>