<div class="add-or-edit-roster-popup roster_popup_customize" data-popup="add-or-edit-rosters-popup">
  <div class="add-or-edit-roster-popup-inner roster_popup_customize-inner show_hiring_details">
    
    <div class="show_hiring_details_row">
      <div class="OrderListingTitle">Add or edit next rosters</div>
      <div class="ButtonOrangeBorderHeight40px FloatRight">
        <a href="#" class="comman_link" data-popup-open="add-roster-popup">Add roster</a>
      </div>
    </div>
    
    <div class="show_hiring_details_row" id="edit-roster3">
      <div class="rosters_box_row">
        <div class="rosters_box">
          <div class="num_order TextStrong">3</div>
          <div class="roster_details">
            <div class="rosters_heading">
              <span class="TextStrong">26-Feb-2019 to 04-Mar-2019</span> 
            </div>
            <div>Mon 09:00 - 12:00, Tue 15:00 - 17:00, Sat 12:00 - 16:00</div>
            <div>$371.00 (Not funded)</div>
          </div>
        </div>
        <div class="icon_link_box">
          <a href="javascript:;" data-popup-open="edit-roster3-popup">
            <%= image_tag 'pencil-circle-icon.png', alt: 'pencil', class: 'Height30px PaddingRight10px' %>
          </a>
          <a href="#" onclick="hide('edit-roster3');">
            <%= image_tag 'trash-circle-icon.png', alt: 'trash', class: 'Height30px' %>
          </a>
        </div>
      </div>
    </div>

    <div class="show_hiring_details_row" id="edit-roster4">
      <div class="rosters_box_row">
        <div class="rosters_box">
          <div class="num_order TextStrong">4</div>
          <div class="roster_details">
            <div class="rosters_heading">
              <span class="TextStrong">26-Feb-2019 to 04-Mar-2019</span>
            </div>
            <div>Mon 09:00 - 12:00, Tue 15:00 - 17:00, Sat 12:00 - 16:00</div>
            <div>$371.00 (Not funded)</div>
          </div>
        </div>
        <div class="icon_link_box">
          <a href="#">
            <%= image_tag 'pencil-circle-icon.png', alt: 'pencil', class: 'Height30px PaddingRight10px' %>
          </a>
          <a href="javascript:;" onclick="hide('edit-roster4');">
            <%= image_tag 'trash-circle-icon.png', alt: 'trash', class: 'Height30px' %>
          </a>
        </div>
      </div>
    </div>

    <div class="show_hiring_details_row" id="edit-roster5">
      <div class="rosters_box_row">
        <div class="rosters_box">
          <div class="num_order TextStrong">5</div>
          <div class="roster_details">
            <div class="rosters_heading">
              <span class="TextStrong">26-Feb-2019 to 04-Mar-2019</span> 
            </div>
            <div>Mon 09:00 - 12:00, Tue 15:00 - 17:00, Sat 12:00 - 16:00</div>
            <div>$371.00 (Not funded)</div>
          </div>
        </div>
        <div class="icon_link_box">
          <a href="#">
            <%= image_tag 'pencil-circle-icon.png', alt: 'pencil', class: 'Height30px PaddingRight10px' %>
          </a>
          <a href="#" onclick="hide('edit-roster5');">
            <%= image_tag 'trash-circle-icon.png', alt: 'trash', class: 'Height30px' %>
          </a>
        </div>
      </div>
    </div>

    <div class="show_hiring_details_row">
      <div class="custom_text_area">
        <div class="PaddingBottom10px DisplayInlineBlock">Message to PosterABC (optional)</div>
        <textarea name="TextArea1" class="FullWidthBorderBox Height100px"></textarea>
      </div>
    </div>

    <div class="show_hiring_details_row">
      <span></span>
      <div class="">
        <div class="ButtonOrangeHeight40px FloatRight">
          <a href="#" class="send_change_btn" data-popup-close="add-or-edit-rosters-popup">Send Changes</a>
        </div>
        <div class="FloatRight MarginRight40Px" style="vertical-align:middle" data-popup-close="add-or-edit-rosters-popup">
          <a href="#" class="comman_link" style="line-height:40px">Cancel</a>
        </div>
      </div>
    </div>
    
  </div>
</div>

