<% if transactions.present? %>
  <% transactions.each_with_index do |transaction, index| %>
    <div class="order_box <%= if transaction.created? || transaction.cancelled? then 'pending_or_cancelled' end %>">
      <div class="order_content">
        <div class="top_part">
          <% if transaction.created? %>
            <div class="TextOrange">
              <strong>Pending</strong>&nbsp;&nbsp;
              This hiring isn't confirmed yet. The Poster has 48 hours to respond.
            </div>
          <% elsif transaction.cancelled? %>
            <div class="TextCancelled">
              <strong>Cancelled</strong>&nbsp;&nbsp;
              <% if transaction.cancelled_by.eql?("hirer") %>
                You cancelled this hiring.
              <% else %>
                <%= transaction.poster.name %> cancelled this hiring.
              <% end %>
            </div>
          <% end %>
          <h2 class="order_listing_title"><%= transaction.employee_listing.name %></h2>
          <p class="order_listing_title_small"><%= transaction.employee_listing.title %></p>
          <span class="post">Poster: <%= transaction.employee_listing.poster_name %></span>
          <strong class="dt_bold"><%= transaction.start_date.strftime("%d %h %Y") %></strong> <span class="aro"> > </span><strong class="dt_bold"><%= transaction.end_date.strftime("%d %h %Y") %></strong>
          <% total_hours = transaction.total_weekday_hours + transaction.total_weekend_hours %>
          <span class="OrderTotalHour"><%= "#{total_hours} Hour Per week" %></span>
        </div>
        <div class="bottom_part">
          <% if transaction&.conversation %>
            <%= link_to inbox_path(id: transaction&.conversation&.id), class: 'add_info' do %>
              <%= image_tag 'send-message-icon.jpg' %>
              Send Message
            <% end %>
          <% end %>
          <% if transaction.cancelled? %>
            <%= link_to 'Write Review', new_review_url(tx_id: transaction.id), class: 'add_info review-link ' %>
          <% end %>
          <% if transaction.accepted? %>
            <%= link_to hiring_path(id: transaction.id), class: 'add_info' do %>
              <%= image_tag 'circle-slash-icon.jpg' %>
              View Hiring
            <% end %>

            <!--<%= link_to 'javascript:;', class: 'add_info share-detail-link', data: {attribute: transaction.id, toggle: 'modal', target: '#shareDetailsModal'} do %>
              <%= image_tag 'envelope-icon.jpg' %>
              Share Details
            <% end %> -->
          <% end %>
          <% if transaction.created? %>
            <%= link_to cancel_hiring_path(id: transaction.id), method: :patch, data: {confirm: 'Are you sure that you want to cancel the request? Any money transacted will be refunded.'}, class: 'add_info' do %>
              <%= image_tag 'circle-slash-icon.jpg' %>
              Cancel Request
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="listing_image_box">
        <% if transaction.employee_listing.profile_picture.present? %>
          <%= image_tag transaction.employee_listing.profile_picture.url %>
        <% else %>
          <%= image_tag 'no-image.jpg' %>
        <% end %>
        <% if transaction.cancelled? %>
          <%= link_to 'View Receipt', get_receipt_hiring_path(id: transaction.id), class: "btn_over" %>
        <% elsif transaction.created? %>
          <%= link_to 'More Details', inbox_path(id: transaction&.conversation&.id), class: "btn_over" %>
        <% else %>
          <%= link_to 'View Hiring', hiring_path(id: transaction.id), class: "btn_over" %>
        <% end %>

      </div>
    </div>
  <% end %>
  <div class="will_pagination_box changes">
    <%= js_will_paginate transactions, params: { hired_transaction: true } %>
  </div>
<% end %>

