<% if false %>
  <div class="calculation-list">
    <div class="list-item">
      <div class="left-item">
        Total Fee
      </div>
      <div class="right-item">
        $<%= @transaction.hirer_weekly_amount %>
      </div>
    </div>
    <% unless (@transaction.state.eql?("created") && @transaction.created_at + 2.days <= Date.today) || (@transaction.state.eql?("accepted") && @transaction.start_date - 1 <= Date.today) %>
      <div class="list-item">
        <div class="left-item">
          Service fee
        </div>
        <div class="right-item">
          -$<%=  @transaction.service_fee.round(2) %>
        </div>
      </div>
    <% end %>
    <div class="list-item grey-list-item">
      <div class="left-item">
        <strong>Your Total Refund</strong>
      </div>
      <div class="right-item">
        <% if (@transaction.state.eql?("created") && @transaction.created_at + 2.days <= Date.today) || (@transaction.state.eql?("accepted") && @transaction.start_date - 1 <= Date.today) %>
          <strong>$<%= @transaction.hirer_weekly_amount  %></strong>
        <% else %>
          <strong>$<%= @transaction.hirer_weekly_amount - @transaction.service_fee  %></strong>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="calculation-list">
  <% unless (@transaction.state.eql?("created") && @transaction.created_at + 2.days <= Date.today) || (@transaction.state.eql?("accepted") && @transaction.start_date - 2 >= Date.today) %>
    <div class="list-item">
      <div class="left-item">
        Total Fee
      </div>
      <div class="right-item">
        $<%= (@total_amount + @transaction.service_fee).round(2)  %>
      </div>
    </div>
    <div class="list-item">
      <div class="left-item">
        Service fee
      </div>
      <div class="right-item">
        -$<%= @total_amount > 0 ? @transaction.service_fee.round(2) : 0 %>
      </div>
    </div>
  <% end %>
  <div class="list-item grey-list-item">
    <div class="left-item">
      <strong>Your Total Refund</strong>
    </div>
    <div class="right-item">
      <% if (@transaction.state.eql?("created") && @transaction.created_at + 2.days <= Date.today) || (@transaction.state.eql?("accepted") && @transaction.start_date - 2 >= Date.today) %>
        <strong>$<%= (@transaction.hirer_weekly_amount).round(2) %></strong>
      <% else %>
        <strong>$<%= (@total_amount).round(2) %></strong>
      <% end %>
    </div>
  </div>
</div>

