<div class="hire_an_employee_box">

  <div><b>For your consideration</b></div>
  <br/>
  <div>Serious misconduct is when an employee:</div>
  <br/>
  <ul style="list-style-type:disc;">
    <li>causes serious and imminent risk to the health and safety of another person or to the reputation or profits of their employer's business or</li>
    <li>deliberately behaves in a way that's inconsistent with continuing their employment.</li>
  </ul>

  <div>Examples of serious misconduct include:</div>
  <br/>
  <ul style="list-style-type:disc;">
    <li>theft</li>
    <li>fraud</li>
    <li>assault</li>
    <li>being drunk at work</li>
    <li>refusing to carry out work duties.</li>
  </ul>
  <br/>

  <%= form_tag tell_poster_hiring_path(id: @transaction.id), method: :patch, id: "cancellation_reason_form" do |f| %>
    <%= hidden_field_tag "reason", "The employee commited an act of serious misconduct" %>

    <div class="my-mistake">
      <div class="title-main">Your Refund Summary</div>
      <div><b>This listing has cancellation policy</b></div>

      <div class="under-title">If you cancel now, you'll receive refund for remaining days in hiring contract that you've paid up to. The Poster will receive payment for work that the Employee has done up to today full day. Spare Staff service fee is not refundable.</div>

      <div class="calculation-list">
        <div class="list-item">
          <div class="left-item">
            Total Fee
          </div>
          <div class="right-item">
            <%= "$#{(@transaction.amount + @transaction.service_fee).round(2)}" %>
          </div>
        </div>
        <div class="list-item">
          <div class="left-item">
            Partial hiring fee
          </div>
          <div class="right-item">
            -$270.13
          </div>
        </div>
        <div class="list-item">
          <div class="left-item">
            Tax withholding
          </div>
          <div class="right-item">
            <%= "-$#{@transaction.tax_withholding_amount.round(2)}" %>
          </div>
        </div>
        <div class="list-item">
          <div class="left-item">
            Service fee
          </div>
          <div class="right-item">
            <%= "-$#{@transaction.service_fee.round(2)}" %>
          </div>
        </div>
        <div class="list-item grey-list-item">
          <div class="left-item">
            <strong>Your Total Refund</strong>
          </div>
          <div class="right-item">
            <strong><%= "$#{@transaction.amount.round(2)}" %></strong>
          </div>
        </div>
      </div>

      <div class="custom-label">Tell <%= @listing.poster.name %> why you need to cancel</div>

      <%= text_area_tag "message_text" %>

      <%= submit_tag "Cancel Hiring", class: 'continue-btn' %>

      <div class="small-grey-text">Cancellation is effective immediately</div>
    </div>
  <% end %>
</div>