<div class="hire_an_employee_box">

  <div><b>For your consideration</b></div>
  <br/>
  <div>Serious misconduct is when an employee:</div>
  <br/>
  <ul style="list-style-type:disc;">
    <li>causes serious and imminent risk to the health and safety of another person or to the reputation or profits of their employer's business or</li>
    <li>deliberately behaves in a way that's inconsistent with continuing their employment.</li>
  </ul>

  <div>Examples of serious misconduct include:</div>
  <br/>
  <ul style="list-style-type:disc;">
    <li>theft</li>
    <li>fraud</li>
    <li>assault</li>
    <li>being drunk at work</li>
    <li>refusing to carry out work duties.</li>
  </ul>
  <br/>

  <%= form_tag tell_poster_hiring_path(id: @transaction.id), method: :patch, id: "cancellation_reason_form" do |f| %>
    <%= hidden_field_tag "reason", "The employee commited an act of serious misconduct" %>

    <div class="my-mistake">
      <div class="title-main">Your Refund Summary</div>
      <div><b>This listing has cancellation policy</b></div>

      <div class="under-title">If you cancel now, you'll receive refund for remaining days in hiring contract that you've paid up to. The Poster will receive payment for work that the Employee has done up to today full day. Spare Staff service fee is not refundable.</div>

      <%= render partial: 'refund_amount' %>

      <div class="custom-label">Tell <%= @listing.poster.name %> why you need to cancel</div>

      <%= text_area_tag "message_text",nil, required: true %>

      <%= submit_tag "Cancel Hiring", class: 'continue-btn' %>

      <div class="small-grey-text">Cancellation is effective immediately</div>
    </div>
  <% end %>
</div>