<%= render partial: "employee_listings/user_settings_header" %>

<div class="change-or-hiring-section">
  <div class="left-detail">
    <div class="text-allign-center">
      <% if @listing.profile_picture.present? %>
        <%= image_tag @listing.profile_picture.url, class: 'pro-pic' %>
      <% else %>
        <%= image_tag 'no-image.jpg', class: 'pro-pic' %>
      <% end %>
      <div class="sub-title"><%= @listing.title %></div>
      <div><%= @listing.name %></div>
      <div class="grey-text"><%= "Poster: #{@listing.poster.name}" %></div>
    </div>

    <div class="order-details first-order">
      <div class="order-item">
        <span><b><%= @transaction.start_date.strftime("%d %h %Y") %></b></span>
        <span>&nbsp;&nbsp;&nbsp; > &nbsp;</span>
        <span><b><%= @transaction.end_date.strftime("%d %h %Y") %></b></span>
      </div>
      <% total_hours = @transaction.total_weekday_hours + @transaction.total_weekend_hours %>
      <div class="OrderTotalHour"><%= "#{total_hours} Hour Total" %></div>
      <% @transaction.bookings.order(:day).group_by(&:day).each do |day, bookings| %>
        <div class="order-item space-bottom">
          <span><%= day.titleize %></span>
          <span><%= "#{bookings.first.start_time.strftime("%H:%M")} - #{bookings.first.end_time.strftime("%H:%M")}" %></span>
        </div>
      <% end %>
    </div>
      <% if !((@transaction.end_date - @transaction.start_date).to_i < 29) %>
        <div class="order-details">
          <div class="order-item space-bottom">
            <span class="grey-text">Probationary period</span>
          </div>
          <div class="order-item ">
            <div class="month1">
              <% if @transaction.probationary_period.present? %>
                <%= @transaction.probationary_period.eql?(1) ? "#{@transaction.probationary_period} month" : "#{@transaction.probationary_period} months" %>
              <% else %>
                NA
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <div class="order-details">
      <h3 class="sub-title">Weekly payment</h3>
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekday_price.to_f} x #{@transaction.weekday_hours} hours" %></span>
        <span><%= "$#{@listing.weekday_price.to_f * @transaction.weekday_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekend_price.to_f} x #{@transaction.weekend_hours} hours" %><br />(weekend)</span>
        <span><%= "$#{@listing.weekend_price.to_f * @transaction.weekend_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Tax withholding</span>
        <span><%= "-$#{@transaction.tax_withholding_amount}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Service fee</span>
        <span>$<%= @transaction.service_fee.round(2) %></span>
      </div>
      <div class="order-item space-bottom">
        <span><b>Weekly total</b></span>
        <span><b><%= "$#{(@transaction.amount - @transaction.tax_withholding_amount + @transaction.service_fee).round(2)}" %></b></span>
      </div>
    </div>

    <div class="toggle-payment-detail">Total employment contract</div>

    <div class="order-details show-payment-box">
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekday_price.to_f} x #{@transaction.total_weekday_hours} hours" %></span>
        <span><%= "$#{@listing.weekday_price.to_f * @transaction.total_weekday_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekend_price.to_f} x #{@transaction.total_weekend_hours} hours" %><br />(weekend)</span>
        <span><%= "$#{@listing.weekend_price.to_f * @transaction.total_weekend_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Tax withholding</span>
        <span><%= "-$#{@transaction.total_tax_withholding}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Service fee</span>
        <span>$<%= @transaction.total_service_fee.round(2) %></span>
      </div>
      <div class="order-item space-bottom">
        <span><b>Total</b></span>
        <span><b><%= "$#{@transaction.total_amount.round(2)}" %></b></span>
      </div>

      <div class="text-center grey-text detail-bot-text">You will not pay the Total employment contract upfront. You chose to pay weekly.</div>
    </div>

  </div>

  <div class="right-detail cancel-hirings-right-detail">
    <div class="cancel-hirings-section">
      <h3 class="main-heading">Your Hiring Has Been Cancelled</h3>
      <div><b>Reason to cancel:</b></div>
      <div><%= @transaction.reason %></div>

      <%= form_tag tell_poster_hiring_path(id: @transaction.id), method: :patch, id: "cancellation_reason_form" do |f| %>
        <div class="cancel-successfully">
          <div class="title-main">Your Refund Summary</div>
          <div class="calculation-list">
            <div class="list-item">
              <div class="left-item">
                Total Fees
              </div>
              <div class="right-item">
                $<%= (@refund_receipt > 0 ? (@refund_receipt + @refund_receipt * @transaction.commission_from_hirer) : 0).round(2)  %>
              </div>
            </div>
            <div class="list-item">
              <div class="left-item">
                Service fee
              </div>
              <div class="right-item">
                -$<%=(@refund_receipt > 0 ? (@refund_receipt * @transaction.commission_from_hirer) : 0).round(2) %>
              </div>
            </div>
            <div class="list-item grey-list-item">
              <div class="left-item">
                <strong>Your Total Refund</strong>
              </div>
              <div class="right-item">
                <% if (@transaction.state.eql?("accepted") && @transaction.start_date > Date.today) %>
                  <strong>$<%= (@transaction.hirer_weekly_amount).round(2) %></strong>
                <% else %>
                  <strong>$<%= (@refund_receipt).round(2) %></strong>
                <% end %>
              </div>
            </div>
          </div>
          <% if @conversation.present? %>
            <div class="sub-title2">Your message to <%= @listing.poster.name %></div>
            <div class="grey-text"><%= @conversation.messages&.last&.content %>
            </div>
          <% end %>

          <div>Cancellation takes effect immediately. You will receive an email confirmation from Spare Staff.</div>

          <%= link_to "View Your Hirings", hirings_path, class: 'continue-btn' %>
        </div>

      <% end %>

    </div>
  </div>
</div>

<%= render partial: "layouts/footer" %>

<script type="text/javascript">
  $('.toggle-payment-detail').click(function(){
    $('.show-payment-box').toggle();
  });
</script>