<%= render partial: "employee_listings/user_settings_header" %>

<div class="change-or-hiring-section">
  <div class="left-detail">
    <div class="text-allign-center">
      <% if @listing.profile_picture.present? %>
        <%= image_tag @listing.profile_picture.url, class: 'pro-pic' %>
      <% else %>
        <%= image_tag 'no-image.jpg', class: 'pro-pic' %>
      <% end %>
      <div class="sub-title"><%= @listing.title %></div>
      <div><%= @listing.name %></div>
      <div class="grey-text"><%= "Poster: #{@listing.poster.name}" %></div>
    </div>

    <div class="order-details first-order">
      <div class="order-item">
        <span><b><%= @transaction.start_date.strftime("%d %h %Y") %></b></span>
        <span>&nbsp;&nbsp;&nbsp; > &nbsp;</span>
        <span><b><%= @transaction.end_date.strftime("%d %h %Y") %></b></span>
      </div>
      <% total_hours = @transaction.total_weekday_hours + @transaction.total_weekend_hours %>
      <div class="OrderTotalHour"><%= "#{total_hours} Hour Total" %></div>
      <% @transaction.bookings.group_by(&:day).each do |day, bookings| %>
        <div class="order-item space-bottom">
          <span><%= bookings.first.day.titleize %></span>
          <span><%= "#{bookings.first.start_time.strftime("%H:%M")} - #{bookings.first.end_time.strftime("%H:%M")}" %></span>
        </div>
      <% end %>
    </div>
    <div class="order-details">
      <div class="order-item space-bottom">
        <span class="grey-text">Probationary period</span>
      </div>
      <div class="order-item ">
        <div class="month1">
          <% if @transaction.probationary_period.present? %>
            <%= @transaction.probationary_period.eql?(1) ? "#{@transaction.probationary_period} month" : "#{@transaction.probationary_period} months" %>
          <% else %>
            NA
          <% end %>
          </div>
      </div>
    </div>
    <div class="order-details">
      <h3 class="sub-title">Weekly payment</h3>
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekday_price.to_f} x #{@transaction.weekday_hours} hours" %></span>
        <span><%= "$#{@listing.weekday_price.to_f * @transaction.weekday_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekend_price.to_f} x #{@transaction.weekend_hours} hours" %><br />(weekend)</span>
        <span><%= "$#{@listing.weekend_price.to_f * @transaction.weekend_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Tax withholding</span>
        <span><%= "-$#{@transaction.tax_withholding_amount.round(2)}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Service fee</span>
        <span><%= "$#{@transaction.service_fee.round(2)}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span><b>Weekly total</b></span>
        <span><b>$<%= @transaction.hirer_weekly_amount %></b></span>
      </div>
    </div>

    <div class="toggle-payment-detail">Total employment contract</div>

    <div class="order-details show-payment-box">
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekday_price.to_f} x #{@transaction.total_weekday_hours} hours" %></span>
        <span><%= "$#{@listing.weekday_price.to_f * @transaction.total_weekday_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekend_price.to_f} x #{@transaction.total_weekend_hours} hours" %><br />(weekend)</span>
        <span><%= "$#{@listing.weekend_price.to_f * @transaction.total_weekend_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Tax withholding</span>
        <span><%= "-$#{@transaction.total_tax_withholding.round(2)}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Service fee</span>
        <span><%= "$#{@transaction.total_service_fee.round(2)}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span><b>Total</b></span>
        <span><b><%= "$#{(@transaction.total_amount).round(2)}" %></b></span>
      </div>

      <div class="text-center grey-text detail-bot-text">You will not pay the Total employment contract upfront. You chose to pay weekly.</div>
    </div>

  </div>

  <div class="right-detail cancel-hirings-right-detail">
    <div class="cancel-hirings-section">
      <h3 class="main-heading">Cancel Hiring Contract</h3>
      <h3 class="comman-heading">Why do you need to cancel?</h3>

      <% Transaction::HIRING_CANCELLATION_REASON.each_with_index do |reason, index| %>
        <% if index.eql?(6) || index.eql?(7) %>
          <% if @transaction.start_date < Date.today %>
            <div class="cancellation_reason">
              <%= radio_button_tag "reason", reason, false, id: "reason#{index+1}", class: "cancellation_reasons" %>
              <%= reason %>
            </div>
          <% end %>
        <% else %>
          <div class="cancellation_reason">
            <%= radio_button_tag "reason", reason, false, id: "reason#{index+1}", class: "cancellation_reasons" %>
            <%= reason %>
          </div>
        <% end %>
      <% end %>

      <!-- One -->
      <div id="reason_1_form" class="cancellation_reason_forms hidden">
        <%= render partial: "hirings/your_refund_summary" %>
      </div>
      <!-- Two -->
      <div id="reason_2_form" class="cancellation_reason_forms hidden">
        <%= render partial: "hirings/employee_changed" %>
      </div>
      <!-- Three -->
      <div id="reason_3_form" class="cancellation_reason_forms hidden">
        <%= render partial: "hirings/my_mistake_1" %>
      </div>
      <!-- Four -->
      <div id="reason_4_form" class="cancellation_reason_forms hidden">
        <%= render partial: "hirings/circumstance" %>
      </div>
      <!-- Five -->
      <div id="reason_5_form" class="cancellation_reason_forms hidden">
        <%= render partial: "hirings/needs_to_cancel" %>
      </div>
      <!-- Six -->
      <div id="reason_6_form" class="cancellation_reason_forms hidden">
        <%= render partial: "hirings/my_mistake_2" %>
      </div>
      <!-- Seven -->
      <div id="reason_7_form" class="cancellation_reason_forms hidden">
        <%= render partial: "hirings/my_expectation" %>
      </div>
      <!-- Eight -->
      <div id="reason_8_form" class="cancellation_reason_forms hidden">
        <%= render partial: "hirings/serious_conduct" %>
      </div>
      <!-- Nine -->
      <div id="reason_9_form" class="cancellation_reason_forms hidden">
        <%= render partial: "hirings/other_field" %>
      </div>

    </div>
  </div>
</div>

<%= render partial: "layouts/footer" %>

<style type="text/css">
  .hidden{
    display: none;
  }
</style>

<script type="text/javascript">
  $('.toggle-payment-detail').click(function(){
    $('.show-payment-box').toggle();
  });

  $(".cancellation_reasons").click(function(){
    var reason_id = $(this).attr("id");
    if (reason_id === "reason1") {
      $(".cancellation_reason_forms").hide();
      $("#reason_1_form").show();
    } else if (reason_id === "reason2") {
      $(".cancellation_reason_forms").hide();
      $("#reason_2_form").show();
    } else if (reason_id === "reason3") {
      $(".cancellation_reason_forms").hide();
      $("#reason_3_form").show();
    } else if (reason_id === "reason4") {
      $(".cancellation_reason_forms").hide();
      $("#reason_4_form").show();
    } else if (reason_id === "reason5") {
      $(".cancellation_reason_forms").hide();
      $("#reason_5_form").show();
    } else if (reason_id === "reason6") {
      $(".cancellation_reason_forms").hide();
      $("#reason_6_form").show();
    } else if (reason_id === "reason7") {
      $(".cancellation_reason_forms").hide();
      $("#reason_7_form").show();
    } else if (reason_id === "reason8") {
      $(".cancellation_reason_forms").hide();
      $("#reason_8_form").show();
    } else if (reason_id === "reason9") {
      $(".cancellation_reason_forms").hide();
      $("#reason_9_form").show();
    }
  });
</script>
