<%= render partial: "employee_listings/user_settings_header" %>

<div class="your-hiring-section">
  <div class="inner-box">
    <div class="hired_listing_transactions">
      <%= render partial: "hiring_list", locals: {transactions: @hired_listing_transactions} %>
    </div>
    <%#End Of Hired List%>
    <div class="past_listing_transactions">
      <%= render partial: "past_listings_transactions", locals: {past_listings: @past_listing_transactions} %>
    </div>
    <div class="declined_cancelled_transactions">
      <%= render partial: "declined_listing_transaction", locals: {declined_cancelled: @declined_listing_transactions} %>
    </div>
  </div>
</div>

<%= render partial: "layouts/footer" %>
<div class="will_pagination_box changes">
  <%= js_will_paginate @hired_listing_transactions %>
</div>

<%= render partial: "share_details_popup" %>

<script type="text/javascript">
  $('.toggle-orange-hd').click(function(){
    $('.declined-hiring-cards').toggle();
  });
  $(".share-detail-link").click(function(){
    var transaction_id = $(this).data("attribute");
    //$("#shareDetailsModal").modal('show');
    $("#transaction_hidden_field").val(transaction_id);
  })
  $('.listing_star_rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
      },
      starOn: 'https://i.ibb.co/XJBTTTK/star-on.png',
      starOff:  'https://i.ibb.co/HhTx9dL/star-off.png'
  });
</script>
