<div class="show-hiring-section">
  <div class="inner-show-hiring">
    <div class="header-box">
      <div class="header-left">
        <h1 class="hiring-title">You're hiring Cristiano Ronaldo!</h1>
        <div>Hiring ID: 12345</div>
      </div>
      <div class="header-right">
        <%= link_to "Print", '#', class: 'print-btn' %>
      </div>
    </div>

    <div class="inner-hiring-box">
      <div class="left-hiring-box">
        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Employee</b>
          </div>
          <div class="user-detail-box-right">
            <div class="both-box">
              <div class="both-left">
                <div>Senior IT Administrator <br/>  Cristiano Ronaldo </div>
              </div>
              <div class="both-right">
                <%= image_tag 'luca.png', class: 'Image150px' %>
              </div>
            </div>
          </div>
        </div>

        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Hiring Start</b>
          </div>
          <div class="user-detail-box-right">
            <div class="three-box">
              <div class="three-box-left">
                <div>12 Feb 2019</div>
              </div>
              <div class="three-box-middle">
                <div><b>Hiring End</b></div>
              </div>
              <div class="three-box-right">
                <div>24 Apr 2019</div>
              </div>
            </div>
          </div>
        </div>

        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Probation</b>
          </div>
          <div class="user-detail-box-right">
            <div class="three-box">
              <div class="three-box-left">
                <div>1 month</div>
              </div>
              <div class="three-box-middle">
                <div>&nbsp;</div>
              </div>
              <div class="three-box-right">
                <div>&nbsp;</div>
              </div>
            </div>
          </div>
        </div>

        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Timetable</b>
          </div>
          <div class="user-detail-box-right">
            <div class="three-box">
              <div class="three-box-left">
                <div>Monday</div>
                <div>Tuesday</div>
                <div>Saturday</div>
              </div>
              <div class="three-box-middle">
                <div>09:00 - 12:00</div>
                <div>15:00 - 17:00</div>
                <div>12:00 - 16:00</div>
              </div>
              <div class="three-box-right">
                <div>&nbsp;</div>
              </div>
            </div>
          </div>
        </div>

        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Address</b>
          </div>
          <div class="user-detail-box-right">
            <div class="three-box">
              <div class="three-box-left">
                <div>185 Enmore Rd Enmore NSW 2042 Australia</div>
              </div>
              <div class="three-box-middle">
                <div>&nbsp;</div>
              </div>
              <div class="three-box-right">
                <div>&nbsp;</div>
              </div>
            </div>
          </div>
        </div>

        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Billing</b>
          </div>
          <div class="user-detail-box-right">
            <div class="both-box space-both">
              <div class="box-left">
                <div>Weekly payment</div>
                <div>$35 x 5 hours</div>
                <div>$50.00 x 4 hours (weekend)</div>
                <div>Tax withholding</div>
                <div>Service fee</div>
                <div><b>Weekly total</b></div>
              </div>

              <div class="three-box-right">
                <div>&nbsp;</div>
                <div>$175.00</div>
                <div>$200.00</div>
                <div>-$4.00</div>
                <div>$11.13</div>
                <div><b>$382.13</b></div>
              </div>
            </div>

            <div class="both-box">
              <div class="box-left">
                <div>Total employment contract</div>
                <div>$35 x 55 hours</div>
                <div>$50.00 x 40 hours (weekend)</div>
                <div>Tax withholding</div>
                <div>Service fee</div>
                <div><b>Total</b></div>
              </div>

              <div class="three-box-right">
                <div>&nbsp;</div>
                <div>$1,925.00</div>
                <div>$2000.00</div>
                <div>-$40.00</div>
                <div>$116.13</div>
                <div><b>$4,001.55</b></div>
              </div>
            </div>

            <div class="bottem-text">You will not pay the Total employment contract upfront. You chose to pay weekly.</div>

            <%= link_to 'Get receipt', '', class: 'orange-link' %>
          </div>
        </div>

        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Need help?</b>
          </div>
          <div class="user-detail-box-right">
            <div>Visit the <%= link_to 'Help Center', '#', class: 'orange-link' %></div>
          </div>
        </div>

      </div>

      <div class="right-hiring-box">
        <div class="poster-view">
          <%= image_tag 'zidane-profile.jpg', class: 'ProfileIcon100pxNoBorder' %>
          <br>
          <br>
          <strong>Poster: PosterABC</strong>
          <br>
          Have a question about your hiring? The
          best way to get information is to
          discuss with the Poster directly.
          <br>
          <br>

          <%= link_to 'Message Poster', '#', class: 'continue-btn' %>
          <br>

          <%= link_to '#', class: 'orange-link' do  %>
            <%= image_tag 'tel-icon.jpg', class: 'Height20px VerticalAlignMiddle' %>
            &nbsp; +61 434 292 527
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "layouts/footer" %>

<style type="text/css">
  .LogoFooter {
    height: 20px;
    float: left;
    filter: grayscale(100%);
  }
</style>
