<table style="width: 100%">
  <tr>
    <td>
      <table style="width: 100%">
        <tr>
          <td class="UserLeftMenuGap">&nbsp;</td>
          <td style="width:85%">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td valign="top">
          </td>
          <td class="PaddingRightBottom20px">
            <br />
            <div class="FloatRight PaddingRight10px">
              <table class="ButtonDarkGrey90pxHeight40px">
                <tr>
                  <td><a href="#">Print</a>
                  </td>
                </tr>
              </table>
            </div>
            <span class="OrderListingTitle">You're hiring Cristiano Ronaldo!</span>
            <br />
            Hiring ID:
            12345
            <br /><br />
            <div class="divTable">
              <div class="divTableRow">
                <div class="divTableCell">
                  <div class="divTable OrderBox Width600Px FloatLeft">
                    <div class="divTableRow">
                      <div class="divTableCell Padding30Px FullWidth">
                        <div class="divTable">
                          <div class="divTableRow">
                            <div class="divTableCell VerticalAlignTop" style="width:25%">
                              <strong>Employee</strong>
                            </div>
                            <div class="divTableCell">
                              <div class="divTable">
                                <div class="divTableRow">
                                  <div class="divTableCell FloatLeft">
                                    Senior IT 
                                    Administrator<br />
                                    Cristiano 
                                    Ronaldo
                                  </div>
                                  <div class="divTableCell FloatRight">
                                    <%= image_tag "luca.png", class: "Image150px" %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br />
                        <div class="GreyLine1Px">
                        </div>
                        <br />
                        <div class="divTable">
                          <div class="divTableRow">
                            <div class="divTableCell VerticalAlignMiddle" style="width:25%">
                              <strong>Hiring Start</strong>
                            </div>
                            <div class="divTableCell VerticalAlignMiddle" style="width:25%">
                              12 Feb 2019
                            </div>
                            <div class="divTableCell VerticalAlignMiddle" style="width:25%">
                              <strong>Hiring End</strong>
                            </div>
                            <div class="divTableCell" style="width:25%">
                              24 Apr 2019
                            </div>
                          </div>
                        </div>
                        <br />
                        <div class="GreyLine1Px">
                        </div>
                        <br />
                        <div class="divTable">
                          <div class="divTableRow">
                            <div class="divTableCell VerticalAlignTop" style="width:25%">
                              <strong>Probation</strong>
                            </div>
                            <div class="divTableCell">
                              1 month
                            </div>
                          </div>
                        </div>
                        <br />
                        <div class="GreyLine1Px">
                        </div>
                        <br />
                        <div class="divTable">
                          <div class="divTableRow">
                            <div class="divTableCell VerticalAlignTop" style="width:25%">
                              <strong>Timetable</strong>
                            </div>
                            <div class="divTableCell">
                              <div class="divTable">
                                <div class="divTableRow">
                                  <div class="divTableCell VerticalAlignMiddle" style="width:33%">
                                    Monday
                                  </div>
                                  <div class="divTableCell VerticalAlignMiddle">
                                    09:00 - 12:00
                                  </div>
                                </div>
                                <div class="divTableRow">
                                  <div class="divTableCell VerticalAlignMiddle" style="width:33%">
                                    Tuesday
                                  </div>
                                  <div class="divTableCell VerticalAlignMiddle">
                                    15:00 - 17:00
                                  </div>
                                </div>
                                <div class="divTableRow">
                                  <div class="divTableCell VerticalAlignMiddle" style="width:33%">
                                    Saturday
                                  </div>
                                  <div class="divTableCell VerticalAlignMiddle">
                                    12:00 - 16:00
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br />
                        <div class="GreyLine1Px">
                        </div>
                        <br />
                        <div class="divTable">
                          <div class="divTableRow">
                            <div class="divTableCell VerticalAlignTop" style="width:25%">
                              <strong>Address</strong>
                            </div>
                            <div class="divTableCell">
                              185 Enmore Rd<br />
                              Enmore NSW 2042<br />
                              Australia
                            </div>
                          </div>
                        </div>
                        <br />
                        <div class="GreyLine1Px">
                        </div>
                        <br />
                        <div class="divTable">
                          <div class="divTableRow">
                            <div class="divTableCell VerticalAlignTop" style="width:25%">
                              <strong>Billing</strong>
                            </div>
                            <div class="divTableCell">
                              <div class="divTable">
                                <div class="divTableRow">
                                  <div class="divTableCell">
                                    Weekly payment
                                  </div>
                                  <div class="divTableCell">
                                  </div>
                                </div>
                                <div class="divTableRow">
                                  <div class="divTableCell FloatLeft">
                                    $35 x 5 hours
                                  </div>
                                  <div class="divTableCell FloatRight">
                                    $175.00
                                  </div>
                                </div>
                                <div class="divTableRow">
                                  <div class="divTableCell FloatLeft">
                                    $50.00 x 4 hours (weekend)
                                  </div>
                                  <div class="divTableCell FloatRight">
                                    $200.00
                                  </div>
                                </div>
                                <div class="divTableRow">
                                  <div class="divTableCell FloatLeft">
                                    Tax withholding
                                  </div>
                                  <div class="divTableCell FloatRight">
                                    -$4.00
                                  </div>
                                </div>
                                <div class="divTableRow">
                                  <div class="divTableCell FloatLeft">
                                    Service fee
                                  </div>
                                  <div class="divTableCell FloatRight">
                                    $11.13
                                  </div>
                                </div>
                                <div class="divTableRow">
                                  <div class="divTableCell FloatLeft">
                                    <strong>Weekly 
                                    total</strong>
                                  </div>
                                  <div class="divTableCell FloatRight">
                                    <strong>$382.13</strong>
                                  </div>
                                </div>
                              </div>
                              <br />
                              <div class="GreyLine1Px">
                              </div>
                              <br />
                              Total employment contract
                              <div class="" id="TotalEmploymentContract">
                                <div class="divTable">
                                  <div class="divTableRow">
                                    <div class="divTableCell FloatLeft">$35 x 
                                      55 hours
                                    </div>
                                    <div class="divTableCell FloatRight">$1,925.00</div>
                                  </div>
                                  <div class="divTableRow">
                                    <div class="divTableCell FloatLeft">$50.00 x 40 hours 
                                      (weekend)
                                    </div>
                                    <div class="divTableCell FloatRight">$2,000.00</div>
                                  </div>
                                  <div class="divTableRow">
                                    <div class="divTableCell FloatLeft">
                                      Tax withholding
                                    </div>
                                    <div class="divTableCell FloatRight">
                                      -$40.00
                                    </div>
                                  </div>
                                  <div class="divTableRow">
                                    <div class="divTableCell FloatLeft">
                                      Service fee
                                    </div>
                                    <div class="divTableCell FloatRight">
                                      $116.55
                                    </div>
                                  </div>
                                  <div class="divTableRow">
                                    <div class="divTableCell FloatLeft PaddingBottom10px">
                                      <strong>Total</strong>
                                    </div>
                                    <div class="divTableCell FloatRight PaddingBottom10px">
                                      <strong>$4,001.55</strong>
                                    </div>
                                  </div>
                                  <div class="divTableRow">
                                    <div class="divTableCell FloatLeft Text14px">
                                      <div class="GreyLine1Px">
                                      </div>
                                      <br />
                                      You will not pay the Total 
                                      employment contract upfront. You 
                                      chose to pay weekly.
                                    </div>
                                  </div>
                                </div>
                                <br />
                                <a href="user-hiring-view-hirer-receipt-list.html">Get receipt
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br />
                        <div class="GreyLine1Px">
                        </div>
                        <br />
                        <div class="divTable">
                          <div class="divTableRow">
                            <div class="divTableCell VerticalAlignTop" style="width:25%">
                              <strong>Need help?</strong>
                            </div>
                            <div class="divTableCell">
                              Visit the 
                              <a href="https://www.sparestaff.com.au/help" target="_blank">Help Center</a>.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divTableCell VerticalAlignTop PaddingLeft20px">
                  <div class="divTable OrderBox Width400Px">
                    <div class="divTableRow">
                      <div class="divTableCell Padding30Px FullWidth TextAllignCenter">
                        <%= image_tag "zidane-profile.jpg", class: "ProfileIcon100pxNoBorder" %><br />
                        <br />
                        <strong>Poster: PosterABC</strong><br />
                        Have a question about your hiring? The 
                        best way to get information is to 
                        discuss with the Poster directly.<br />
                        <br />
                        <table class="ButtonOrange AlignCenter">
                          <tr>
                            <td>
                              <a href="user-accepted-hiring-send-message.html">Message Poster</a>
                            </td>
                          </tr>
                        </table>
                        <br />
                        <%= image_tag "tel-icon.jpg", class: "Height20px VerticalAlignMiddle" %>&nbsp;
                        <a href="#">+61 434 292 527</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td valign="top">&nbsp;
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>&nbsp;
    </td>
  </tr>
  <tr>
    <td>
      <!--webbot bot="Include" u-include="../includes/footer.html" tag="BODY" startspan -->
      <table>
        <tr>
          <td colspan="6">
            <br />
            <div class="GreyLine1Px"></div>
            <br />
          </td>
        </tr>
        <tr>
          <td style="text-align: center; width: 80px;" rowspan="3">
            &nbsp;
          </td>
          <td style="text-align: center; width: 150px;" valign="top">
            <br />
            <%= image_tag "logo.png", class: "LogoFooter" %>
          </td>
          <td valign="top" style="width: 20%">
            <p class="FooterSectionHeading">Spare Staff</p>
            <a href="https://www.sparestaff.com.au/about-us" class="FooterMenuLink">About us</a><br />
            <a href="https://www.sparestaff.com.au/careers" class="FooterMenuLink">Careers</a><br />
            <a href="https://www.sparestaff.com.au/press" class="FooterMenuLink">Press</a><br />
            <a href="https://www.sparestaff.com.au/policies" class="FooterMenuLink">Policies</a><br />
            <a href="https://www.sparestaff.com.au/help" class="FooterMenuLink">Help</a>
          </td>
          <td valign="top" style="width: 25%">
            <p class="FooterSectionHeading">Easy Online Employee Hiring</p>
            <a href="https://www.sparestaff.com.au/why-list-your-employee" class="FooterMenuLink">Why list your employee</a><br />
            <a href="https://www.sparestaff.com.au/why-hire-on-spare-staff" class="FooterMenuLink">Why hire on Spare Staff</a><br />
            <a href="https://www.sparestaff.com.au/confidentiality" class="FooterMenuLink">Confidentiality</a><br />
          </td>
          <td valign="top" style="width: 25%">
            <p class="FooterSectionHeading">Employee Hiring &amp; Sharing</p>
            <a href="https://www.sparestaff.com.au/how-it-works" class="FooterMenuLink">How it works</a><br />
            <a href="https://www.sparestaff.com.au/trust-and-safety" class="FooterMenuLink">Trust &amp; safety</a><br />
            <a class="FooterMenuLink" href="../list-an-employee/list-an-employee-intro.html">List an employee</a><br />
          </td>
          <td rowspan="3" style="width: 80px">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4">
            <br />
            <div class="GreyLine1Px"></div>
            <br />
          </td>
        </tr>
        <tr>
          <td class="PaddingBottom20px"><a href="https://www.sparestaff.com.au/copyright" class="FooterBottomLink">© Spare Staff</a></td>
          <td>&nbsp;</td>
          <td colspan="2" style="text-align: right" valign="top">
            <a href="https://www.sparestaff.com.au/terms" class="FooterBottomLink">Terms</a>&nbsp;
            <a href="https://www.sparestaff.com.au/privacy" class="FooterBottomLink">Privacy</a>&nbsp;
            <a href="https://www.sparestaff.com.au/site-map" class="FooterBottomLink">Site Map</a>&nbsp;
            <%= image_tag "social-icons.png", style: "height: 15; width: 61;" %>
          </td>
        </tr>
      </table>
      <!--webbot bot="Include" endspan i-checksum="63862" -->
    </td>
  </tr>
</table>

<style type="text/css">
  .LogoFooter {
    height: 20px;
    float: left;
    filter: grayscale(100%);
  }
</style>
