<%= render partial: "employee_listings/user_settings_header" %>


<div class="reservation-change-or-cancel">
  <div class="main-heading">Change or cancel HirerDEF's hiring reservation</div>
  <div class="gray-text">Senior IT Administrator - Cristiano Ronaldo | 12 Feb 2019 - 24 Apr 2019, 95 Hour Total | Enmore NSW 2042</div>

  <div class="change-or-cancel-row">
    <div class="change-or-cancel-box">
      <%= link_to '#' do %>
        <%= image_tag 'change-icon.png', class: 'Height30px' %>
      <% end %>
      <%= link_to 'Change Hiring Reservation', '#', class: 'GreyLink22Px' %>
      <div>Change hiring dates, work timetable, hours, or prices.</div>
      <%= link_to 'Change Reservation', '#', class: 'transparent-continue-btn' %>
    </div>

    <div class="change-or-cancel-box">
      <%= link_to '#' do %>
        <%= image_tag 'cancel-icon.png', class: 'Height30px' %>
      <% end %>
      <%= link_to 'Cancel Hiring Reservation', '#', class: 'GreyLink22Px' %>
      <div>Only cancel if changing hiring reservation is not an
      option. Penalty may apply.</div>
      <%= link_to 'Cancel Reservation', '#', class: 'transparent-continue-btn' %>
    </div>

  </div>
</div>

<%= render partial: "layouts/footer" %>

<script type="text/javascript">
  $('.toggle-payment-detail').click(function(){
    $('.show-payment-box').toggle();
  });
</script>