<%= render partial: "employee_listings/user_settings_header" %>

<li class="panel-item">
  <%= link_to "Your Listings", employee_index_path, id: "YourListingsLeftMenu", class: 'panel-link' %>
</li>
<li class="panel-item">
  <%= link_to "Your Reservations", reservations_path, class: 'panel-link' %>
</li>




<table class="calender table holiday_schedule">
  <tr>
    <th>Status</th>
    <th colspan="7">Dates, Hours, Location</th>
    <th colspan="3">Hired Employee</th>
    <th colspan="5">Hirer</th>
  </tr>
  <% @posted_listing_transactions.each do |transaction| %>
    <tr>
      <td><%=transaction.state%></td>
      <td colspan="7"><%= transaction.employee_listing.start_publish_date.strftime("%d %b  %Y")%> - <%=transaction.employee_listing.end_publish_date.strftime("%d %b  %Y")%>,<%=transaction.weekday_hours + transaction.weekend_hours%>Hour Total, <%=transaction.employee_listing.address_1%>,<%=transaction.employee_listing.city%>, <%=transaction.employee_listing.state%>, <%= transaction.employee_listing.post_code%></td>
      <%if transaction.employee_listing.profile_picture.present?%>
      <td colspan="3"><%= image_tag transaction.employee_listing.profile_picture.url, class: 'res' %><%= transaction.employee_listing.title%>, <%= "#{transaction.employee_listing.first_name}#{transaction.employee_listing.last_name}"%></td>
      <%else%>
       <td><%= image_tag 'no-image.jpg' %></td>
      <%end%>
      <td colspan="5"><%= image_tag 'no-image.jpg',  class: 'res'  %>,<%="#{transaction.hirer.first_name} #{transaction.hirer.last_name}"%>,<%= transaction.hirer.company.name%>,<%= transaction.hirer.user_type%>,<%= transaction.hirer.company.contact_no%></td>
    </tr>
  <%end%>
</table>

<div>
  <h1>Details</h1>
  <% @posted_listing_transactions.each do |transaction| %>
   <p>$ <%=transaction.total_amount%>Total</p>
   <%= link_to 'Change or Cancel', change_or_cancel_reservation_path(id: transaction.id), class: "btn_over" %><br>
  <%end%>
   <%= link_to 'Print confirmation', 'javascript:;', class: "btn_over" %><br>
   <%= link_to 'Message history', 'javascript:;', class: "btn_over" %><br>
   <%= link_to 'View invoices', 'javascript:;', class: "btn_over" %><br>
</div>

<%= render partial: "layouts/footer" %>

<style type="text/css">
  img.res {
      width: 100px;
  }
</style>