<div class="show-hiring-section">
  <div class="inner-show-hiring">
    <div class="header-box">
      <div class="header-left">
        <h1 class="hiring-title">Hiring contract for <%= @listing.name %>!</h1>
        <div>Hiring ID: <%= @transaction.id %></div>
      </div>
      <div class="header-right">
        <%= link_to "Print", '#', class: 'print-btn' %>
      </div>
    </div>

    <div class="inner-hiring-box">
      <div class="left-hiring-box">
        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Employee</b>
          </div>
          <div class="user-detail-box-right">
            <div class="both-box">
              <div class="both-left">
                <div><%= @listing.title %> <br/> <%= @listing.name %> </div>
              </div>
              <div class="both-right">
                <% if @listing.profile_picture.present? %>
                  <%= image_tag @listing.profile_picture.url, class: 'Image150px' %>
                <% else %>
                  <%= image_tag 'no-image.jpg', class: 'Image150px' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Hiring Start</b>
          </div>
          <div class="user-detail-box-right">
            <div class="three-box">
              <div class="three-box-left">
                <div><%= @transaction.start_date.strftime("%d %h %Y") %></div>
              </div>
              <div class="three-box-middle">
                <div><b>Hiring End</b></div>
              </div>
              <div class="three-box-right">
                <div><%= @transaction.end_date.strftime("%d %h %Y") %></div>
              </div>
            </div>
          </div>
        </div>

        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Probation</b>
          </div>
          <div class="user-detail-box-right">
            <div class="three-box">
              <div class="three-box-left">
                <div><%= @transaction.probationary_period.present? ? "#{@transaction.probationary_period} month" : "-" %></div>
              </div>
              <div class="three-box-middle">
                <div>&nbsp;</div>
              </div>
              <div class="three-box-right">
                <div>&nbsp;</div>
              </div>
            </div>
          </div>
        </div>

        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Timetable</b>
          </div>
          <div class="user-detail-box-right">
            <% @transaction.bookings.group_by(&:day).each do |day, bookings| %>
              <div class="three-box">
                <div class="three-box-left">
                  <div><%= bookings.first.day.titleize %></div>
                </div>
                <div class="three-box-middle">
                  <div>
                    <%= "#{bookings.first.start_time.strftime("%H:%M")} - #{bookings.first.end_time.strftime("%H:%M")}" %>
                  </div>
                </div>
                <div class="three-box-right">
                  <div>&nbsp;</div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Address</b>
          </div>
          <div class="user-detail-box-right">
            <div class="three-box">
              <div class="three-box-left">
                <div>
                  <%= "#{@listing.address_1}" %>
                  <%= "#{@listing.city} #{@listing.state} #{@listing.post_code}" %>
                  <%= "#{@listing.country}" %>
                </div>
              </div>
              <div class="three-box-middle">
                <div>&nbsp;</div>
              </div>
              <div class="three-box-right">
                <div>&nbsp;</div>
              </div>
            </div>
          </div>
        </div>

        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Payout</b>
          </div>
          <div class="user-detail-box-right">
            <div class="both-box space-both">
              <div class="box-left">
                <div>Weekly payout</div>
                <div>$<%= "#{@listing.weekday_price} x #{@transaction.weekday_hours} hours" %></div>
                <div>$<%= "#{@listing.weekend_price} x #{@transaction.weekend_hours} hours (weekend)" %></div>
                <div>Tax withholding</div>
                <div>Service fee</div>
                <div><b>Weekly total</b></div>
              </div>

              <div class="three-box-right">
                <div>&nbsp;</div>
                <div>$<%= @listing.weekday_price * @transaction.weekday_hours %></div>
                <div>$<%= @listing.weekend_price * @transaction.weekend_hours %></div>
                <div>-$<%= @transaction.tax_withholding_amount.round(2) %></div>
                <div>-$<%= @transaction.poster_service_fee.round(2) %></div>
                <div><b>$<%= (@transaction.amount - @transaction.poster_service_fee - @transaction.tax_withholding_amount).round(2) %></b></div>
              </div>
            </div>

            <div class="both-box">
              <div class="box-left">
                <div>Total employment contract</div>
                <div>$<%= "#{@listing.weekday_price} x #{@transaction.total_weekday_hours} hours" %></div>
                <div>$<%= "#{@listing.weekend_price} x #{@transaction.total_weekend_hours} hours (weekend)" %></div>
                <div>Tax withholding</div>
                <div>Service fee</div>
                <div><b>Total</b></div>
              </div>

              <div class="three-box-right">
                <div>&nbsp;</div>
                <div>$<%= @listing.weekday_price * @transaction.total_weekday_hours %></div>
                <div>$<%= @listing.weekend_price * @transaction.total_weekend_hours %></div>
                <div>-$<%= @transaction.total_tax_withholding.round(2) %></div>
                <div>-$<%= @transaction.poster_total_service_fee.round(2) %></div>
                <div><b>$<%= @transaction.poster_total_amount.round(2) %></b></div>
              </div>
            </div>

            <div class="bottem-text">You will not receive the Total employment contract upfront. You will receive payout weekly.</div>
          </div>
        </div>

        <div class="user-detail-box">
          <div class="user-detail-box-left">
            <b>Need help?</b>
          </div>
          <div class="user-detail-box-right">
            <div>Visit the <%= link_to 'Help Center', 'javascript:;', class: 'orange-link' %></div>
          </div>
        </div>

      </div>

      <div class="right-hiring-box">
        <div class="poster-view">
          <%= image_tag 'zidane-profile.jpg', class: 'ProfileIcon100pxNoBorder' %>
          <br>
          <br>
          <strong>Hirer: <%= @transaction.hirer.name %></strong>
          <br>
          <div class="text-center">
            Need more information about the work? Send a message to the hirer.
          </div>
          <br>

          <%= link_to 'Message Hirer', 'javascript:;', class: 'continue-btn' %>
          <br>

          <%= link_to 'javascript:;', class: 'orange-link' do  %>
            <%= image_tag 'tel-icon.jpg', class: 'Height20px VerticalAlignMiddle' %>
            &nbsp; +61 434 292 527
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "layouts/footer" %>

<style type="text/css">
  .LogoFooter {
    height: 20px;
    float: left;
    filter: grayscale(100%);
  }
</style>
