<%= render partial: "employee_listings/user_settings_header" %>

<div class="change-or-hiring-section">
  <div class="left-detail">
    <div class="text-allign-center">
      <% if @listing.profile_picture.present? %>
        <%= image_tag @listing.profile_picture.url, class: 'pro-pic' %>
      <% else %>
        <%= image_tag 'no-image.jpg', class: 'pro-pic' %>
      <% end %>
      <div class="sub-title"><%= @listing.title %></div>
      <div><%= @listing.name %></div>
      <div class="grey-text"><%= "Hirer: #{@transaction.hirer.name}" %></div>
    </div>

    <div class="order-details first-order">
      <div class="order-item">
        <span><b><%= @transaction.start_date.strftime("%d %h %Y") %></b></span>
        <span>&nbsp;&nbsp;&nbsp; > &nbsp;</span>
        <span><b><%= @transaction.end_date.strftime("%d %h %Y") %></b></span>
      </div>
      <% total_hours = @transaction.total_weekday_hours + @transaction.total_weekend_hours %>
      <div class="OrderTotalHour"><%= "#{total_hours} Hour Total" %></div>
      <% @transaction.bookings.group_by(&:day).each do |day, bookings| %>
        <div class="order-item space-bottom">
          <span><%= day.titleize %></span>
          <span><%= "#{bookings.first.start_time.strftime("%H:%M")} - #{bookings.first.end_time.strftime("%H:%M")}" %></span>
        </div>
      <% end %>
    </div>

    <div class="order-details">
      <div class="order-item space-bottom">
        <span class="grey-text">Probationary period</span>
      </div>
      <div class="order-item ">
        <div class="month1">
          <% if (@transaction.end_date - @transaction.start_date).to_i < 30 %>
            NA
          <% elsif @transaction.probationary_period.present? %>
            <%= @transaction.probationary_period.eql?(1) ? "#{@transaction.probationary_period} month" : "#{@transaction.probationary_period} months" %>
          <% else %>
            NA
          <% end %>
        </div>
      </div>
    </div>

    <div class="order-details">
      <h3 class="sub-title">Weekly payout</h3>
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekday_price.to_f} x #{@transaction.weekday_hours} hours" %></span>
        <span><%= "$#{@listing.weekday_price.to_f * @transaction.weekday_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekend_price.to_f} x #{@transaction.weekend_hours} hours" %><br />(weekend)</span>
        <span><%= "$#{@listing.weekend_price.to_f * @transaction.weekend_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Tax withholding</span>
        <span><%= "-$#{@transaction.tax_withholding_amount}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Service fee</span>
        <span>-$<%= @transaction.poster_service_fee.round(2) %></span>
      </div>
      <div class="order-item space-bottom">
        <span><b>Weekly total</b></span>
        <span><b><%= "$#{@transaction.amount - @transaction.tax_withholding_amount - @transaction.poster_service_fee}" %></b></span>
      </div>
    </div>

    <div class="toggle-payment-detail">Total employment contract</div>

    <div class="order-details show-payment-box">
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekday_price.to_f} x #{@transaction.total_weekday_hours} hours" %></span>
        <span><%= "$#{@listing.weekday_price.to_f * @transaction.total_weekday_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekend_price.to_f} x #{@transaction.total_weekend_hours} hours" %><br />(weekend)</span>
        <span><%= "$#{@listing.weekend_price.to_f * @transaction.total_weekend_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Tax withholding</span>
        <span><%= "-$#{@transaction.total_tax_withholding}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Service fee</span>
        <span>-$<%= @transaction.poster_total_service_fee.round(2) %></span>
      </div>
      <div class="order-item space-bottom">
        <span><b>Total</b></span>
        <span><b><%= "$#{@transaction.poster_total_amount.round(2)}" %></b></span>
      </div>

      <div class="text-center grey-text detail-bot-text">You will not recieve the Total employment contract upfront. You will recieve payout weekly.</div>
    </div>
    <br>
    <div class="GreyLine1Px"></div>
    <br>
    <div class="divTable">
      <div class="divTableRow">
        <div class="divTableCell PaddingBottom10px">
          <span class="GreyText18PxStrong">Missed earnings</span><br>
          Hourly total,<br>
          minus tax withholding,<br>
          minus service fee</div><div class="divTableCell PaddingBottom10px ">
          <span class="GreyText18Px TextLineThrough">$<%= @transaction.missed_earning.round(2) %></span></div>
      </div>
    </div>
  </div>

  <div class="right-detail cancel-hirings-right-detail">
    <div class="cancel-hirings-section">
      <h3 class="main-heading">Cancel Hiring Reservation</h3>

      <%= form_tag tell_hirer_reservation_path(id: @transaction.id), method: :patch, id: "cancellation_reason_form" do |f| %>

        <div class="affect-poster">
          <span class="sub-title">Consider <%= @transaction.hirer.name %>’s plan before cancelling</span><br>
          Cancelling hiring reservation now can disrupt their plan and have serious implication on their business and work flow.
          <br>
          <%= @transaction.hirer.name %> will be refunded the hiring reservation cost for the time that the Employee has not worked.
        </div>

        <div class="custom-label">Tell <%= @transaction.hirer.name %> why you need to cancel</div>

        <%= text_area_tag "message_text",nil, required: true %>
        The hiring reservation will be cancelled immediately.
        <div class="reservation_cancel_actions">
          <%= render partial: "reservation_cancel_actions"%>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render partial: "layouts/footer" %>

<script type="text/javascript">
  $('.toggle-payment-detail').click(function(){
    $('.show-payment-box').toggle();
  });
</script>
