<style type="text/css">
  * {
    font-family: ‘Circular Std Book’, ‘Circular Std’, CircularStdBook, Helvetica, Arial;
  }

 body::-webkit-scrollbar { 
    display: none; 
  } 

  .view_hiring:link{
    text-decoration: none;    
  }

  .view_hiring:visited{ 
    text-decoration: none;      
  }

  .view_hiring:hover{
    text-decoration: underline;
  }
  .Visit:link{
    text-decoration: none;
    color: #f15927;
  }

  .Visit:visited{ 
    text-decoration: none;   
    color: #f15927;
  }

  .Visit:hover{
    text-decoration: underline;
  }

</style>



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-au" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Employee hire confirmed for <%= @listing.name %></title>
<link href="../sparestaff.css" rel="stylesheet" type="text/css" />
</head>

<body>

<table class="Padding80px" style="width: 100%">
	<tr>
		<td>&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<td>
		<img alt="" class="LogoInEmail" src="https://staging.sparestaff.com.au/assets/logo.png" style="height: 30px;"/>
	</tr>
	<tr>
		<td><br />
		<h1 style="color: #484848;">Your employee hire is confirmed</h1>
		<p style="color: #484848;">You're hiring </p><br />
		<br />
		<table style="width: 500px">
			<tr>
				<td style="width: 50%; color: #484848;"><%= @listing.name %><br />
				<%= @listing.title %></td>
				<td>
				 <img alt="" src="https://staging.sparestaff.com.au/assets/luca.png" class="Image200pxRight" style="width:200px; float:right;"/></td>
			</tr>
			<tr>
				<td colspan="2">
				<br />
				<div class="GreyLine1Px" style="height: 1px; background-color: #e4e4e4; padding: 0px;"></div> <br />
				</td>
			</tr>
			<tr>
				<td style="width: 300px; color: #484848;"><strong>From</strong><br />
				<%= @transaction.start_date.strftime("%A %b %d, %Y") %></td>
				<td style="text-align: right;color: #484848;"><strong>To</strong><br />
				<%= @transaction.end_date.strftime("%A %b %d, %Y") %></td>
			</tr>
			<tr>
				<td colspan="2"><br />
<div class="GreyLine1Px" style="height: 1px; background-color: #e4e4e4; padding: 0px;"></div> <br />
</td>
			</tr>
			<tr>
				<td colspan="2">
		<table style="width: 180px; height: 50px; background-color: #F15927" align="center">
			<tr>
				<td style="text-align: center">
				<%= link_to "View Your Hirings", hirings_url, class: 'view_hiring', style: 'color:#fff' %>
			</tr>
		</table>
				</td>
			</tr>
			<tr>
				<td colspan="2"><br />
				<div class="GreyLine1Px" style="height: 1px; background-color: #e4e4e4; padding: 0px;"></div> <br />
</td>
			</tr>
			<tr>
				<td style="width: 300px; color: #484848;">Weekly total payment</td>
				<td style="text-align: right; color: #484848;"><%= "$#{(@transaction.amount + @transaction.service_fee).round(2)}" %></td>
			</tr>
			<tr>
				<td style="width: 300px; color: #484848;">Total employment contract</td>
				<td style="text-align: right; color: #484848;"><%= "$#{(@transaction.total_amount + @transaction.total_service_fee).round(2)}" %></td>
			</tr>
			<tr>
				<td colspan="2"><br />
				<div class="GreyLine1Px" style="height: 1px; background-color: #e4e4e4; padding: 0px;"></div> <br />
</td>
			</tr>
			<tr>
				<td style="width: 300px; color: #484848;">
				<h4><%= @poster.name %> is Poster</h4>
				Contact <%= @poster.name %> for further coordination.</td>
				<td>
				<img alt="" src="https://staging.sparestaff.com.au/assets/zidane-profile.jpg" style="width:200px; float:right;" class="Image200pxRight"></td>
			</tr>
			<tr>
				<td colspan="2"><br />
				<div class="GreyLine1Px" style="height: 1px; background-color: #e4e4e4; padding: 0px;"></div> <br />
</td>
			</tr>
			<tr>
				<td colspan="2">
				<h4 style="color: #484848;">Customer support&nbsp;</h4>
				<p><a href="https://www.sparestaff.com.au/help" class="Visit">Visit Help 
				Center</a></p>
				</td>
			</tr>
			<tr>
				<td style="width: 300px">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		<br />
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>

</body>

</html>
