<table class="Padding80px" style="width: 100%">
  <tr>
    <td>&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td>
    <img alt="" height="60" src="../../images/Spare-Staff-130x130.png" width="60" /></td>
  </tr>
  <tr>
    <td><br />
    <h1>Hiring change request</h1>
    <p>The Hirer has submited a change request to this hiring.</p>
    <table style="width: 500px">
      <tr>
        <td colspan="2">
        <table>
          <tr>
            <td>
            <strong>Message from Hirer:</strong><br />
            Hello <%= @poster.name %>, I'd like to change this hiring date and 
            time due to unforseen circumstances. Hope you'd get this 
            message in time.</td>
          </tr>
          <tr>
            <td>
            &nbsp;</td>
          </tr>
          <tr>
            <td>
            <table style="height:40px; background-color: #E1E1E1;">
              <tr>
                <td>
                <h4>&nbsp;&nbsp; Employment Contract</h4>
                </td>
              </tr>
            </table>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
        </td>
      </tr>
      <tr>
        <td style="width: 50%"><%= @listing.name %><br />
        <%= @listing.title %></td>
        <td>
        <img alt="" src="../../images/luca.png" class="Image200pxRight" style="width: 200px" /></td>
      </tr>
      <tr>
        <td colspan="2">
        <br />
        <div class="GreyLine1Px"></div>       <br />
        </td>
      </tr>
      <tr>
        <td style="width: 300px"><strong>From (new date)</strong><br />
        <%= @transaction.start_date.strftime("%A %b %d, %Y") %></td>
        <td style="text-align: right"><strong>To (new date)</strong><br />
        <%= @transaction.end_date.strftime("%A %b %d, %Y") %></td>
      </tr>
      <tr>
        <td colspan="2"><br />
        <div class="GreyLine1Px"></div>       <br />
</td>
      </tr>
      <tr>
        <td><strong>New weekly payout</strong></td>
        <td style="text-align: right"><strong><%= "$#{@transaction.amount + @transaction.service_fee}" %></strong></td>
      </tr>
      <tr>
        <td>New employment contract total</td>
        <td style="text-align: right"><%= "$#{@transaction.total_amount + @transaction.total_service_fee}" %></td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;<br />
        If you accept the request, we will immediately update the 
        contract and your new weekly payout will be updated accordingly. If you 
        choose to decline or don't respond, the contract will remain unchanged.</td>
      </tr>
      <tr>
        <td colspan="2"><br />
        <div class="GreyLine1Px"></div>       <br />
</td>
      </tr>
      <tr>
        <td colspan="2">
    <table class="ButtonOrange" align="center">
      <tr>
        <td style="text-align: center">
        <%= link_to "Accept or Decline", inbox_url(id: @transaction.id), class: "WhiteLink12pt" %></td>
      </tr>
    </table>
        </td>
      </tr>
      <tr>
        <td colspan="2">
</td>
      </tr>
      </table>
    <br />
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
