<style type="text/css">
  * {
    font-family: ‘Circular Std Book’, ‘Circular Std’, CircularStdBook, Helvetica, Arial;
  }

 body::-webkit-scrollbar { 
    display: none; 
  }  
   
  .accept_decline:link{
    text-decoration: none;       
  }

  .accept_decline:visited{ 
    text-decoration: none;         
  }

  .accept_decline:hover{
    text-decoration: underline;
  }
  .Visit:link{
    text-decoration: none;
    color: #f15927;
  }

  .Visit:visited{ 
    text-decoration: none;   
    color: #f15927;
  }

  .Visit:hover{
    text-decoration: underline;
  }
</style>

<table class="Padding80px" style="width: 100%">
  <tr>
    <td>&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td>
    <img alt=""  src="https://staging.sparestaff.com.au/assets/logo.png" style="height: 30px;" /></td>
  </tr>
  <tr>
    <td><br />
    <h1 style="color: #484848;">You have a new message from <%= @sender.name.humanize%></h1>
      <p style="color: #484848;"><%= @sender.name.humanize%> send you a message.</p>
    <table style="width: 500px">
      <tr>
        <td colspan="2">
        <table style="width:100%;">
          <% if @message.present? && @message.content.present? %> 
            <tr>
              <td style="color: #484848;">
              <strong>Message from <%= @sender.name.humanize%>:</strong><br />
              <%= @message.content %></td>
            </tr>
          <% end %>
          <tr>
            <td>
            &nbsp;</td>
          </tr>
        </table>
        </td>
      </tr>
    </table>  
      <tr>
        <td colspan="2">
        <br />
        <div class="GreyLine1Px" style=" height: 1px; background-color: #e4e4e4; padding: 0px;"></div>  <br />
        </td>
        <table class="GreyBorder" align="center" style="width: 180px; height: 50px; border: 1px;border-color: #C0C0C0; border-style: solid;">
              <tr>
                <td style="text-align: center">
                  <a class="OrangeLink12ptNoUnderline" href="<%= inbox_url(id: @conversation.id) %>" style="color:#f15927;font-size:12pt; text-decoration: none;">Reply</a>
                </td>
              </tr>
        </table>
      </tr>
    </td>
  </tr>
</table>
