<div id="myModal" class="modal custom-light-box">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    <% if @employee_listing.relevant_documents.attached? %>
      <% count = @employee_listing.relevant_documents.count %>
      <% @employee_listing.relevant_documents.each_with_index do |document, index| %>
        <div class="mySlides">
          <div class="numbertext"><%= "#{index+1}/#{count}" %></div>
          <%= image_tag url_for(document), class: "slide-img" %>
        </div>
      <% end %>
    <% else %>
      <div class="mySlides">
        <div class="numbertext">1 / 1</div>
        <%= image_tag "hand-shake.jpg", class: "slide-img" %>
      </div>
    <% end %>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- <div class="caption-container">
      <p id="caption"></p>
    </div> -->

    <div class="small-img-box">
      <% if @employee_listing.relevant_documents.attached? %>
        <% @employee_listing.relevant_documents.limit(4).each_with_index do |document, index| %>
          <div class="column">
            <%= image_tag url_for(document), class: "demo", style: "width:100%", onclick: "currentSlide(#{index+1})", alt: "" %>
          </div>
        <% end %>
      <% else %>
        <div class="column">
          <%= image_tag "hand-shake.jpg", class: "demo", style: "width:100%", onclick: "currentSlide(1)", alt: "" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
