<% if @employee_listing.verification_back_image.present? %>
  <label class="image-label">
    <%= image_tag @employee_listing.verification_back_image.url, class: 'upload-img' %>
    <%= link_to verification_back_employee_index_path(id: @employee_listing.id, type: "delete"), remote: true, method: :patch do %>
      <div class="remove-img remove3">
        <%= image_tag 'rubbish-bin.png', class: 'bin-img' %>
      </div>
    <% end %>
  </label>
<% else %>
  <%= file_field_tag :verification_back_image , class: "image-upload" %>
  <label class="image-label"><%= image_tag 'upload-photo-ID.jpg', class: 'upload-img' %></label>
<% end %>
