<div class="right-preview-detail">
  <%= form_for transaction, :html => { :id => "listing_transaction" } do |f| %>
    <%= f.hidden_field :employee_listing_id, value: employee_listing.id %>

    <div class="price-header">
      from <span class="big-text">$<%= minimum_price(employee_listing).present? ? minimum_price(employee_listing) : 0 %></span> per hour
    </div>

    <div class="available-box">
      <div class="date-box">
        <div class="date-sec">
          <label class="thin-label">Start Date</label>
          <%= f.date_field :start_date, value: start_date, min: Date.today %>
        </div>
        <div class="date-sec">
          <label class="thin-label">End Date</label>
          <%= f.date_field :end_date, value: end_date, min: Date.today %>
        </div>
      </div>

      <div class="hiring-text">Select hiring time</div>

      <div class="week-availability">
        <ul class="from-to-list">
          <!-- <div id="web_loading"></div> -->
          <label id="timing_error" style="display: none; color: red;">Please enter timings accordingly</label>
          <li class="header-item">
            <div class="from-text">From</div>
            <div class="to-text">To</div>
          </li>

          <% employee_listing.listing_availabilities.order(:day).each_with_index do |availability, index| %>
            <li class="availability-item">
              <% if availability.not_available? %>
                <div class="start-side">
                  <span class="disabled-field"><%= availability.day.titleize %></span>
                  <%= select_tag "transaction[booking_attributes][#{index}][start_time]", options_for_select(ListingAvailability::START_TIME_SLOTS), include_blank: ' ', class: 'cust_str_id start-side-select disabled-field', disabled: "disabled" %>
                </div>
                <div class="end-side">
                  <%= select_tag "transaction[booking_attributes][#{index}][end_time]", options_for_select(ListingAvailability::END_TIME_SLOTS), include_blank: ' ', class: 'end_str_id end-side-select disabled-field', disabled: "disabled" %>
                </div>
              <% else %>
                <div class="start-side">
                  <span><%= availability.day.titleize %></span>
                  <%= select_tag "transaction[booking_attributes][#{index}][start_time]", options_for_select(start_time_range(availability), disabled: @disabled_time[:start_time_slots][index]), include_blank: 'Start time', class: "cust_str_id start-side-select #{availability.day.downcase}_time_slot" %>
                </div>
                <div class="end-side">
                  <%= select_tag "transaction[booking_attributes][#{index}][end_time]", options_for_select(end_time_range(availability), disabled: @disabled_time[:end_time_slots][index]), include_blank: 'End time', class: "end_str_id end-side-select #{availability.day.downcase}_time_slot" %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="week-box">
      <div>Wage payment frequency</div>
      <%= f.select :frequency, options_for_select([["Weekly", "weekly"], ["Fortnightly", "fortnight"]], f.object.frequency), {}, class: "week-select" %>
    </div>

    <ul class="calculation-list">
      <li class="calc-item">
        <span class="left">
          $<label class="listing_weekday_price"> <%= employee_listing.weekday_price %> </label> x <label id="weekday_hours"> 0 </label> hours
        </span>
        <span class="right">$<label id="hiring_weekday_price"> 0 </label> </span>
      </li>
      <li class="calc-item">
        <span class="left">
          $<label class="listing_weekend_price"> <%= employee_listing.weekend_price %> </label> x <label id="weekend_hours"> 0 </label> hours (weekend)
        </span>
        <span class="right">$<label id="hiring_weekend_price"> 0 </label> </span>
      </li>
      <li class="calc-item last-item">
        <span class="left"><%= f.check_box :is_withholding_tax, class: "tax-check" %> Tax withholding</span>
        <span class="right">
          <span class="dollar-input-box">-$</span>
          <%= f.number_field :tax_withholding_amount, placeholder: "-4.00", class: "calc-value transaction_tax_withholding_amount" %>
        </span>
      </li>
    </ul>

    <div class="nor-text" id="tax-notice">As an employer, tax withholding is your legal requirement. If you choose not to withhold tax now, you might be liable for a penalty to ATO later.</div>

    <div class="nor-text">You can use pre-calculated tax amount or type in your own. Always make sure tax withholding amount is correct.</div>

     <ul class="calculation-list">
      <li class="calc-item">
        <span class="left">Service fee</span>
        <span class="right">$<label id="weeklyServicePrice"> 0 </label></span>
      </li>
      <li class="calc-item">
        <span class="left"><b>Weekly total</b></span>
        <span class="right"><b>$<label id="weekly_total_price"> 0 </label> </b></span>
      </li>
    </ul>

    <div class="nor-text">You can set probation period and terminate employment contracts early at any time if the employee underperforms.</div>

    <label class="coman-label"><b>Total employment contract</b></label>

    <ul class="calculation-list">
      <li class="calc-item">
        <span class="left">$<label class="listing_weekday_price"> <%= employee_listing.weekday_price %> </label>&nbsp; x &nbsp;<label id="total_weekday_hours">0 &nbsp;</label>hours</span>
        <span class="right">$<label id="hiring_total_weekday_price"> 0 </label> </span>
      </li>
      <li class="calc-item">
        <span class="left">$<label class="listing_weekend_price"> <%= employee_listing.weekend_price %> </label>&nbsp; x &nbsp;<label id="total_weekend_hours"> 0 &nbsp;</label> hours (weekend)</span>
        <span class="right">$<label id="hiring_total_weekend_price"> 0 </label> </span>
      </li>
      <li class="calc-item">
        <span class="left">Tax withholding</span>
        <span class="right">-$<label id="ContractTaxPrice"> 0 </label></span>
      </li>
      <li class="calc-item">
        <span class="left">Service fee</span>
        <span class="right"><label id="ContractServicePrice"> 0 </label></span>
      </li>
      <li class="calc-item">
        <span class="left"><b>Total</b></span>
        <span class="right"><b>$<label id="ContractTotalPrice"> 0 </label></b></span>
      </li>
    </ul>
    <%= link_to 'Contact Poster', 'javascript:;', class: 'request-btn contact-poster' %>

    <%= f.submit "Request to hire", class: "request-btn", id: "hiring_button" %>

    <p class="thin-text">You won't be charged yet. You will not pay the Total employment contract upfront. It's your choice to pay weekly or fortnightly.</p>

    <div class="footer-text">This employee listing has been viewed 149 times.</div>
  <% end %>
</div>
