<div class="sub_navbar">
  <ul class="sub-nav-list">
    <li class="nav-list-item">
      <%= link_to "Dashboard", user_dashboard_employee_index_path, id: "Dashboard", class: "sub-nav-link" %>
    </li>
    <li class="nav-list-item">
      <% is_inbox_page = params[:controller].eql?("inboxes") %>
      <%= link_to "Inbox", inboxes_path, id: "Inbox", class: "#{ is_inbox_page ? 'sub-nav-link active' : 'sub-nav-link' }" %>
    </li>
    <li class="nav-list-item">
      <% is_listing_page = params[:controller].eql?("employee_listings") || params[:controller].eql?("reservations") %>
      <%= link_to "Your Listings", employee_index_path, id: "YourListings", class: "#{ is_listing_page ? 'sub-nav-link active' : 'sub-nav-link' }" %>
    </li>
    <li class="nav-list-item">
      <% is_hiring = params[:controller].eql?("hirings") %>
      <%= link_to "Your Hirings", hirings_path, id: "YourListings", class: "#{ is_hiring ? 'sub-nav-link active' : 'sub-nav-link' }" %>
    </li>
    <li class="nav-list-item">
      <a id="Profile" class="sub-nav-link" href="#">Profile</a>
    </li>
    <li class="nav-list-item">
      <% is_payment = params[:controller].eql?("payouts")%>
      <%= link_to 'Account', step_1_payouts_path, class: "#{ is_payment ? 'sub-nav-link active' : 'sub-nav-link' }" %>
    </li>
  </ul>
</div>
