<div class="manage-listing-page">
  <div class="inner-manage-section">
    <div class="manage-top-box">
      <div class="heading-box">
        <h1 class="main-heading"><%= @employee_listing.title %></h1>
        <%= link_to "Preview Listing", employee_path(id: @employee_listing.id), target: "_blank", class: 'preview-btn' %>
      </div>

      <ul class="manage-sub-list">
        <li class="manage-sub-item">
          <%= link_to "Listing Details", edit_employee_path(id: @employee_listing.id, edit: "listing_details"), class: "item-link #{!params[:edit].present? || params[:edit].eql?('listing_details') ? 'selected' : ''}" %>
        </li>
        <li class="manage-sub-item">
          <%= link_to "Employee Skills", edit_employee_path(id: @employee_listing.id, edit: "employee_skills"), class: "item-link #{params[:edit].eql?('employee_skills') ? 'selected' : ''}" %>
        </li>
        <li class="manage-sub-item">
          <%= link_to "Pricing", edit_employee_path(id: @employee_listing.id, edit: "listing_pricing"), class: "item-link #{params[:edit].eql?('listing_pricing') ? 'selected' : ''}" %>
        </li>
        <li class="manage-sub-item">
          <%= link_to "Availability", edit_employee_path(id: @employee_listing.id, edit: "listing_availability"), class: "item-link #{params[:edit].eql?('listing_availability') ? 'selected' : ''}" %>
        </li>
        <li class="manage-sub-item">
          <%= link_to "Listing Status", edit_employee_path(id: @employee_listing.id, edit: "listing_status"), class: "item-link #{params[:edit].eql?('listing_status') ? 'selected' : ''}" %>
        </li>
      </ul>
    </div>

    <div class="main-form-box">
      <div class="form-left-box">
        <div class="manage-form-box">
          <% if params[:edit].eql?("listing_details") %>
            <%= render partial: "edit_listing_details_form.html.erb" %>
          <% elsif params[:edit].eql?("employee_skills") %>
            <%= render partial: "edit_employee_skills_form.html.erb" %>
          <% elsif params[:edit].eql?("listing_pricing") %>
            <%= render partial: "edit_pricing_form.html.erb" %>
          <% elsif params[:edit].eql?("listing_availability") %>
            <%= render partial: "edit_availability_form.html.erb" %>
          <% elsif params[:edit].eql?("listing_status") %>
            <%= render partial: "edit_listing_status_form.html.erb" %>
          <% else %>
            <%= render partial: "edit_listing_details_form.html.erb" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="edit-form-footer">
      <%= link_to '© Spare Staff', '#', class: 'root-link' %>
    </div>

  </div>
</div>
