<div class="getting-started-section">
  <div class="section-bg">
    <h2 class="list-your dark-bg">List Yourself for hiring</h2>
    <h1 class="sec-heading dark-bg">Tired of sending CVs to hundreds of employers?</h1>
    <h1 class="sec-heading dark-bg">Create your best profile once and let employers find you</h1>

    <div class="sect-btn-box">
      <%= link_to "Get Started", step_1_employee_index_path, class: "started-btn" %>
    </div>
  </div>

  <div class="inner-getting-started">
    <%= render partial: "home/services_offered" %>

    <%= render partial: "home/how_it_works" %>
  </div>

  <div class="safety-box">

    <div class="sparestaff-box">
      <h1 class="safety-box-heading">Safety on Spare Staff</h1>
      <div class="inner-box">
        <div class="safety-card">
          <div class="card-img-text">
            <%=image_tag 'data-security.png', class: 'card-img first-img' %>

            <span>Confidentiality Protection</span>
          </div>
          <div class="detail-text">
            We understand that confidentiality is important for every business. That’s why we have in place written confidentality agreement ready for employers to share employees.
          </div>
        </div>

        <div class="safety-card">
          <div class="card-img-text">
            <%=image_tag 'secured-payment.png', class: 'card-img' %>

            <span>Automatic Secured Payment System</span>
          </div>
          <div class="detail-text top-space">
            Payment is processed automatically when a shared employee is hired. Our secured payment system eliminate any potential human errors and reduce processing time for employers.
          </div>
        </div>

        <div class="safety-card">
          <div class="card-img-text">
            <%=image_tag 'trust.png', class: 'card-img' %>

            <span>Built on Trust and Relationship</span>
          </div>
          <div class="detail-text top-space">
            All employers on Spare Staff must have their business details verified including ACN/ABN, email and phone number. Reviews are published after employment contract finishes keeping our community safe.
          </div>
        </div>
      </div>
    </div>

    <div class="question-box">
      <h1 class="safety-box-heading">Frequently asked question</h1>
      <div class="inner-box">
        <div class="started-box">
          <h1 class="sub-heading">GETTING STARTED</h1>

          <div class="accodian-box">
            <div class="accordion1 indicator-plus-before round-indicator" id="accordionH" aria-multiselectable="true">
              <div class="card m-b-0">
                <div class="card-header collapsed" role="tab" id="headingOneH" href="#collapseOneH" data-toggle="collapse" data-parent="#accordionH" aria-expanded="false" aria-controls="collapseOneH">
                  <a class="card-title"> Can I legally share my employees?</a>
                </div>
                <div class="collapse" id="collapseOneH" role="tabpanel" aria-labelledby="headingOneH">
                  <div class="card-body">
                    details
                  </div>
                </div>
                <div class="card-header collapsed" role="tab" id="headingTwoH" href="#collapseTwoH" data-toggle="collapse" data-parent="#accordionH" aria-expanded="false" aria-controls="collapseTwoH">
                  <a class="card-title">Can I choose who to share employees to?</a>
                </div>
                <div class="collapse" id="collapseTwoH" role="tabpanel" aria-labelledby="headingTwoH">
                  <div class="card-body">
                    details
                  </div>
                </div>
                <div class="card-header collapsed" role="tab" id="headingThreeH" href="#collapseThreeH" data-toggle="collapse" data-parent="#accordionH" aria-expanded="false" aria-controls="collapseThreeH">
                  <a class="card-title">Does Spare Staff screen Hirers?</a>
                </div>
                <div class="collapse" id="collapseThreeH" role="tabpanel" aria-labelledby="headingThreeH">
                  <div class="card-body">
                    Spare Staff verifies some information about employers and employees to help make our community a safer place for everyone. That includes requiring a profile photo, confirmed phone number, and confirmed email
                    address. As a Leasor, for added security, you can also ask potential Leasee to provide an official ID and complete Spare Staff’s
                    Verified ID process.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="earning-box">
          <h1 class="sub-heading">EARNINGS</h1>

          <div class="accodian-box">
            <div class="accordion2 indicator-plus-before round-indicator" id="accordionH" aria-multiselectable="true">
              <div class="card m-b-0">
                <div class="card-header collapsed" role="tab" id="headingOneY" href="#collapseOneY" data-toggle="collapse" data-parent="#accordionY" aria-expanded="false" aria-controls="collapseOneY">
                  <a class="card-title">What hourly rate should I list my
                  employee?</a>
                </div>
                <div class="collapse" id="collapseOneY" role="tabpanel" aria-labelledby="headingOneY">
                  <div class="card-body">
                    details
                  </div>
                </div>
                <div class="card-header collapsed" role="tab" id="headingTwoY" href="#collapseTwoY" data-toggle="collapse" data-parent="#accordionY" aria-expanded="false" aria-controls="collapseTwoY">
                  <a class="card-title">How do Spare Staff payment work?</a>
                </div>
                <div class="collapse" id="collapseTwoY" role="tabpanel" aria-labelledby="headingTwoY">
                  <div class="card-body">
                    details
                  </div>
                </div>
                <div class="card-header collapsed" role="tab" id="headingThreeY" href="#collapseThreeY" data-toggle="collapse" data-parent="#accordionY" aria-expanded="false" aria-controls="collapseThreeY">
                  <a class="card-title">Who should pay for woker compensation?</a>
                </div>
                <div class="collapse" id="collapseThreeY" role="tabpanel" aria-labelledby="headingThreeY">
                  <div class="card-body">
                    As required by laws, all companies are required to pay for worker compensation to cover injuries to employees and contractors. This ensure safety to all shared employees and a safer community.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="list-employee-box">
    <h1 class="employee-heading">Easy Online Employee Hiring</h1>
    <%= link_to "List an Employee", step_1_employee_index_path, class: 'employe-btn' %>
  </div>

  <%= render partial: "layouts/footer" %>
</div>


<script type="text/javascript">
  $( '.closeall' ).click( function( e ) {
    e.preventDefault();
    $( '.accordion .collapse.show' ).collapse( 'hide' );
    return false;
  } );

  $( '.openall' ).click( function( e ) {
    e.preventDefault();
    $( '.accordion .collapse' ).collapse( 'show' );
    return false;
  } );

  if ( window.location.hash ) {
    redirect( window.location.hash );
  }

  $( 'a[href^="#"]' ).on( 'click', function( e ) {
    e.preventDefault();
    var a = document.createElement( 'a' );
      a.href = this.href;
    redirect ( a.hash );
    return false;
  } );

  function redirect( hash ) {
    // $( hash ).attr( 'aria-expanded', 'true' ).focus();
    // $( hash + '+div.collapse' ).addClass( 'show' ).attr( 'aria-expanded', 'true' );
    $( hash + '+div.collapse' ).collapse( 'show' );

    // using this because of static nav bar space
    $( 'html, body' ).animate( {
      scrollTop: $( hash ).offset().top - 60
    }, 10, function() {
    // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
    } );
  }

  document.documentElement.setAttribute("lang", "en");
  document.documentElement.removeAttribute("class");

  axe.run( function(err, results) {
    console.log( results.violations );
  } );
</script>