<% dynamic = @getting_start_content.present? %>
<div class="getting-started-section">
  <div class="section-bg" style="background-image: url(<%= dynamic && @getting_start_content.cover_image.present? ? @getting_start_content.cover_image.url : asset_url('hand-shake.jpg')%>)">
    <h2 class="list-your dark-bg"><%= dynamic && @getting_start_content&.cover_title ? @getting_start_content&.cover_title : "List Yourself for hiring" %></h2>
    <% if dynamic && @getting_start_content.cover_subtitle.present? %>
       <h1 class="sec-heading dark-bg"><%= @getting_start_content.cover_subtitle %></h1>
    <% else %>
      <h1 class="sec-heading dark-bg">Tired of sending CVs to hundreds of employers?</h1>
      <h1 class="sec-heading dark-bg">Create your best profile once and let employers find you</h1>
    <% end %>

    <div class="sect-btn-box">
      <%= link_to dynamic ? @getting_start_content.button_title : "Get Started", step_1_employee_index_path, class: "started-btn" %>
    </div>
  </div>

  <div class="inner-getting-started">

    <div class="employe-hiring-box getting-employee">
      <h1 class="hiring-heading"><%= dynamic && @getting_start_content.list_your_self_title.present? ? @getting_start_content.list_your_self_title : "Why list yourself for hiring?" %></h1>
      <div class="image-details-box">
        <% @employee_hiring.each do |content| %>
          <div class="image-box">
            <div class="image">
              <%= image_tag content.content_image&.url, alt: "", class: "Image200px" %>
            </div>
            <div class="image-detail">
                <%= content.content %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="how-it-work-box">
      <h1 class="work-heading"><%= dynamic && @getting_start_content.how_it_works_title.present? ? @getting_start_content.how_it_works_title : "How it works for job seeker" %></h1>
      <div class="work-card-box">
         <% @how_it_works.each_with_index do |content, index| %>
          <div class="work-card">
            <div class="card-img-box">
              <%= image_tag content.content_image&.url, alt: "", class: "card-image" %>
            </div>
            <div class="card-details">
              <div class="num-text"><%= index+1 %></div>
              <div class="detail">
                <div><b><%= content.content_heading %></b></div>
                <div>
                  <%= content.content %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="safety-box">
    <div class="sparestaff-box">
      <h1 class="safety-box-heading"><%= dynamic && @getting_start_content.safety_title.present? ? @getting_start_content.safety_title : "Safety on Spare Staff" %></h1>
      <div class="inner-box">
        <% @safety_section.each_with_index do |content, index| %>
          <div class="safety-card">
            <div class="card-img-text">
              <%=image_tag content.content_image&.url, class: 'card-img first-img' %>

              <span><%= content.content_heading %></span>
            </div>
            <div class="detail-text">
              <%= content.content %>
            </div>
          </div>
        <% end %>

        <!-- <div class="safety-card">
          <div class="card-img-text">
            <%=image_tag 'secured-payment.png', class: 'card-img' %>

            <span>Automatic Secured Payment System</span>
          </div>
          <div class="detail-text top-space">
            Payment is processed automatically when a shared employee is hired. Our secured payment system eliminate any potential human errors and reduce processing time for employers.
          </div>
        </div>

        <div class="safety-card">
          <div class="card-img-text">
            <%=image_tag 'trust.png', class: 'card-img' %>

            <span>Built on Trust and Relationship</span>
          </div>
          <div class="detail-text top-space">
            All employers on Spare Staff must have their business details verified including ACN/ABN, email and phone number. Reviews are published after employment contract finishes keeping our community safe.
          </div>
        </div> -->
      </div>
    </div>

    <div class="question-box">
      <h1 class="safety-box-heading"><%= dynamic && @getting_start_content.frequently_asked_title.present? ? @getting_start_content.frequently_asked_title : "Frequently asked question" %></h1>
      <div class="inner-box">
        <div class="started-box">
          <h1 class="sub-heading">GETTING STARTED</h1>

          <div class="accodian-box">
            <div class="accordion1 indicator-plus-before round-indicator" id="accordionH" aria-multiselectable="true">
              <div class="card m-b-0">
                <% @frequently_ask_getting_start.each do |content| %>
                  <div class="card-header collapsed custom-accrodian" >
                    <a class="card-title"><%= content.question %></a>
                  </div>
                  <div class="collapse">
                    <div class="card-body">
                      <%= content.answer %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="earning-box">
          <h1 class="sub-heading">EARNINGS</h1>

          <div class="accodian-box">
            <div class="accordion1 indicator-plus-before round-indicator" id="accordionH" aria-multiselectable="true">
              <div class="card m-b-0">
                <% @frequently_ask_earnings.each do |content| %>
                  <div class="card-header collapsed custom-accrodian" >
                    <a class="card-title"><%= content.question %></a>
                  </div>
                  <div class="collapse">
                    <div class="card-body">
                      <%= content.answer %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="list-employee-box">
    <h1 class="employee-heading"><%= @getting_start_content&.easy_online_title %></h1>
    <%= link_to @getting_start_content&.button_title, step_1_employee_index_path, class: 'employe-btn' %>
  </div>

  <%= render partial: "layouts/footer" %>
</div>


<script type="text/javascript">
  $('.custom-accrodian').click(function(e) {
    $(this).next().toggle(300);
    var rotateIcon = $(this).hasClass('collapsed');

    if (rotateIcon) {
      $(this).removeClass('collapsed');
    }
    else {
      $(this).addClass('collapsed');
    }

  });
</script>

