<div class="getting-started-section">
  <div class="section-bg">
    <h2 class="list-your dark-bg">List Yourself for hiring</h2>
    <h1 class="sec-heading dark-bg">Tired of sending CVs to hundreds of employers?</h1>
    <h1 class="sec-heading dark-bg">Create your best profile once and let employers find you</h1>

    <div class="sect-btn-box">
      <%= link_to "Get Started", step_1_employee_index_path, class: "started-btn" %>
    </div>
  </div>

  <div class="inner-getting-started">

    <div class="employe-hiring-box getting-employee">
      <h1 class="hiring-heading">Why list yourself for hiring?</h1>
      <div class="image-details-box">
        <div class="image-box">
          <div class="image"><%= image_tag "dollar.jpg", alt: "", class: "Image200px" %></div>
          <div class="image-detail">Staff wages are amongst the biggest overheads. Spare Staff helps reduce financial pressure in slow sales season.</div>
        </div>

        <div class="image-box">
          <div class="image"><%= image_tag "tie.jpg", alt: "", class: "Image200px" %></div>
          <div class="image-detail">As a Hirer, you have flexibility to hire skilful employees for short or long term contracts. Access to great pool of talents ready to work.</div>
        </div>

        <div class="image-box">
          <div class="image"><%= image_tag "happy.jpg", alt: "", class: "Image200px" %></div>
          <div class="image-detail">Your business can keep good employees. Never need to cut down employee hours or make redundancy.</div>
        </div>

        <div class="image-box">
          <div class="image"><%= image_tag "reference.jpg", alt: "", class: "Image200px" %></div>
          <div class="image-detail">Employees gain experiences, meet new people and enjoy better job security. More references for their CVs</div>
        </div>
      </div>
    </div>

    <div class="how-it-work-box">
      <h1 class="work-heading">How it works for job seeker</h1>

      <div class="work-card-box">
        <div class="work-card">
          <div class="card-img-box">
            <%= image_tag "how-it-works-1.jpg", alt: "", class: "card-image" %>
          </div>
          <div class="card-details">
            <div class="num-text">1</div>
            <div class="detail">
              <div><b>It's FREE to list</b></div>
              <div>
                As a job seeker, you can list yourself for
                companies to find you. Create your best profile
                to attract employers.</div>
            </div>
          </div>
        </div>

        <div class="work-card">
          <div class="card-img-box">
            <%= image_tag "how-it-works-2.jpg", alt: "", class: "card-image" %>
          </div>
          <div class="card-details">
            <div class="num-text">2</div>
            <div class="detail">
            <div><b>Get ready for work</b></div>
            <div>Discuss with Hirer through our messaging platform. Provide further details if requested.</div>
            </div>
          </div>
        </div>

        <div class="work-card">
          <div class="card-img-box">
            <%= image_tag "how-it-works-3.jpg", alt: "", class: "card-image" %>
          </div>
          <div class="card-details">
            <div class="num-text">3</div>
            <div class="detail">
            <div><b>Get paid</b></div>
            <div>Our secure payment system let you get paid automatically after employment starts.</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="safety-box">
    <div class="sparestaff-box">
      <h1 class="safety-box-heading">Safety on Spare Staff</h1>
      <div class="inner-box">
        <div class="safety-card">
          <div class="card-img-text">
            <%=image_tag 'data-security.png', class: 'card-img first-img' %>

            <span>Confidentiality Protection</span>
          </div>
          <div class="detail-text">
            We understand that confidentiality is important for every business. That’s why we have in place written confidentality agreement ready for employers to share employees.
          </div>
        </div>

        <div class="safety-card">
          <div class="card-img-text">
            <%=image_tag 'secured-payment.png', class: 'card-img' %>

            <span>Automatic Secured Payment System</span>
          </div>
          <div class="detail-text top-space">
            Payment is processed automatically when a shared employee is hired. Our secured payment system eliminate any potential human errors and reduce processing time for employers.
          </div>
        </div>

        <div class="safety-card">
          <div class="card-img-text">
            <%=image_tag 'trust.png', class: 'card-img' %>

            <span>Built on Trust and Relationship</span>
          </div>
          <div class="detail-text top-space">
            All employers on Spare Staff must have their business details verified including ACN/ABN, email and phone number. Reviews are published after employment contract finishes keeping our community safe.
          </div>
        </div>
      </div>
    </div>

    <div class="question-box">
      <h1 class="safety-box-heading">Frequently asked question</h1>
      <div class="inner-box">
        <div class="started-box">
          <h1 class="sub-heading">GETTING STARTED</h1>

          <div class="accodian-box">
            <div class="accordion1 indicator-plus-before round-indicator" id="accordionH" aria-multiselectable="true">
              <div class="card m-b-0">
                <div class="card-header collapsed custom-accrodian" >
                  <a class="card-title"> Can I legally share my employees?</a>
                </div>
                <div class="collapse">
                  <div class="card-body">
                    details
                  </div>
                </div>
                <div class="card-header collapsed custom-accrodian" >
                  <a class="card-title">Can I choose who to share employees to?</a>
                </div>
                <div class="collapse">
                  <div class="card-body">
                    details
                  </div>
                </div>
                <div class="card-header collapsed custom-accrodian">
                  <a class="card-title">Does Spare Staff screen Hirers?</a>
                </div>
                <div class="collapse">
                  <div class="card-body">
                    Spare Staff verifies some information about employers and employees to help make our community a safer place for everyone. That includes requiring a profile photo, confirmed phone number, and confirmed email
                    address. As a Leasor, for added security, you can also ask potential Leasee to provide an official ID and complete Spare Staff’s
                    Verified ID process.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="earning-box">
          <h1 class="sub-heading">EARNINGS</h1>

          <div class="accodian-box">
            <div class="accordion2 indicator-plus-before round-indicator" id="accordionH" aria-multiselectable="true">
              <div class="card m-b-0">
                <div class="card-header collapsed custom-accrodian" >
                  <a class="card-title">What hourly rate should I list my
                  employee?</a>
                </div>
                <div class="collapse" >
                  <div class="card-body">
                    details
                  </div>
                </div>
                <div class="card-header collapsed custom-accrodian" >
                  <a class="card-title">How do Spare Staff payment work?</a>
                </div>
                <div class="collapse">
                  <div class="card-body">
                    details
                  </div>
                </div>
                <div class="card-header collapsed custom-accrodian" >
                  <a class="card-title">Who should pay for woker compensation?</a>
                </div>
                <div class="collapse">
                  <div class="card-body">
                    As required by laws, all companies are required to pay for worker compensation to cover injuries to employees and contractors. This ensure safety to all shared employees and a safer community.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="list-employee-box">
    <h1 class="employee-heading">Easy Online Employee Hiring</h1>
    <%= link_to "Get Started", step_1_employee_index_path, class: 'employe-btn' %>
  </div>

  <%= render partial: "layouts/footer" %>
</div>


<script type="text/javascript">
  $('.custom-accrodian').click(function(e) {
    $(this).next().toggle(300);
    var rotateIcon = $('.card-header').has('collapsed');

    // if (rotateIcon) {
    //   $('.card-header').removeClass('collapsed');
    // }
    // else {
    //   $('.card-header').addClass('collapsed');
    // }

  });
</script>

