<div class="new-listing-step_section">
  <div class="inner-listing-section">
    <div class="left-white-side">
      <h1 class="main-heading">Employee skills and experience</h1>

      <div class="who-box">
        <p>Tell Hirers why this employee is the perfect candidate: qualification, certification, knowledge, skill sets, experience, completed training, etc. For security and privacy, links, email addresses, phone numbers, addresses are not allowed.</p>

        <%= form_for @employee_listing, url: create_step_4_employee_path, method: :post, multipart: true, :html => { :id => "skl_expr" } do |f| %>
          <%= hidden_field_tag "id", @employee_listing.id %>

          <div class="custom-field-box">

            <div class="joint-group mobile-joint-group">
              <div class="custom-input-group">
                <label class="custom-label">Select classification to list</label>
                <%= select_tag "parent_classification", options_for_select(Classification.where(parent_classification_id: nil).order(:name).pluck(:name, :id)), {class: 'custom-field' , include_blank: "Please select category"} %>
              </div>

              <div class="custom-input-group">
                <label class="custom-label">&nbsp;</label>

                <div id = "user-sub-category-lists">
                  <%= render 'sub_category_lists', sub_classifications_id: options_for_select(Classification.where(parent_classification_id: params[:id]).order(:name).pluck(:name, :id)), :include_blank => 'Select a Category', class: 'custom-field' %>
                </div>
              </div>
            </div>

            <div class="custom-input-group">
              <label class="custom-label">Please describe the employee skills, strength, expertise, experience, etc</label>
              <%= f.text_area :skill_description, cols: "20", rows: "10", style: "width:100%;" %>
            </div>
            <div class="custom-input-group">
              <div class="profile_picture">
                <label class="custom-label">Profile Picture</label>
                <div class="image-group">
                  <div class="box-img">
                    <div class="upload-file">
                      <% if f.object.profile_picture.present? %>
                        <label class="image-label">
                          <%= image_tag f.object.profile_picture.url, class: 'upload-img' %>
                          <div class="remove-img remove3">
                            <%= image_tag 'rubbish-bin.png', class: 'bin-img' %>
                          </div>
                        </label>
                      <% else %>
                        <%= f.file_field :profile_picture , class: "image-upload", :id => "imageUpload3" %>
                        <label class="image-label"><%= image_tag 'upload-photo-ID.jpg', class: 'upload-img' %></label>
                      <% end %>
                    </div>

                    <div class="avatar-preview preview3">
                      <%= image_tag '', :id => "imagePreview3", class: "preview-img" %>
                      <div class="remove-img remove3"><%= image_tag 'rubbish-bin.png', class: 'bin-img' %></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="custom-input-group step-4-multiple-img">
              <label class="custom-label">Photos or relevant documents of your employee <span class="thin-text">(optional but recommended)</span></label>

              <div class="multiple-image-group">
                <div class="box-img">
                  <div class="avatar-preview">
                    <span class="preview5">
                      <% if @employee_listing.relevant_documents.present? %>
                        <% @employee_listing.relevant_documents.each do |relevant_document| %>
                          <span class="relevent-imgs-box">
                            <%= image_tag relevant_document.document.url, class: 'preview-img' %>
                            <div class="remove-img remove-relevent">
                              <%= image_tag 'rubbish-bin.png', class: 'bin-img' %>
                            </div>
                          </span>
                        <% end %>
                      <% end %>
                    </span>
                    <span class="upload-file">
                      <%= f.file_field :relevant_documents, class: "image-upload", :id => "gallery-photo-add" %>
                      <label class="image-label"><%= image_tag 'upload-photo-ID.jpg', class: 'upload-img' %></label>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="custom-input-group">
              <label class="custom-label">Any further comments about the employee <span class="thin-text">(optional)</span></label>
              <%= f.text_area :optional_comments, cols: "20", rows: "5", style: "width:100%;" %>
            </div>

            <div class="custom-input-group">
              <label class="custom-label">What languages can the employee speak?</label>
              <div class="lang-box">
                <% Language.all.each do |global_language| %>
                  <div class="check-box">
                    <%= check_box_tag "employee_listing_language_ids[]", global_language.id, languages_present(f.object, global_language), class: 'checkbox-inline'%>
                    <%= global_language.language.titleize %>
                  </div>
                <% end %>
              </div>
              <label id="lan_emp_id">Please select at least one language</label>
            </div>

            <div class="button-box">
              <span class="link-text">&lt; <%= link_to "Back", step_3_employee_path(id: @employee_listing.id, back: true), class: 'link-text' %></span>

              <%= f.submit "Save for later", name: "save_later", value: "Save for later", class: "link-text" %>

              <%= f.submit "Continue", class: "continue-btn cont_step" %>
            </div>

          </div>

        <% end %>
      </div>
    </div>

    <div class="right-grey-side">
      <div class="bulb-box">
        <%= image_tag "light-bulb.png", alt: "", class: 'bulb-img' %>
        <br />
        Hiring is the most important task for any businesses and they take this very seriously. The more details you put here, the better it is for the right employers to make decision to hire your listed employee.<br />
      </div>

      <div class="bulb-box bulb-box-bottom step-4-bulb ">
        <%= image_tag "light-bulb.png", alt: "", class: 'bulb-img' %>
        <br />
        Employees are valuable assets of an organization and the key to success. A company is represented by its employees and every company wants to know who they are hiring.<br />
        <br />
        First impression is the most lasting. A great photo will more likely attract Hirers' attention.<br />
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    $('.preview3').hide();

    function readURL3(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('.preview3').show();
            $('#imagePreview3').attr('src', e.target.result);
            $('#imagePreview3').hide();
            $('#imagePreview3').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $("#imageUpload3").change(function() {
        readURL3(this);
    });

    $('.remove3').click(function(){
      $('#imagePreview3').removeAttr('src');
      $('.preview3').hide();
    });
  });

  $("#skl_expr").validate({
    errorPlacement: function(error, element) {
       error.appendTo(element.parent());
    },
    rules: {
    "parent_classification": {required: true},
    "employee_listing[skill_description]": {required: true},
    }
  });

  $('#parent_classification').on('change', function(){
    var parent_val = $('#parent_classification :selected').val();
    $.ajax({
      url: "/employee/sub_category_lists",
      type: "GET",
      data : {
        id: parent_val,
      },
      dataType: "script",
    });
  });

  $('.cont_step').click(function(e) {
    var FormValid = true;
    var empLang = $('.checkbox-inline').is(':checked');
    if (empLang){
      $('#lan_emp_id').hide();
    }
    else{
      $('#lan_emp_id').show();
      FormValid = false;
    }
    return FormValid;
  });

  $('.checkbox-inline').on('keyup keypress change', function () {
   var empLang = $('.checkbox-inline').is(':checked');
    if (empLang) {
      $("#lan_emp_id").hide();
    }
    else{
      $("#lan_emp_id").show();
    }
  });

  $(function() {
    // Multiple images preview in browser
    var imagesPreview = function(input, placeToInsertImagePreview) {
      if (input.files) {
        var filesAmount = input.files.length;

        for (i = 0; i < filesAmount; i++) {
          var reader = new FileReader();
          reader.onload = function(event) {
            sendFile(event.target.result);
            $($.parseHTML('<img class="preview-img">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
          }
          reader.readAsDataURL(input.files[i]);
        }
      }
    };
    $('#gallery-photo-add').on('change', function() {
        imagesPreview(this, 'span.preview5');
    });
  });

  function sendFile(fileData) {
    var listing_id = "<%= @employee_listing.id %>"
    var formData = new FormData();
    formData.append('image', fileData);
    formData.append('id', listing_id);
    $.ajax({
      type: 'PATCH',
      url: '/employee/relevant_document',
      data: formData,
      contentType: false,
      processData: false
    });
  }

</script>

<style type="text/css">
  label#check_boxes {
      display: none;
  }
  .error {
      color:#FF0000;
  }
  label#lan_emp_id {
    display: none;
     color:#FF0000;
}
</style>
