<div class="new-listing-step_section">
  <div class="inner-listing-section">
    <div class="left-white-side">
      <h1 class="main-heading">Employee details</h1>

      <div class="who-box">
        <p>Tell us about some basic details of the employee you are listing so potential employers can search for him/her. The more details you provide, the easier it is for the employee to get hired.</p>

        <%= form_for @employee_listing, url: create_step_3_employee_path, method: :post, multipart: true, :html => { :id => "emp_listing_det" } do |f| %>
          <%= hidden_field_tag "id", @employee_listing.id %>

          <div class="custom-field-box">
            <div class="custom-input-group">
              <label class="custom-label">Listing title</label>
              <%= f.text_field :title, placeholder: "i.e. Experienced Office Admin, Exceptional Problem Solver - IT Tech", class: 'custom-field' %>
            </div>

            <div class="joint-group">
              <div class="custom-input-group">
                <label class="custom-label">First name</label>

                <%= f.text_field :first_name, class: 'custom-field' %>
              </div>

              <div class="custom-input-group">
                <label class="custom-label">Last name</label>
                <%= f.text_field :last_name, class: 'custom-field' %>
              </div>
            </div>

            <div class="custom-input-group">
              <label class="custom-label">TFN <span class="thin-text">(optional, see note to the right)</span></label>
              <div class="tfn-file">
                <%= f.text_field :tfn, class: 'custom-field half-field' %>
              </div>
            </div>

            <div class="custom-input-group">
              <label class="custom-label">Year of birth <span class="thin-text">(optional)</span></label>
              <%= f.text_field :birth_year, data: { numeric: true }, minlength: 4, maxlength: 4, max: Date.today.year - 20, min: Date.today.year - 80, class: 'custom-field half-field' %>
            </div>

            <div class="custom-input-group">
              <label class="custom-label">Employee address <span class="thin-text">(optional)</span></label>
              <%= f.text_field :address_1, class: 'custom-field' %>
            </div>

            <div class="custom-input-group">
              <label class="custom-label">Address line 2 <span class="thin-text">(optional)</span></label>
              <%= f.text_field :address_2, class: 'custom-field' %>
            </div>

            <div class="custom-input-group">
              <label class="custom-label">Suburb/City</label>
              <%= f.text_field :city, class: 'custom-field half-field' %>
            </div>

            <div class="joint-group">
              <div class="custom-input-group">
                <label class="custom-label">State</label>
                <%= f.select :state, options_for_select(EmployeeListing::EMPLOYEE_STATES, f.object.state), {}, {class: 'custom-field'}  %>
              </div>

              <div class="custom-input-group">
                <label class="custom-label">Postcode</label>
                <%= f.number_field :post_code, minlength: 4, maxlength: 4, class: 'custom-field' %>
              </div>
            </div>

            <div class="custom-input-group">
              <label class="custom-label">Country</label>
              <%= f.select :country, options_for_select(EmployeeListing::EMPLOYEE_COUNTRIES, f.object.country), {}, {class: 'custom-field half-field'} %>
            </div>

            <div class="joint-group">
              <div class="custom-input-group">
                <label class="custom-label">Residency status</label>
                <%= f.select :residency_status, options_for_select(EmployeeListing::EMPLOYEE_RESIDENCY_STATUSES, f.object.residency_status), {}, {class: "custom-field"} %>
              </div>

              <div class="custom-input-group">
                <label class="custom-label">&nbsp;</label>
                <%= f.text_field :other_residency_status, placeholder: "Please specify", class: 'custom-field' ,id:  'other_res_sta', value: EmployeeListing::EMPLOYEE_RESIDENCY_STATUSES.include?(f.object.residency_status) ? "" : f.object.residency_status %>
              </div>
            </div>

            <div class="joint-group">
              <div class="custom-input-group">
                <label class="custom-label">ID verification <span class="thin-text">(see note
                    to the right)</span></label>
                <%= f.select :verification_type, options_for_select(EmployeeListing::EMPLOYEE_VERIFICATION_TYPES, f.object.verification_type), {}, {class: "custom-field"} %>
              </div>

              <div class="custom-input-group">
                <div class="image-group">
                  <div class="box-img">
                    <div class="upload-file">
                      <%= f.file_field :verification_front_image , class: "image-upload", :id => "imageUpload" %>
                      <label class="image-label"><%= image_tag 'upload-photo-ID.jpg', class: 'upload-img' %></label>
                    </div>

                    <div class="avatar-preview preview1">
                      <%= image_tag '', :id => "imagePreview", class: 'preview-img' %>

                      <div class="remove-img remove1"><%= image_tag 'rubbish-bin.png', class: 'bin-img' %></div>
                    </div>
                  </div>

                  <%#= image_tag "upload-photo-ID.jpg", alt: "", class: "Height100px" %>
                  <div class="box-img">
                    <div class="upload-file">
                      <%= f.file_field :verification_front_image , class: "image-upload", :id => "imageUpload2" %>
                      <label class="image-label"><%= image_tag 'upload-photo-ID.jpg', class: 'upload-img' %></label>
                    </div>

                    <div class="avatar-preview preview2">
                      <%= image_tag '', :id => "imagePreview2", class: 'preview-img' %>

                      <div class="remove-img remove2"><%= image_tag 'rubbish-bin.png', class: 'bin-img' %></div>
                    </div>
                  </div>
                  <%#= image_tag "upload-photo-ID.jpg", alt: "", class: "Height100px" %>
                </div>
              </div>
            </div>

            <div class="custom-input-group">
              <label class="custom-label">Gender</label>

              <div class="inner-input-group">
                <div class="first"><%= f.radio_button :gender, "male", checked: f.object.gender.eql?("male") || f.object.gender.eql?(nil), class: 'input-checked' %> <span>Male</span></div>
                <div class="last"><%= f.radio_button :gender, "female", checked: f.object.gender.eql?("female"), class: 'input-checked' %> <span>Female</span></div>
              </div>
            </div>

            <div class="custom-input-group">
              <label class="custom-label">Does the employee have his own vehicle?</label>

              <div class="inner-input-group">
                <div class="first"><%= f.radio_button :has_vehicle, true, class: 'input-checked' %> <span>Yes</span></div>
                <div class="last"><%= f.radio_button :has_vehicle, false, class: 'input-checked' %> <span>No</span></div>
              </div>
            </div>

            <div class="button-box">
              <span class="link-text">&lt; <%= link_to "Back", step_2_employee_path(id: @employee_listing.id, back: true), class: 'link-text' %></span>

              <%= f.submit "Save for later", name: "save_later", value: "Save for later", class: "link-text" %>

              <%= f.submit "Continue", class: "continue-btn", id: 'employee_form_id' %>
            </div>

          </div>
        <% end %>
      </div>
    </div>

    <div class="right-grey-side">
      <div class="bulb-box">
        <%= image_tag "light-bulb.png", alt: "", class: 'bulb-img' %>
        <br />
        Listing title is one of the first details that Hirers see. Write a short, descriptive title that catches their attention.<br />
        <br />
        The employee's TFN, year of birth, address, photo ID are not visible in searches except Suburb/City and is only shared once you have accepted Hirer's Request to Hire.<br />
        <br />
        TFN (Tax File Number) is optional. However without a TFN, the employee will need to pay higher tax. If you do not have the TFN now, you can always add it in later after creating the listing.<br />
      </div>

      <div class="bulb-box bulb-box-bottom">
        <%= image_tag "light-bulb.png", alt: "", class: 'bulb-img' %>
        <br />
        ID verification help Hirers feel more confident hiring employees and build trust on our platform.<br />
        <br />
        It is optional in this step but is required before the listing appears in search results. You can proceed to completing this listing first and upload a valid photo ID later.<br />
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function () {
    $('#employee_listing_residency_status').on('keyup keypress change', function (){
      var lisTingtiTle = $("#employee_listing_residency_status").val();
      if (lisTingtiTle == "Other Visas"){
        $("#other_res_sta").show();
        $("#other_res_sta").attr("required", true);
      }else{
        $("#other_res_sta").hide();
        $("#other_res_sta").removeAttr("required");
      }
    });

    $("#emp_listing_det").validate({
      errorPlacement: function(error, element) {
        error.appendTo(element.parent());
      },
      rules: {
        "employee_listing[title]": {required: true},
        "employee_listing[first_name]": {required: true},
        "employee_listing[last_name]": {required: true},
        "employee_listing[city]": {required: true},
        "employee_listing[post_code]": {required: true},
      },
    });
  });

  $('.preview1').hide();
  $('.preview2').hide();

  function readURL1(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('.preview1').show();
        $('#imagePreview').attr('src', e.target.result);
        $('#imagePreview').hide();
        $('#imagePreview').fadeIn(650);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#imageUpload").change(function() {
    readURL1(this);
  });

  $('.remove1').click(function(){
    $('#imagePreview').removeAttr('src');
    $('.preview1').hide();
  });

  function readURL2(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('.preview2').show();
        $('#imagePreview2').attr('src', e.target.result);
        $('#imagePreview2').hide();
        $('#imagePreview2').fadeIn(650);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#imageUpload2").change(function() {
    readURL2(this);
  });

  $('.remove2').click(function(){
    $('#imagePreview2').removeAttr('src');
    $('.preview2').hide();
  });
</script>

<style type="text/css">
  input#other_res_sta {
    display: none;
  }
  label#sel_sta_id {
    display: none;
    color:#FF0000;
  }
  .error {
    color:#FF0000;
  }
</style>
