<div class="new-listing-step_section">
  <div class="inner-listing-section">
    <div class="left-white-side">
      <h1 class="main-heading">Let's get started listing your employee</h1>

      <div class="who-box">
        <p>Who are you listing?</p>

        <%= form_tag create_step_1_employee_index_path, method: :patch, id: "user_type_form" do |f| %>
          <div class="checked-box">
            <div class="input-checked">
              <%= radio_button_tag "poster_type", "individual", true %>
            </div>
            <div class="message-box">I am looking for job and I want to list myself up for companies to find and hire me</div>
          </div>

          <div class="checked-box">
            <div class="input-checked">
              <%= radio_button_tag "poster_type", "company" %>
            </div>
            <div class="message-box">I am representing a company and listing one of our company’s employee for sharing</div>
          </div>

          <%= submit_tag "Continue", class: "continue-btn" %>

        <% end %>
      </div>
    </div>

    <div class="right-grey-side">
      <div class="bulb-box">
        <%= image_tag "light-bulb.png", alt: "", class: 'bulb-img' %><br />
        As a job seeker, you can list yourself and your
        listing will be seen by hundreds of potential
        employers.<br />
        <br />
        As a company, sharing employees is a great way to
        reduce your biggest overhead costs - wages. Your
        employee also gets better job security, gains experience, connects with more people.<br />
      </div>
    </div>
  </div>
</div>
