<div class="new-listing-step_section">
  <div class="inner-listing-section">
    <div class="left-white-side">
      <h1 class="main-heading">That's it. You're almost done!</h1>

      <div class="who-box">
        <p>Review details you've entered. Click Back to edit them if necessary. Click Publish when you're ready.</p>

        <div class="user-profile">
          <div class="user-detail">
            <h1 class="user-detail-heading"><%= @employee_listing.title %></h1>

            <ul class="detail-list">
              <li class="item">
                <div class="left-heading name"><b>Name</b></div>
                <div class="name right-content"><%= "#{@employee_listing.first_name} #{@employee_listing.last_name}" %></div>
              </li>
              <li class="item">
                <div class="left-heading "><b>Posted By</b></div>
                <div class="right-content"><%= @employee_listing.lister.name %></div>
              </li>
              <li class="item">
                <div class="left-heading"><b>Age</b></div>
                <div class="right-content"><%= @employee_listing.birth_year.present? ? "#{(Date.today.year - @employee_listing.birth_year)} years old" : "-" %></div>
              </li>
              <li class="item">
                <div class="left-heading"><b>Gender</b></div>
                <div class="right-content"><%= @employee_listing.gender.titleize %></div>
              </li>
              <li class="item">
                <div class="left-heading"><b>Location</b></div>
                <div class="right-content"><%= "#{@employee_listing.city} #{@employee_listing.state} #{@employee_listing.post_code}" %></div>
              </li>
              <li class="item">
                <div class="left-heading"><b>Residency</b></div>
                <div class="right-content"><%= @employee_listing.residency_status.eql?("Other Visas") ? @employee_listing.other_residency_status : @employee_listing.residency_status %></div>
              </li>
              <li class="item">
                <div class="left-heading"><b>Have own vehicle</b></div>
                <div class="right-content"><%= @employee_listing.has_vehicle ? "Yes" : "No" %></div>
              </li>
              <li class="item">
                <div class="left-heading"><b>Language</b></div>
                <div class="right-content"><%= @employee_listing.languages.pluck(:language).to_sentence %></div>
              </li>
            </ul>
          </div>
          <div class="profile-box">
            <div class="profile">
              <% if @employee_listing.profile_picture.attached? %>
                <%= image_tag url_for(@employee_listing.profile_picture), onclick: 'openModal();currentSlide(1)', class: 'profile-img' %>
              <% else %>
                <%= image_tag 'no-image.jpg', class: 'profile-img', onclick: 'openModal();currentSlide(1)' %>
              <% end %>

              <div class="view-photo">
                <%= link_to 'View photos', 'javascript:;', class: 'view', onclick: 'openModal();currentSlide(1)' %>
              </div>
            </div>
          </div>
        </div>

        <div class="detail-custom-box">
          <h3 class="detail-heading">Description, expertise, skills</h3>
          <p class="pera-text"><%= @employee_listing.skill_description %></p>
        </div>

        <div class="detail-custom-box">
          <h3 class="detail-heading">Other comments</h3>
          <p class="pera-text"><%= @employee_listing.optional_comments.present? ? @employee_listing.optional_comments : "-" %></p>
        </div>

        <div class="detail-custom-box">
          <h3 class="detail-heading">Cancellation</h3>
          <div><strong>Cancellation policy – Free cancellation within 48 hours</strong><br />Cancel within 48 hours of booking to get a full refund.</div>

          <ul class="cancelation-list">
            <li>Cancel up to 24 hours before employment contract start
              date and time to get a refund, minus Spare Staff service
              fees.
            </li>
            <li>Cancel within 24 hours of check-in and the cost of the
              first day of contract is non-refundable.
            </li>
            <li>Spare Staff service fees are refunded only if the
              reservation is cancelled within 48 hours of booking and
              the employment contract has not started yet.
            </li>
          </ul>
        </div>

        <div class="detail-custom-box">
          <h3 class="detail-heading">Asking wage</h3>
          <ul class="custom-list">
            <li class="list-item">
              <span class="first">Weekday</span>
              <span><%= "$#{@employee_listing.weekday_price}/hour" %></span>
            </li>
            <li class="list-item">
              <span class="first">Weekend</span>
              <span><%= @employee_listing.weekend_price.present? ? "$#{@employee_listing.weekend_price}/hour" : "Not Available" %></span>
            </li>
            <li class="list-item">
              <span class="first">Public holiday</span>
              <span><%= @employee_listing.available_in_holidays ? "$#{@employee_listing.holiday_price}/hour" : "Not Available" %></span>
            </li>
          </ul>
        </div>

        <div class="detail-custom-box">
          <h3 class="detail-heading">Availability</h3>
          <p>Available for <%= @employee_listing.slots.pluck(:time_slot).to_sentence %> roles.</p>

          <ul class="custom-list">
            <% ListingAvailability::DAYS.map{|k,v| v}.each do |week_day| %>
              <li class="list-item">
                <span class="first"><%= week_day.titleize %></span>
                <span class="right">
                  <% availability = @employee_listing.listing_availabilities.find_by(day: week_day) %>
                  <% if availability.present? %>
                    <%= availability.start_time.strftime("%I:%M%p") %>&nbsp; -&nbsp;
                    <%= availability.end_time.strftime("%I:%M%p") %>
                  <% else %>
                    Not Available
                  <% end %>
                </span>
              </li>
            <% end %>

            <li class="list-item top-space">
              <span class="first">Public holiday</span>
              <span><%= @employee_listing.available_in_holidays ? "Available" : "Not available" %></span>
            </li>
          </ul>
        </div>

        <div class="detail-custom-box">
          <h3 class="detail-heading">Minimum employment term</h3>
          <ul class="custom-list">
            <li class="list-item">
              <span class="first">Minimum</span>
              <span>
                <% if @employee_listing.minimum_working_hours > 0 %>
                  <%= @employee_listing.minimum_working_hours %> hours
                <% else %>
                  -
                <% end %>
              </span>
            </li>
          </ul>
        </div>

        <div class="detail-custom-box last-box">
          <h3 class="detail-heading">Published between</h3>
          <p class="pera-text">
            <% if @employee_listing.start_publish_date.present? && @employee_listing.end_publish_date.present? %>
              <%= "From #{@employee_listing.start_publish_date.strftime("%A %b %d, %Y")} to #{@employee_listing.end_publish_date.strftime("%A %b %d, %Y")}" %>
            <% else %>
              -
            <% end %>
          </p>
        </div>

        <div class="button-box">
          <span class="link-text">&lt; <%= link_to "Back", step_5_employee_path(id: @employee_listing.id, back: true), class: 'link-text' %></span>

          <%= link_to "Save for later", publish_employee_path(id: @employee_listing.id, save_later: "Save for later"), class: "link-text"%>

          <%= link_to "Publish", publish_employee_path(id: @employee_listing.id, published: true), class: "continue-btn"%>
        </div>

      </div>
    </div>

    <div class="right-grey-side">
      <div class="bulb-box">
        <%= image_tag "light-bulb.png", alt: "", class: 'bulb-img' %><br />
        Once published, your listing will show up in search results, Hirers will be able to find your listing and submit Request to Hire for available days.<br />
        <br />
        You can edit your listing, price, and settings anytime.
      </div>
    </div>
  </div>
</div>

<%= render partial: "image_lightbox_modal" %>

<script>
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }

  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }

  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
</script>
