<div class="listing-preview-section">
  <div class="inner-preveiw">
    <div class="left-preview-detail">
      <div class="link-box">
        <%#= link_to '&lt; Back' %>
        <a href="#" class="link-text">&lt; Back</a>

        <ul class="link-box-list">
          <li class="link-box-item"><%= link_to 'Overview','#Overview', class: 'type-link selected-link' %> <span class="dot">·</span></li>
          <li class="link-box-item"><%= link_to 'Asking wage', '#AskingWage', class: 'type-link' %> <span class="dot">·</span> </li>
          <li class="link-box-item"><%= link_to 'Availability', '#Availability', class: 'type-link' %> <span class="dot">·</span> </li>
          <li class="link-box-item"><%= link_to 'Reviews', '#Reviews', class: 'type-link' %> <span class="dot">·</span> </li>
          <li class="link-box-item"><%= link_to 'Poster', '#Poster', class: 'type-link' %> </li>
        </ul>
      </div>

      <div class="user-profile">
        <div class="user-detail">
          <h1 class="user-detail-heading"><%= @employee_listing.title %></h1>

          <ul class="detail-list">
            <li class="item">
              <div class="left-heading name"><b>Name</b></div>
              <div class="name right-content"><%= "#{@employee_listing.first_name} #{@employee_listing.last_name}" %></div>
            </li>
            <li class="item">
              <div class="left-heading "><b>Current employer</b></div>
              <div class="right-content"><%= @employee_listing.lister_type.eql?("Company") ? @employee_listing.lister.name : "" %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Age</b></div>
              <div class="right-content"><%= @employee_listing.birth_year.present? ? "#{(Date.today.year - @employee_listing.birth_year)} years old" : "-" %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Gender</b></div>
              <div class="right-content"><%= @employee_listing.gender.titleize %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Location</b></div>
              <div class="right-content"><%= "#{@employee_listing.city} #{@employee_listing.state} #{@employee_listing.post_code}" %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Residency</b></div>
              <div class="right-content"><%= @employee_listing.residency_status.eql?("Other Visas") ? @employee_listing.other_residency_status : @employee_listing.residency_status %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Have own vehicle</b></div>
              <div class="right-content"><%= @employee_listing.has_vehicle ? "Yes" : "No" %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Language</b></div>
              <div class="right-content"><%= @employee_listing.languages.pluck(:language).to_sentence %></div>
            </li>
          </ul>
        </div>
        <div class="profile-box">
          <div class="profile">
            <% if @employee_listing.profile_picture.attached? %>
              <%= image_tag url_for(@employee_listing.profile_picture), class: 'profile-img' %>
            <% else %>
              <%= image_tag '/assets/no-image.jpg', class: 'profile-img' %>
            <% end %>

            <div class="view-photo">
              <%= link_to 'View photos', '', class: 'view' %>
            </div>
          </div>
        </div>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Description, expertise, skills</h3>
        <p class="pera-text"><%= @employee_listing.skill_description %></p>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Other comments</h3>
        <p class="pera-text"><%= @employee_listing.optional_comments %></p>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Cancellation</h3>
        <div><strong>Cancellation policy – Free cancellation within 48 hours</strong><br />Cancel within 48 hours of booking to get a full refund.</div>

        <ul class="cancelation-list">
          <li>Cancel up to 24 hours before employment contract start
            date and time to get a refund, minus Spare Staff service
            fees.
          </li>
          <li>Cancel within 24 hours of check-in and the cost of the
            first day of contract is non-refundable.
          </li>
          <li>Spare Staff service fees are refunded only if the
            reservation is cancelled within 48 hours of booking and
            the employment contract has not started yet.
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading" id="AskingWage">Asking wage</h3>
        <ul class="custom-list">
          <li class="list-item">
            <span class="first">Weekday</span>
            <span><%= "$#{@employee_listing.weekday_price}/hour" %></span>
          </li>
          <li class="list-item">
            <span class="first">Weekend / <br /> Public holiday</span>
            <span><%= @employee_listing.available_in_holidays ? "$#{@employee_listing.holiday_price}/hour" : "Not Available" %></span>
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading" id="Availability">Availability</h3>
        <p>Available for <%= @employee_listing.slots.pluck(:time_slot).to_sentence %> roles.</p>

        <ul class="custom-list">
          <% ListingAvailability::DAYS.map{|k,v| v}.each do |week_day| %>
            <li class="list-item">
              <span class="first"><%= week_day.titleize %></span>
              <span class="right">
                <% availability = @employee_listing.listing_availabilities.find_by(day: week_day) %>
                <% if availability.present? %>
                  <%= availability.start_time.strftime("%I:%M%p") %>&nbsp; -&nbsp;
                  <%= availability.end_time.strftime("%I:%M%p") %>
                <% else %>
                  Not Available
                <% end %>
              </span>
            </li>
          <% end %>

          <li class="list-item top-space">
            <span class="first">Public holiday</span>
            <span><%= @employee_listing.available_in_holidays ? "Available" : "Not available" %></span>
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Minimum employment term</h3>
        <ul class="custom-list">
          <li class="list-item">
            <span class="first">Minimum</span>
            <span><%= @employee_listing.minimum_working_hours %> hours</span>
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <div class="review-box" id="Reviews">
          <div class="review-header">
            <div class="review-count">
              25 Reviews
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
            </div>
            <div class="search-review">
               <input name="Text1" type="text" placeholder="Search reviews" class="custom-input" />
            </div>
          </div>

          <ul class="review-list">
           <li class="review-item">
             <div class="left-review">
              <div class="text-review">
                Friendliness
              </div>
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
             </div>
             <div class="right-review">
              <div class="text-review">
                Technical skills
              </div>
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
             </div>
           </li>

           <li class="review-item">
             <div class="left-review">
              <div class="text-review">
                Punctuality
              </div>
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
             </div>
             <div class="right-review">
              <div class="text-review">
                Management skills
              </div>
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
             </div>
           </li>

           <li class="review-item">
             <div class="left-review">
              <div class="text-review">
                Professionalism
              </div>
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
             </div>
             <div class="right-review">
              <div class="text-review">
                Communication
              </div>
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
             </div>
           </li>

          </ul>

          <div class="user-review">
            <div class="user-detail">
              <div class="user">
                <%= link_to '../users/user-profile.html' do %>
                  <%= image_tag '/assets/Henry1.jpg', class: 'ProfileIcon40px' %>
                <% end %>
                <div class="name">
                  <div><b>HirerDEF</b></div>
                  <div>November 2017</div>
                </div>
              </div>
              <div class="flag">
                <%= image_tag '/assets/flag.png', class: 'FlagReview' %>
              </div>
            </div>
            <p>There have been a few players described as 'the new George Best' over the years, but this is the first time it's been a compliment to me.</p>
          </div>

        </div>
      </div>

    </div>

    <div class="right-preview-detail">

    </div>
  </div>
</div>
<%= render partial: "layouts/footer" %>
