<div class="listing-preview-section">
  <div class="inner-preveiw">
    <div class="left-preview-detail">
      <div class="link-box">
        <%#= link_to '&lt; Back' %>
        <a href="#" class="link-text">&lt; Back</a>

        <ul class="link-box-list">
          <li class="link-box-item"><%= link_to 'Overview','#Overview', class: 'type-link selected-link' %> <span class="dot">·</span></li>
          <li class="link-box-item"><%= link_to 'Asking wage', '#AskingWage', class: 'type-link' %> <span class="dot">·</span> </li>
          <li class="link-box-item"><%= link_to 'Availability', '#Availability', class: 'type-link' %> <span class="dot">·</span> </li>
          <li class="link-box-item"><%= link_to 'Reviews', '#Reviews', class: 'type-link' %> <span class="dot">·</span> </li>
          <li class="link-box-item"><%= link_to 'Poster', '#Poster', class: 'type-link' %> </li>
        </ul>
      </div>

      <div class="user-profile">
        <div class="user-detail">
          <h1 class="user-detail-heading"><%= @employee_listing.title %></h1>

          <ul class="detail-list">
            <li class="item">
              <div class="left-heading name"><b>Name</b></div>
              <div class="name right-content"><%= "#{@employee_listing.first_name} #{@employee_listing.last_name}" %></div>
            </li>
            <li class="item">
              <div class="left-heading "><b>Posted By</b></div>
              <div class="right-content"><%= @employee_listing.lister_type.eql?("User") ? @employee_listing.lister.name : @employee_listing.lister.creator.name %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Age</b></div>
              <div class="right-content"><%= @employee_listing.birth_year.present? ? "#{(Date.today.year - @employee_listing.birth_year)} years old" : "-" %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Gender</b></div>
              <div class="right-content"><%= @employee_listing.gender.titleize %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Location</b></div>
              <div class="right-content"><%= "#{@employee_listing.city} #{@employee_listing.state} #{@employee_listing.post_code}" %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Residency</b></div>
              <div class="right-content"><%= @employee_listing.residency_status.eql?("Other Visas") ? @employee_listing.other_residency_status : @employee_listing.residency_status %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Have own vehicle</b></div>
              <div class="right-content"><%= @employee_listing.has_vehicle ? "Yes" : "No" %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Language</b></div>
              <div class="right-content"><%= @employee_listing.languages.pluck(:language).to_sentence %></div>
            </li>
          </ul>
        </div>
        <div class="profile-box">
          <div class="profile">
            <% if @employee_listing.profile_picture.present? %>
              <%= image_tag @employee_listing.profile_picture.url, onclick: 'openModal();currentSlide(1)', class: 'profile-img' %>
            <% else %>
              <%= image_tag 'no-image.jpg', onclick: 'openModal();currentSlide(1)', class: 'profile-img' %>
            <% end %>

            <div class="view-photo" >
              <%= link_to 'View photos', 'javascript:;', onclick: 'openModal();currentSlide(1)', class: 'view' %>
            </div>
          </div>
        </div>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Description, expertise, skills</h3>
        <p class="pera-text"><%= @employee_listing.skill_description %></p>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Other comments</h3>
        <p class="pera-text"><%= @employee_listing.optional_comments.present? ? @employee_listing.optional_comments : "-" %></p>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Cancellation</h3>
        <div><strong>Cancellation policy – Free cancellation within 48 hours</strong><br />Cancel within 48 hours of booking to get a full refund.</div>

        <ul class="cancelation-list">
          <li>Cancel up to 24 hours before employment contract start
            date and time to get a refund, minus Spare Staff service
            fees.
          </li>
          <li>Cancel within 24 hours of check-in and the cost of the
            first day of contract is non-refundable.
          </li>
          <li>Spare Staff service fees are refunded only if the
            reservation is cancelled within 48 hours of booking and
            the employment contract has not started yet.
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading" id="AskingWage">Asking wage</h3>
        <ul class="custom-list">
          <li class="list-item">
            <span class="first">Weekday</span>
            <span><%= "$#{@employee_listing.weekday_price}/hour" %></span>
          </li>
          <li class="list-item">
            <span class="first">Weekend</span>
            <span><%= @employee_listing.weekend_price.present? ? "$#{@employee_listing.weekend_price}/hour" : "Not Available" %></span>
          </li>
          <li class="list-item">
            <span class="first">Public holiday</span>
            <span><%= @employee_listing.available_in_holidays ? "$#{@employee_listing.holiday_price}/hour" : "Not Available" %></span>
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading" id="Availability">Availability</h3>
        <p>Available for <%= @employee_listing.slots.pluck(:time_slot).to_sentence %> roles.</p>

        <ul class="custom-list">
          <% ListingAvailability::DAYS.map{|k,v| v}.each do |week_day| %>
            <li class="list-item">
              <span class="first"><%= week_day.titleize %></span>
              <span class="right">
                <% availability = @employee_listing.listing_availabilities.find_by(day: week_day) %>
                <% if availability.present? && availability.start_time.present? && availability.end_time.present? %>
                  <%= availability.start_time.strftime("%I:%M%p") %>&nbsp; -&nbsp;
                  <%= availability.end_time.strftime("%I:%M%p") %>
                <% else %>
                  Not Available
                <% end %>
              </span>
            </li>
          <% end %>

          <li class="list-item top-space">
            <span class="first">Public holiday</span>
            <span><%= @employee_listing.available_in_holidays ? "Available" : "Not available" %></span>
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Minimum employment term (per week)</h3>
        <ul class="custom-list">
          <li class="list-item">
            <span class="first">Minimum</span>
            <span><%= @employee_listing.minimum_working_hours %> hours</span>
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <div class="review-box" id="Reviews">
          <div class="review-header">
            <div class="review-count">
              25 Reviews
              <%= image_tag 'star-rating.png', class: 'review-img' %>
            </div>
            <div class="search-review">
               <input name="Text1" type="text" placeholder="Search reviews" class="custom-input" />
            </div>
          </div>

          <ul class="review-list">
           <li class="review-item">
             <div class="left-review">
              <div class="text-review">
                Friendliness
              </div>
              <%= image_tag 'star-rating.png', class: 'review-img' %>
             </div>
             <div class="right-review">
              <div class="text-review">
                Technical skills
              </div>
              <%= image_tag 'star-rating.png', class: 'review-img' %>
             </div>
           </li>

           <li class="review-item">
             <div class="left-review">
              <div class="text-review">
                Punctuality
              </div>
              <%= image_tag 'star-rating.png', class: 'review-img' %>
             </div>
             <div class="right-review">
              <div class="text-review">
                Management skills
              </div>
              <%= image_tag 'star-rating.png', class: 'review-img' %>
             </div>
           </li>

           <li class="review-item">
             <div class="left-review">
              <div class="text-review">
                Professionalism
              </div>
              <%= image_tag 'star-rating.png', class: 'review-img' %>
             </div>
             <div class="right-review">
              <div class="text-review">
                Communication
              </div>
              <%= image_tag 'star-rating.png', class: 'review-img' %>
             </div>
           </li>

          </ul>

          <div class="user-review">
            <div class="user-detail">
              <div class="user">
                <%= link_to '../users/user-profile.html', target: '_blank' do %>
                  <%= image_tag 'Henry1.jpg', class: 'user-img' %>
                <% end %>
                <div class="name">
                  <div><b>HirerDEF</b></div>
                  <div>November 2017</div>
                </div>
              </div>
              <div class="flag">
                <%= image_tag 'flag.png', class: 'FlagReview' %>
              </div>
            </div>
            <p class="review-text">There have been a few players described as 'the new George Best' over the years, but this is the first time it's been a compliment to me.</p>
          </div>
          <div class="user-review">
            <div class="user-detail">
              <div class="user">
                <%= link_to '../users/user-profile.html', target: '_blank' do %>
                  <%= image_tag 'Henry1.jpg', class: 'user-img' %>
                <% end %>
                <div class="name">
                  <div><b>HirerDEF</b></div>
                  <div>November 2017</div>
                </div>
              </div>
              <div class="flag">
                <%= image_tag 'flag.png', class: 'FlagReview' %>
              </div>
            </div>
            <p class="review-text">There have been a few players described as 'the new George Best' over the years, but this is the first time it's been a compliment to me.</p>
          </div>
          <div class="user-review">
            <div class="user-detail">
              <div class="user">
                <%= link_to '../users/user-profile.html', target: '_blank' do %>
                  <%= image_tag 'Henry1.jpg', class: 'user-img' %>
                <% end %>
                <div class="name">
                  <div><b>HirerDEF</b></div>
                  <div>November 2017</div>
                </div>
              </div>
              <div class="flag">
                <%= image_tag 'flag.png', class: 'FlagReview' %>
              </div>
            </div>
            <p class="review-text">There have been a few players described as 'the new George Best' over the years, but this is the first time it's been a compliment to me.</p>
          </div>

          <div class="poster-box" id="Poster">
            <div class="poster-detail">
              <div class="left-detail">
                <h2 class="poster-heading">Listed by <%= @employee_listing.lister_type.eql?("User") ? @employee_listing.lister.name : @employee_listing.lister.creator.name %></h2>
                <div>Wolli Creek, Australia. Joined in May 2016</div>

                <div class="both-box">
                  <div class="review">
                    <div class="review-btn">180</div>
                    Reviews
                  </div>
                  <div class="verfied">
                    <%= image_tag 'verified.png', class: 'verify-img' %>
                    Verified
                  </div>
                </div>

              </div>

              <div class="right-img">
                <%= link_to '#', target: '_blank' do %>
                  <%= image_tag 'Henry1.jpg', class: 'poster-img' %>
                <% end %>
              </div>
            </div>

            <p class="poster-text">A versatile attacker, Ronaldo is capable of playing on either wing as well as through the centre of the pitch,[411] and, while ostensibly right-footed, is very strong with both feet.[412] He ranks among the world's fastest footballers, both with and without the ball.[413] Tactically, Ronaldo has undergone several evolutions throughout his career. While at Sporting and during his first season at Manchester United, he was typically deployed as a traditional winger on the right side of midfield, where he regularly looked to deliver crosses into the penalty area. In this position, he was able to use his pace and acceleration, agility, and technical skills to take on opponents in one-on-one
            situations. Ronaldo became noted for his dribbling and flair, often displaying an array of tricks and feints,[413][414] such as the step overs that became his
            trademark.[415] Other comments Cristiano Ronaldo dos Santos Aveiro GOIH, ComM (born 5 February 1985) is a Portuguese professional footballer who plays as a forward for Spanish club Real Madrid and the Portugal national team. Often considered the best player in the world and widely regarded as one of the greatest of all time.
            </p>

            <%= link_to 'Contact Poster', '#', class: 'poster-btn' %>
          </div>

          <div class="page-tabbing">
            <ul class="page-tabbing-list">
              <li class="tabbing-item"><a href="" class="tabbing-link">&lt;</a></li>
              <li class="tabbing-item"><a href="" class="tabbing-link tab-select">1</a></li>
              <li class="tabbing-item"><a href="" class="tabbing-link">2</a></li>
              <li class="tabbing-item"><a href="" class="tabbing-link">3</a></li>
              <li class="tabbing-item"><a href="" class="tabbing-link">4</a></li>
              <li class="tabbing-item"><a href="" class="tabbing-link">&gt;</a></li>
            </ul>
          </div>

          <div class="normal-text-box">
            <p><b>Always communicate through Spare Staff</b> · To protect your payment, never transfer money or communicate outside of the Spare Staff website or app.
            <span><%= link_to 'Learn more', '#', class: 'learn-more' %></span>
            </p>
          </div>

        </div>
      </div>

    </div>

    <div class="right-preview-detail">
      <%= form_for @employee_listing, url: create_step_5_employee_path, method: :patch, :html => { :id => "str_tme_id" } do |f| %>
        <%= hidden_field_tag "id", @employee_listing.id %>

        <div class="price-header">
          from <span class="big-text">$35</span> per hour
        </div>

        <div class="available-box">
          <div class="date-box">
            <div class="date-sec">
              <label class="thin-label">Start Date</label>
              <%= date_field_tag "hiring_start_date", Date.today, min: Date.today, id: 'str_pub' %>
              <!-- <label id="start_dat">Start date must be smaller from end date</label> -->
            </div>
            <div class="date-sec">
              <label class="thin-label">End Date</label>
              <%= date_field_tag "hiring_end_date", Date.today, min: Date.today, id: 'pub_end' %>
              <!-- <label id="end_date">End date must be greater from start date</label> -->
            </div>
          </div>

          <div class="hiring-text">Select hiring time</div>

          <div class="week-availability">
            <ul class="from-to-list">
              <li class="header-item">
                <div class="from-text">From</div>
                <div class="to-text">To</div>
              </li>

              <% ListingAvailability::DAYS.each do |day, value| %>
                <li class="availability-item">
                  <div class="start-side">
                    <span><%= day %></span>
                    <% if f.object.listing_availabilities.present? %>
                      <% if f.object.listing_availabilities.pluck(:day).include?(day.downcase) %>
                        <%= select_tag "start_time[]#{day.downcase}", options_for_select(ListingAvailability::TIME_SLOTS, selected_start_time(f.object, day.downcase)), include_blank: 'Start time', class: 'cust_str_id start-side-select' %>
                      <% else %>
                        <%= select_tag "start_time[]#{day.downcase}", options_for_select(ListingAvailability::TIME_SLOTS, selected_start_time(f.object, day.downcase)), include_blank: 'Start time', class: 'cust_str_id start-side-select', disabled: 'disabled'%>
                      <% end %>
                    <% else %>
                      <%= select_tag "start_time[]#{day.downcase}", options_for_select(ListingAvailability::TIME_SLOTS, selected_start_time(f.object, day.downcase)), include_blank: 'Start time', class: 'cust_str_id start-side-select' %>
                    <% end %>
                    <!-- <label id="end_start_tm" class="custom-error">Start date must be smaller from end date</label> -->
                  </div>
                  <div class="end-side">
                    <% if f.object.listing_availabilities.present? %>
                      <% if f.object.listing_availabilities.pluck(:day).include?(day.downcase) %>
                        <%= select_tag "end_time[]#{day.downcase}", options_for_select(ListingAvailability::TIME_SLOTS, selected_end_time(f.object, day.downcase)), include_blank: 'End time', class: 'end_str_id end-side-select' %>
                      <% else %>
                        <%= select_tag "end_time[]#{day.downcase}", options_for_select(ListingAvailability::TIME_SLOTS, selected_end_time(f.object, day.downcase)), include_blank: 'End time', class: 'end_str_id end-side-select', disabled: 'disabled' %>
                      <% end %>
                    <% else %>
                      <%= select_tag "end_time[]#{day.downcase}", options_for_select(ListingAvailability::TIME_SLOTS, selected_end_time(f.object, day.downcase)), include_blank: 'End time', class: 'end_str_id end-side-select' %>
                    <% end %>

                    <!-- <div class="availability-checkbox">
                      <%#= check_box_tag "unavailable_days[]", value, f.object.listing_availabilities.present? ? !f.object.listing_availabilities.pluck(:day).include?(day.downcase) : false, class: "unavailable_day_check", id: "unavailable_check_#{day.downcase}" %>
                      <span>Not available</span>
                    </div> -->
                    <!-- <label id="tm_end" class="custom-error">End date must be greater from start date</label> -->
                  </div>
                </li>
              <% end %>

            </ul>
          </div>
        </div>

        <div class="week-box">
          <div>Wage payment frequency</div>
          <select class="week-select">
            <option>Weekly</option>
            <option>Fortnightly</option>
          </select>
        </div>

        <div class="nor-text">You can use pre-calculated tax amount or type in your own. Always make sure tax withholding amount is correct.</div>

        <ul class="calculation-list">
          <li class="calc-item">
            <span class="left">$35 x 5 hours</span>
            <span class="right">$175.00</span>
          </li>
          <li class="calc-item">
            <span class="left">$50 x 4 hours (weekend)</span>
            <span class="right">$200.00</span>
          </li>
          <li class="calc-item last-item">
            <span class="left"><input type="checkbox" name="" class="tax-check"> Tax withholding</span>
            <span class="right">
              <span class="dollar-input-box">$</span>
              <input type="text" name="" placeholder="-4.00" class="calc-value" />
            </span>
          </li>
        </ul>


        <div class="nor-text">You can set probation period and terminate employment contracts early at any time if the employee underperforms.</div>

        <label class="coman-label"><b>Total employment contract</b></label>

        <ul class="calculation-list">
          <li class="calc-item">
            <span class="left">$35 x 55 hours</span>
            <span class="right">$1,925.00</span>
          </li>
          <li class="calc-item">
            <span class="left">$50 x 40 hours (weekend)</span>
            <span class="right">$2000.00</span>
          </li>
          <li class="calc-item">
            <span class="left">Tax withholding</span>
            <span class="right">-$40.00</span>
          </li>
          <li class="calc-item">
            <span class="left">Service fee</span>
            <span class="right">-$116.55</span>
          </li>
          <li class="calc-item">
            <span class="left"><b>Total</b></span>
            <span class="right"><b>$4001.55</b></span>
          </li>
        </ul>

        <%= link_to 'Request to hire', '#', class: 'request-btn' %>

        <p class="thin-text">You won't be charged yet. You will not pay the Total employment contract upfront. It's your choice to pay weekly or fortnightly.</p>

        <div class="footer-text">This employee listing has been viewed 149 times.</div>

      <% end %>
    </div>
  </div>

  <div class="featured-listings-box">
    <h1 class="featured-heading">Similar Listing</h1>

    <div class="featured-listings">
      <%= link_to 'employee-search/employee-profile.html', target: '_blank', class: 'licting-card-link' do %>
        <div class="listing-card">
          <div class="listing-img">
            <%= image_tag "professional-3.png", alt: "", class: "card-image" %>
          </div>
          <div class="listing-details">
            <div><b>Senior IT Administrator</b></div>
            <div>Cristiano Ronaldo</div>
            <div>$35 per hour</div>
            <div>Chippendale NSW 2008</div>
            <div class="rating">
              <%= image_tag "star-rating.png", alt: "", class: "rating-img" %>
              <span>28</span>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to 'employee-search/employee-profile.html', target: '_blank', class: 'licting-card-link' do %>
        <div class="listing-card">
          <div class="listing-img">
            <%= image_tag "IT-tech-1.jpg", alt: "", class: "card-image" %>
          </div>
          <div class="listing-details">
            <div><b>IT Administrator</b></div>
            <div>Lionel Messi</div>
            <div>$25 per hour</div>
            <div>Sydney NSW 2000</div>
            <div class="rating">
              <%= image_tag "star-rating.png", alt: "", class: "rating-img" %>
              <span>35</span>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to 'employee-search/employee-profile.html', target: '_blank', class: 'licting-card-link' do %>
        <div class="listing-card">
          <div class="listing-img">
            <%= image_tag "professional-4.png", alt: "", class: "card-image" %>
          </div>
          <div class="listing-details">
            <div><b>IT System Admin</b></div>
            <div>Wayne Rooney</div>
            <div>$25 per hour</div>
            <div>Sydney NSW 2000</div>
            <div class="rating">
              <%= image_tag "star-rating.png", alt: "", class: "rating-img" %>
              <span>12</span>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to 'employee-search/employee-profile.html', target: '_blank', class: 'licting-card-link' do %>
        <div class="listing-card">
          <div class="listing-img">
            <%= image_tag "luca.png", alt: "", class: "card-image" %>
          </div>
          <div class="listing-details">
            <div><b>IT Admin Technician</b></div>
            <div>Zlatan Ibrahimovic</div>
            <div>$20 per hour</div>
            <div>North Sydney NSW 2060</div>
            <div class="rating">
              <%#= image_tag "star-rating.png", alt: "", class: "rating-img" %>
              <span>No reviews yet</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
<%= render partial: "layouts/footer" %>

<%= render partial: "image_lightbox_modal" %>

<script>
  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }

  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }

  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
</script>
