<div class="listing-preview-section">
  <div class="inner-preveiw">
    <div class="left-preview-detail">
      <div class="link-box">
        <%#= link_to '&lt; Back' %>
        <a href="#" class="link-text">&lt; Back</a>

        <ul class="link-box-list">
          <li class="link-box-item"><%= link_to 'Overview','#Overview', class: 'type-link selected-link' %> <span class="dot">·</span></li>
          <li class="link-box-item"><%= link_to 'Asking wage', '#AskingWage', class: 'type-link' %> <span class="dot">·</span> </li>
          <li class="link-box-item"><%= link_to 'Availability', '#Availability', class: 'type-link' %> <span class="dot">·</span> </li>
          <li class="link-box-item"><%= link_to 'Reviews', '#Reviews', class: 'type-link' %> <span class="dot">·</span> </li>
          <li class="link-box-item"><%= link_to 'Poster', '#Poster', class: 'type-link' %> </li>
        </ul>
      </div>

      <div class="user-profile">
        <div class="user-detail">
          <h1 class="user-detail-heading"><%= @employee_listing.title %></h1>

          <ul class="detail-list">
            <li class="item">
              <div class="left-heading name"><b>Name</b></div>
              <div class="name right-content"><%= "#{@employee_listing.first_name} #{@employee_listing.last_name}" %></div>
            </li>
            <li class="item">
              <div class="left-heading "><b>Posted By</b></div>
              <div class="right-content"><%= @employee_listing.lister_type.eql?("User") ? @employee_listing.lister.name : @employee_listing.lister.creator.name %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Age</b></div>
              <div class="right-content"><%= @employee_listing.birth_year.present? ? "#{(Date.today.year - @employee_listing.birth_year)} years old" : "-" %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Gender</b></div>
              <div class="right-content"><%= @employee_listing.gender.titleize %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Location</b></div>
              <div class="right-content"><%= "#{@employee_listing.city} #{@employee_listing.state} #{@employee_listing.post_code}" %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Residency</b></div>
              <div class="right-content"><%= @employee_listing.residency_status.eql?("Other Visas") ? @employee_listing.other_residency_status : @employee_listing.residency_status %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Have own vehicle</b></div>
              <div class="right-content"><%= @employee_listing.has_vehicle ? "Yes" : "No" %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Language</b></div>
              <div class="right-content"><%= @employee_listing.languages.pluck(:language).to_sentence %></div>
            </li>
          </ul>
        </div>
        <div class="profile-box">
          <div class="profile">
            <% if @employee_listing.profile_picture.present? %>
              <%= image_tag @employee_listing.profile_picture.url, onclick: 'openModal();currentSlide(1)', class: 'profile-img' %>
            <% else %>
              <%= image_tag 'no-image.jpg', onclick: 'openModal();currentSlide(1)', class: 'profile-img' %>
            <% end %>

            <div class="view-photo" >
              <%= link_to 'View photos', 'javascript:;', onclick: 'openModal();currentSlide(1)', class: 'view' %>
            </div>
          </div>
        </div>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Description, expertise, skills</h3>
        <p class="pera-text"><%= @employee_listing.skill_description %></p>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Other comments</h3>
        <p class="pera-text"><%= @employee_listing.optional_comments.present? ? @employee_listing.optional_comments : "-" %></p>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Cancellation</h3>
        <div><strong>Cancellation policy – Free cancellation within 48 hours</strong><br />Cancel within 48 hours of booking to get a full refund.</div>

        <ul class="cancelation-list">
          <li>Cancel up to 24 hours before employment contract start
            date and time to get a refund, minus Spare Staff service
            fees.
          </li>
          <li>Cancel within 24 hours of check-in and the cost of the
            first day of contract is non-refundable.
          </li>
          <li>Spare Staff service fees are refunded only if the
            reservation is cancelled within 48 hours of booking and
            the employment contract has not started yet.
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading" id="AskingWage">Asking wage</h3>
        <ul class="custom-list">
          <li class="list-item">
            <span class="first">Weekday</span>
            <span><%= "$#{@employee_listing.weekday_price}/hour" %></span>
          </li>
          <li class="list-item">
            <span class="first">Weekend</span>
            <span><%= @employee_listing.weekend_price.present? ? "$#{@employee_listing.weekend_price}/hour" : "Not Available" %></span>
          </li>
          <li class="list-item">
            <span class="first">Public holiday</span>
            <span><%= @employee_listing.available_in_holidays ? "$#{@employee_listing.holiday_price}/hour" : "Not Available" %></span>
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading" id="Availability">Availability</h3>
        <p>Available for <%= @slots%> roles.</p>

        <ul class="custom-list">
          <% ListingAvailability::DAYS.map{|k,v| v}.each do |week_day| %>
            <li class="list-item">
              <span class="first"><%= week_day.titleize %></span>
              <span class="right">
                <% availability = @avalibilities.find_by(day: week_day) %>
                <% if availability.present? && availability.start_time.present? && availability.end_time.present? %>
                  <%= availability.start_time.strftime("%I:%M%p") %>&nbsp; -&nbsp;
                  <%= availability.end_time.strftime("%I:%M%p") %>
                <% else %>
                  Not Available
                <% end %>
              </span>
            </li>
          <% end %>

          <li class="list-item top-space">
            <span class="first">Public holiday</span>
            <span><%= @employee_listing.available_in_holidays ? "Available" : "Not available" %></span>
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Minimum employment term (per week)</h3>
        <ul class="custom-list">
          <li class="list-item">
            <span class="first">Minimum</span>
            <span><%= @employee_listing.minimum_working_hours %> hours</span>
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <div class="review-box" id="Reviews">
          <div class="review-header">
            <div class="review-count">
              25 Reviews
              <%= image_tag 'star-rating.png', class: 'review-img' %>
            </div>
            <div class="search-review">
               <input name="Text1" type="text" placeholder="Search reviews" class="custom-input" />
            </div>
          </div>

          <ul class="review-list">
           <li class="review-item">
             <div class="left-review">
              <div class="text-review">
                Friendliness
              </div>
              <%= image_tag 'star-rating.png', class: 'review-img' %>
             </div>
             <div class="right-review">
              <div class="text-review">
                Technical skills
              </div>
              <%= image_tag 'star-rating.png', class: 'review-img' %>
             </div>
           </li>

           <li class="review-item">
             <div class="left-review">
              <div class="text-review">
                Punctuality
              </div>
              <%= image_tag 'star-rating.png', class: 'review-img' %>
             </div>
             <div class="right-review">
              <div class="text-review">
                Management skills
              </div>
              <%= image_tag 'star-rating.png', class: 'review-img' %>
             </div>
           </li>

           <li class="review-item">
             <div class="left-review">
              <div class="text-review">
                Professionalism
              </div>
              <%= image_tag 'star-rating.png', class: 'review-img' %>
             </div>
             <div class="right-review">
              <div class="text-review">
                Communication
              </div>
              <%= image_tag 'star-rating.png', class: 'review-img' %>
             </div>
           </li>

          </ul>

          <div class="user-review">
            <div class="user-detail">
              <div class="user">
                <%= link_to '../users/user-profile.html', target: '_blank' do %>
                  <%= image_tag 'Henry1.jpg', class: 'user-img' %>
                <% end %>
                <div class="name">
                  <div><b>HirerDEF</b></div>
                  <div>November 2017</div>
                </div>
              </div>
              <div class="flag">
                <%= image_tag 'flag.png', class: 'FlagReview' %>
              </div>
            </div>
            <p class="review-text">There have been a few players described as 'the new George Best' over the years, but this is the first time it's been a compliment to me.</p>
          </div>
          <div class="user-review">
            <div class="user-detail">
              <div class="user">
                <%= link_to '../users/user-profile.html', target: '_blank' do %>
                  <%= image_tag 'Henry1.jpg', class: 'user-img' %>
                <% end %>
                <div class="name">
                  <div><b>HirerDEF</b></div>
                  <div>November 2017</div>
                </div>
              </div>
              <div class="flag">
                <%= image_tag 'flag.png', class: 'FlagReview' %>
              </div>
            </div>
            <p class="review-text">There have been a few players described as 'the new George Best' over the years, but this is the first time it's been a compliment to me.</p>
          </div>
          <div class="user-review">
            <div class="user-detail">
              <div class="user">
                <%= link_to '../users/user-profile.html', target: '_blank' do %>
                  <%= image_tag 'Henry1.jpg', class: 'user-img' %>
                <% end %>
                <div class="name">
                  <div><b>HirerDEF</b></div>
                  <div>November 2017</div>
                </div>
              </div>
              <div class="flag">
                <%= image_tag 'flag.png', class: 'FlagReview' %>
              </div>
            </div>
            <p class="review-text">There have been a few players described as 'the new George Best' over the years, but this is the first time it's been a compliment to me.</p>
          </div>

          <div class="poster-box" id="Poster">
            <div class="poster-detail">
              <div class="left-detail">
                <h2 class="poster-heading">Listed by <%= @employee_listing.lister_type.eql?("User") ? @employee_listing.lister.name : @employee_listing.lister.creator.name %></h2>
                <div>Wolli Creek, Australia. Joined in May 2016</div>

                <div class="both-box">
                  <div class="review">
                    <div class="review-btn">180</div>
                    Reviews
                  </div>
                  <div class="verfied">
                    <%= image_tag 'verified.png', class: 'verify-img' %>
                    Verified
                  </div>
                </div>

              </div>

              <div class="right-img">
                <%= link_to '#', target: '_blank' do %>
                  <%= image_tag 'Henry1.jpg', class: 'poster-img' %>
                <% end %>
              </div>
            </div>

            <p class="poster-text">A versatile attacker, Ronaldo is capable of playing on either wing as well as through the centre of the pitch,[411] and, while ostensibly right-footed, is very strong with both feet.[412] He ranks among the world's fastest footballers, both with and without the ball.[413] Tactically, Ronaldo has undergone several evolutions throughout his career. While at Sporting and during his first season at Manchester United, he was typically deployed as a traditional winger on the right side of midfield, where he regularly looked to deliver crosses into the penalty area. In this position, he was able to use his pace and acceleration, agility, and technical skills to take on opponents in one-on-one
            situations. Ronaldo became noted for his dribbling and flair, often displaying an array of tricks and feints,[413][414] such as the step overs that became his
            trademark.[415] Other comments Cristiano Ronaldo dos Santos Aveiro GOIH, ComM (born 5 February 1985) is a Portuguese professional footballer who plays as a forward for Spanish club Real Madrid and the Portugal national team. Often considered the best player in the world and widely regarded as one of the greatest of all time.
            </p>

            <%= link_to 'Contact Poster', 'javascript:;', class: 'poster-btn' %>
          </div>

          <div class="page-tabbing">
            <ul class="page-tabbing-list">
              <li class="tabbing-item"><a href="" class="tabbing-link">&lt;</a></li>
              <li class="tabbing-item"><a href="" class="tabbing-link tab-select">1</a></li>
              <li class="tabbing-item"><a href="" class="tabbing-link gray-border">2</a></li>
              <li class="tabbing-item"><a href="" class="tabbing-link gray-border">3</a></li>
              <li class="tabbing-item"><a href="" class="tabbing-link gray-border">4</a></li>
              <li class="tabbing-item"><a href="" class="tabbing-link">&gt;</a></li>
            </ul>
          </div>

          <div class="normal-text-box">
            <p><b>Always communicate through Spare Staff</b> · To protect your payment, never transfer money or communicate outside of the Spare Staff website or app.
            <span><%= link_to 'Learn more', '#', class: 'learn-more' %></span>
            </p>
          </div>

        </div>
      </div>

    </div>

    <% unless current_user && current_user == @employee_listing.poster %>
      <div id="booking_slots">
        <%= render partial: "time_slot_booking", locals: {transaction: @transaction,
                                                          employee_listing: @employee_listing,
                                                          start_date: Date.today,
                                                          end_date: Date.today
                                                          } %>
      </div>
    <% end %>
  </div>

  <div class="featured-listings-box">
    <h1 class="featured-heading">Similar Listing</h1>

    <div class="featured-listings">
      <%= link_to 'employee-search/employee-profile.html', target: '_blank', class: 'licting-card-link' do %>
        <div class="listing-card">
          <div class="listing-img">
            <%= image_tag "professional-3.png", alt: "", class: "card-image" %>
          </div>
          <div class="listing-details">
            <div><b>Senior IT Administrator</b></div>
            <div>Cristiano Ronaldo</div>
            <div>$35 per hour</div>
            <div>Chippendale NSW 2008</div>
            <div class="rating">
              <%= image_tag "star-rating.png", alt: "", class: "rating-img" %>
              <span>28</span>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to 'employee-search/employee-profile.html', target: '_blank', class: 'licting-card-link' do %>
        <div class="listing-card">
          <div class="listing-img">
            <%= image_tag "IT-tech-1.jpg", alt: "", class: "card-image" %>
          </div>
          <div class="listing-details">
            <div><b>IT Administrator</b></div>
            <div>Lionel Messi</div>
            <div>$25 per hour</div>
            <div>Sydney NSW 2000</div>
            <div class="rating">
              <%= image_tag "star-rating.png", alt: "", class: "rating-img" %>
              <span>35</span>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to 'employee-search/employee-profile.html', target: '_blank', class: 'licting-card-link' do %>
        <div class="listing-card">
          <div class="listing-img">
            <%= image_tag "professional-4.png", alt: "", class: "card-image" %>
          </div>
          <div class="listing-details">
            <div><b>IT System Admin</b></div>
            <div>Wayne Rooney</div>
            <div>$25 per hour</div>
            <div>Sydney NSW 2000</div>
            <div class="rating">
              <%= image_tag "star-rating.png", alt: "", class: "rating-img" %>
              <span>12</span>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to 'employee-search/employee-profile.html', target: '_blank', class: 'licting-card-link' do %>
        <div class="listing-card">
          <div class="listing-img">
            <%= image_tag "luca.png", alt: "", class: "card-image" %>
          </div>
          <div class="listing-details">
            <div><b>IT Admin Technician</b></div>
            <div>Zlatan Ibrahimovic</div>
            <div>$20 per hour</div>
            <div>North Sydney NSW 2060</div>
            <div class="rating">
              <%#= image_tag "star-rating.png", alt: "", class: "rating-img" %>
              <span>No reviews yet</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
<%= render partial: "layouts/footer" %>

<%= render partial: "image_lightbox_modal" %>

<script>
  var isSunday = false;
  var isMonday = false;
  var isTuesday = false;
  var isWednesday = false;
  var isThursday = false;
  var isFriday = false;
  var isSaturday = false;

  var totalSundays = 0;
  var totalMondays = 0;
  var totalTuesdays = 0;
  var totalWednesdays = 0;
  var totalThursdays = 0;
  var totalFridays = 0;
  var totalSaturdays = 0;

  var totalSundayHours = 0;
  var totalMondayHours = 0;
  var totalTuesdayHours = 0;
  var totalWednesdayHours = 0;
  var totalThursdayHours = 0;
  var totalFridayHours = 0;
  var totalSaturdayHours = 0;

  var sundayHour = 0;
  var mondayHour = 0;
  var tuesdayHour = 0;
  var wednesdayHour = 0;
  var thursdayHour = 0;
  var fridayHour = 0;
  var saturdayHour = 0;

  var totalWeekdayHours = 0;
  var totalWeekendHours = 0;

  var hiring_weekday_price = 0;
  var hiring_weekend_price = 0;

  var listingID = "<%= @employee_listing.id %>";
  var listingWeekdayPrice = "<%= @employee_listing.weekday_price %>";
  var listingWeekendPrice = "<%= @employee_listing.weekend_price %>";

  $.validator.addMethod('lessThan', function(value, element, param) {
    return this.optional(element) || value < $(param).val();
  }, "The value {0} must be less than {1}");

  $.validator.addMethod('greaterThan', function(value, element, param) {
    return this.optional(element) || value > $(param).val();
  }, "The value {0} must be less than {1}");

  $.validator.addMethod("dateGreaterThan", function(value, element, params) {
    if (!/Invalid|NaN/.test(new Date(value))) {
      return new Date(value) > new Date($(params).val());
    }
    return isNaN(value) && isNaN($(params).val()) || (Number(value) > Number($(params).val()));
  },'Must be greater than {0}');

  $.validator.addMethod("dateLessThan", function(value, element, params) {
    if (!/Invalid|NaN/.test(new Date(value))) {
      return new Date(value) < new Date($(params).val());
    }
    return isNaN(value) && isNaN($(params).val()) || (Number(value) < Number($(params).val()));
  },'Must be less than {0}');

  $("#listing_transaction").validate({
    errorPlacement: function(error, element) {
       error.appendTo(element.parent());
    },
    rules: {
      "transaction[booking_attributes][0][end_time]": {greaterThan: "#transaction_booking_attributes_0_start_time"},
      "transaction[booking_attributes][1][end_time]": {greaterThan: "#transaction_booking_attributes_1_start_time"},
      "transaction[booking_attributes][2][end_time]": {greaterThan: "#transaction_booking_attributes_2_start_time"},
      "transaction[booking_attributes][3][end_time]": {greaterThan: "#transaction_booking_attributes_3_start_time"},
      "transaction[booking_attributes][4][end_time]": {greaterThan: "#transaction_booking_attributes_4_start_time"},
      "transaction[booking_attributes][5][end_time]": {greaterThan: "#transaction_booking_attributes_5_start_time"},
      "transaction[booking_attributes][6][end_time]": {greaterThan: "#transaction_booking_attributes_6_start_time"},
      "transaction[start_date]": {required: true},
      "transaction[end_date]": {required: true, dateGreaterThan: "#transaction_start_date"},
    },
    messages: {
      "transaction[booking_attributes][0][end_time]": {greaterThan: "Must be greater than Sunday Start Time"},
      "transaction[booking_attributes][1][end_time]": {greaterThan: "Must be greater than Monday Start Time"},
      "transaction[booking_attributes][2][end_time]": {greaterThan: "Must be greater than Tuesday Start Time"},
      "transaction[booking_attributes][3][end_time]": {greaterThan: "Must be greater than Wednesday Start Time"},
      "transaction[booking_attributes][4][end_time]": {greaterThan: "Must be greater than Thursday Start Time"},
      "transaction[booking_attributes][5][end_time]": {greaterThan: "Must be greater than Friday Start Time"},
      "transaction[booking_attributes][6][end_time]": {greaterThan: "Must be greater than Saturday Start Time"},
      "transaction[end_date]": {dateGreaterThan: "Must be greater than Start Date"},
    }
  });

  $("#transaction_is_withholding_tax").on('change click', function () {
    if ($(this).is(":checked")) {
      $("#tax-notice").hide();
    } else {
      $("#tax-notice").show();
    }
  });

  $("#transaction_start_date, #transaction_end_date").on('change', function (){
    totalSundays = 0;
    totalMondays = 0;
    totalTuesdays = 0;
    totalWednesdays = 0;
    totalThursdays = 0;
    totalFridays = 0;
    totalSaturdays = 0;

    var start = $("#transaction_start_date").val();
    var end = $("#transaction_end_date").val();
    var startDate = new Date(start);
    var endDate = new Date(end);

    if (startDate < endDate){
      validateAvailability(start, end, listingID);
      for (var i = startDate; i <= endDate; ){
        if (i.getDay() == 0){
          totalSundays++;
        }else if (i.getDay() == 1) {
          totalMondays++;
        }else if (i.getDay() == 2) {
          totalTuesdays++;
        }else if (i.getDay() == 3) {
          totalWednesdays++;
        }else if (i.getDay() == 4) {
          totalThursdays++;
        }else if (i.getDay() == 5) {
          totalFridays++;
        }else if (i.getDay() == 6) {
          totalSaturdays++;
        }
        i.setTime(i.getTime() + 1000*60*60*24);
      }

      setWeekdayHours();
      setWeekendHours();
    }
  });

  function validateAvailability(start_date, end_date, listing){
    $.ajax({
      url: "/transactions/check_slot_availability",
      type: "GET",
      data : {
        start: start_date,
        end: end_date,
        listing_id: listing,
      },
      dataType: "script",
    });
  }

  function calculateTax(){
    var a = 0;
    var b = 0;

    var weekly_earning = hiring_weekday_price + hiring_weekend_price;
    var x = weekly_earning + 0.99;
    if (x >= 0 && x <= 355){
      a = 0;
      b = 0;
    }else if (x > 355 && x <= 422){
      a = 0.1900;
      b = 67.4635;
    }else if (x > 422 && x <= 528){
      a = 0.2900;
      b = 109.7321;
    }else if (x > 528 && x <= 711){
      a = 0.2100;
      b = 67.4635;
    }else if (x > 711 && x <= 1282){
      a = 0.3477;
      b = 165.4423;
    }else if (x > 1282 && x <= 1730){
      a = 0.3450;
      b = 161.9808;
    }else if (x > 1730 && x <= 3461){
      a = 0.3900;
      b = 239.8654;
    }else{
      a = 0.4700;
      b = 576.7885;
    }
    var tax = (a * x) - b;
    var service_tax = (3 * (weekly_earning - tax)) / 100;
    $("#transaction_tax_withholding_amount").val(tax.toFixed(2));
    $("#weeklyServicePrice").html(service_tax.toFixed(2));
    var weekly_total_price = weekly_earning - tax + service_tax;
    $("#weekly_total_price").html(weekly_total_price.toFixed(2));
    totalEmploymentContract(tax, service_tax, weekly_total_price);
  }

  function totalEmploymentContract(tax, service_tax, weekly_total_price){
    var startDate = new Date($("#transaction_start_date").val());
    var endDate = new Date($("#transaction_end_date").val());
    var weekDiff = Math.ceil((endDate - startDate + 1) / (1000 * 60 * 60 * 24) / 7);
    $('#ContractTaxPrice').html(tax * weekDiff);
    $('#ContractServicePrice').html((service_tax * weekDiff).toFixed(2));
    $('#ContractTotalPrice').html((weekly_total_price * weekDiff).toFixed(2));
  }


  function setWeekdayHours(){
    totalMondayHours = totalMondays * mondayHour;
    totalTuesdayHours = totalTuesdays * tuesdayHour;
    totalWednesdayHours = totalWednesdays * wednesdayHour;
    totalThursdayHours = totalThursdays * thursdayHour;
    totalFridayHours = totalFridays * fridayHour;
    weekday_hour = mondayHour + tuesdayHour + wednesdayHour + thursdayHour + fridayHour;
    totalWeekdayHours = totalMondayHours + totalTuesdayHours + totalWednesdayHours + totalThursdayHours + totalFridayHours;
    $("#weekday_hours").html(weekday_hour);
    hiring_weekday_price = weekday_hour * listingWeekdayPrice;
    $("#hiring_weekday_price").html(hiring_weekday_price);
    $("#total_weekday_hours").html(totalWeekdayHours);
    hiring_total_weekday_price = totalWeekdayHours * listingWeekdayPrice;
    $("#hiring_total_weekday_price").html(hiring_total_weekday_price);
    calculateTax();
  }

  function setWeekendHours(){
    totalSaturdayHours = totalSaturdays * saturdayHour;
    totalSundayHours = totalSundays * sundayHour;
    weekend_hour = saturdayHour + sundayHour;
    totalWeekendHours = totalSundayHours + totalSaturdayHours;
    $("#weekend_hours").html(weekend_hour);
    hiring_weekend_price = weekend_hour * listingWeekendPrice;
    $("#hiring_weekend_price").html(hiring_weekend_price);
    $("#total_weekend_hours").html(totalWeekendHours);
    hiring_total_weekend_price = totalWeekendHours * listingWeekendPrice;
    $("#hiring_total_weekend_price").html(hiring_total_weekend_price);
    calculateTax();
  }

  $(".monday_time_slot").change(function(){
    if (($("#transaction_booking_attributes_1_start_time").val() != '' && $("#transaction_booking_attributes_1_end_time").val() != '') && ($("#transaction_booking_attributes_1_start_time").val() < $("#transaction_booking_attributes_1_end_time").val())) {
      mondayHour = parseInt($("#transaction_booking_attributes_1_end_time").val()) - parseInt($("#transaction_booking_attributes_1_start_time").val());
      isMonday = true;
    }else {
      mondayHour = 0;
      totalMondayHours = 0;
      isMonday = false;
    }

    setWeekdayHours();
    // if (!isMonday) {
    //   alert('monday empty');
    // }
  });

  $(".tuesday_time_slot").change(function(){
    if (($("#transaction_booking_attributes_2_start_time").val() != '' && $("#transaction_booking_attributes_2_end_time").val() != '') && ($("#transaction_booking_attributes_2_start_time").val() < $("#transaction_booking_attributes_2_end_time").val())) {
      tuesdayHour = parseInt($("#transaction_booking_attributes_2_end_time").val()) - parseInt($("#transaction_booking_attributes_2_start_time").val());
      isTuesday = true;
    }else {
      tuesdayHour = 0;
      totalTuesdayHours = 0;
      isTuesday = false;
    }

    setWeekdayHours();
    // if (!isTuesday) {
    //   alert('tuesday empty');
    // }
  });

  $(".wednesday_time_slot").change(function(){
    if (($("#transaction_booking_attributes_3_start_time").val() != '' && $("#transaction_booking_attributes_3_end_time").val() != '') && ($("#transaction_booking_attributes_3_start_time").val() < $("#transaction_booking_attributes_3_end_time").val())) {
      wednesdayHour = parseInt($("#transaction_booking_attributes_3_end_time").val()) - parseInt($("#transaction_booking_attributes_3_start_time").val());
      isWednesday = true;
    }else {
      wednesdayHour = 0;
      totalWednesdayHours = 0;
      isWednesday = false;
    }

    setWeekdayHours();
    // if (!isWednesday) {
    //   alert('wednesday empty');
    // }
  });

  $(".thursday_time_slot").change(function(){
    if (($("#transaction_booking_attributes_4_start_time").val() != '' && $("#transaction_booking_attributes_4_end_time").val() != '') && ($("#transaction_booking_attributes_4_start_time").val() < $("#transaction_booking_attributes_4_end_time").val())) {
      thursdayHour = parseInt($("#transaction_booking_attributes_4_end_time").val()) - parseInt($("#transaction_booking_attributes_4_start_time").val());
      isThursday = true;
    }else {
      thursdayHour = 0;
      totalThursdayHours = 0;
      isThursday = false;
    }

    setWeekdayHours();
    // if (!isThursday) {
    //   alert('thursday empty');
    // }
  });

  $(".friday_time_slot").change(function(){
    if (($("#transaction_booking_attributes_5_start_time").val() != '' && $("#transaction_booking_attributes_5_end_time").val() != '') && ($("#transaction_booking_attributes_5_start_time").val() < $("#transaction_booking_attributes_5_end_time").val())) {
      fridayHour = parseInt($("#transaction_booking_attributes_5_end_time").val()) - parseInt($("#transaction_booking_attributes_5_start_time").val());
      isFriday = true;
    }else {
      fridayHour = 0;
      totalFridayHours = 0;
      isFriday = false;
    }

    setWeekdayHours();
    // if (!isFriday) {
    //   alert('friday empty');
    // }
  });

  $(".sunday_time_slot").change(function(){
    if (($("#transaction_booking_attributes_0_start_time").val() != '' && $("#transaction_booking_attributes_0_end_time").val() != '') && ($("#transaction_booking_attributes_0_start_time").val() < $("#transaction_booking_attributes_0_end_time").val())) {
      sundayHour = parseInt($("#transaction_booking_attributes_0_end_time").val()) - parseInt($("#transaction_booking_attributes_0_start_time").val());
      isSunday = true;
    }else {
      sundayHour = 0;
      totalSundayHours = 0;
      isSunday = false;
    }

    setWeekendHours();
    // if (!isSunday) {
    //   alert('sunday empty');
    // }
  });

  $(".saturday_time_slot").change(function(){
    if (($("#transaction_booking_attributes_6_start_time").val() != '' && $("#transaction_booking_attributes_6_end_time").val() != '') && ($("#transaction_booking_attributes_6_start_time").val() < $("#transaction_booking_attributes_6_end_time").val())) {
      saturdayHour = parseInt($("#transaction_booking_attributes_6_end_time").val()) - parseInt($("#transaction_booking_attributes_6_start_time").val());
      isSaturday = true;
    }else {
      saturdayHour = 0;
      totalSaturdayHours = 0;
      isSaturday = false;
    }

    setWeekendHours();
    // if (!isSaturday) {
    //   alert('saturday empty');
    // }
  });

  $("#listing_transaction").submit(function(e){
    if ( isSunday || isMonday || isTuesday || isWednesday || isThursday || isFriday || isSaturday ) {
      $("#timing_error").hide();
      return true
    }else {
      $("#timing_error").show();
      return false
    }
  });

  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }

  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }

  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
</script>

<style type="text/css">
  .error{
    color:#FF0000;
  }
</style>
