<div class="listing-preview-section">
  <div class="inner-preveiw">
    <div class="left-preview-detail">
      <div class="link-box">
        <%#= link_to '&lt; Back' %>
        <a href="#" class="link-text">&lt; Back</a>

        <ul class="link-box-list">
          <li class="link-box-item"><%= link_to 'Overview','#Overview', class: 'type-link selected-link' %> <span class="dot">·</span></li>
          <li class="link-box-item"><%= link_to 'Asking wage', '#AskingWage', class: 'type-link' %> <span class="dot">·</span> </li>
          <li class="link-box-item"><%= link_to 'Availability', '#Availability', class: 'type-link' %> <span class="dot">·</span> </li>
          <li class="link-box-item"><%= link_to 'Reviews', '#Reviews', class: 'type-link' %> <span class="dot">·</span> </li>
          <li class="link-box-item"><%= link_to 'Poster', '#Poster', class: 'type-link' %> </li>
        </ul>
      </div>

      <div class="user-profile">
        <div class="user-detail">
          <h1 class="user-detail-heading"><%= @employee_listing.title %></h1>

          <ul class="detail-list">
            <li class="item">
              <div class="left-heading name"><b>Name</b></div>
              <div class="name right-content"><%= "#{@employee_listing.first_name} #{@employee_listing.last_name}" %></div>
            </li>
            <li class="item">
              <div class="left-heading "><b>Current employer</b></div>
              <div class="right-content"><%= @employee_listing.lister_type.eql?("Company") ? @employee_listing.lister.name : "" %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Age</b></div>
              <div class="right-content"><%#= Date.today.year - @employee_listing.birth_year %> years old</div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Gender</b></div>
              <div class="right-content"><%= @employee_listing.gender.titleize %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Location</b></div>
              <div class="right-content"><%= "#{@employee_listing.city} #{@employee_listing.state} #{@employee_listing.post_code}" %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Residency</b></div>
              <div class="right-content"><%= @employee_listing.residency_status.eql?("Other Visas") ? @employee_listing.other_residency_status : @employee_listing.residency_status %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Have own vehicle</b></div>
              <div class="right-content"><%= @employee_listing.has_vehicle ? "Yes" : "No" %></div>
            </li>
            <li class="item">
              <div class="left-heading"><b>Language</b></div>
              <div class="right-content"><%= @employee_listing.languages.pluck(:language).to_sentence %></div>
            </li>
          </ul>
        </div>
        <div class="profile-box">
          <div class="profile">
            <%= image_tag '/assets/luca.png', class: 'profile-img' %>

            <div class="view-photo">
              <%= link_to 'View photos', '', class: 'view' %>
            </div>
          </div>
        </div>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Description, expertise, skills</h3>
        <p class="pera-text"><%= @employee_listing.skill_description %></p>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Other comments</h3>
        <p class="pera-text"><%= @employee_listing.optional_comments %></p>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Cancellation</h3>
        <div><strong>Cancellation policy – Free cancellation within 48 hours</strong><br />Cancel within 48 hours of booking to get a full refund.</div>

        <ul class="cancelation-list">
          <li>Cancel up to 24 hours before employment contract start
            date and time to get a refund, minus Spare Staff service
            fees.
          </li>
          <li>Cancel within 24 hours of check-in and the cost of the
            first day of contract is non-refundable.
          </li>
          <li>Spare Staff service fees are refunded only if the
            reservation is cancelled within 48 hours of booking and
            the employment contract has not started yet.
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading" id="AskingWage">Asking wage</h3>
        <ul class="custom-list">
          <li class="list-item">
            <span class="first">Weekday</span>
            <span><%= "$#{@employee_listing.weekday_price}/hour" %></span>
          </li>
          <li class="list-item">
            <span class="first">Weekend / <br /> Public holiday</span>
            <span><%= @employee_listing.available_in_holidays ? "$#{@employee_listing.holiday_price}/hour" : "Not Available" %></span>
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading" id="Availability">Availability</h3>
        <p>Available for <%= @employee_listing.slots.pluck(:time_slot).to_sentence %> roles.</p>

        <ul class="custom-list">
          <% ListingAvailability::DAYS.map{|k,v| v}.each do |week_day| %>
            <li class="list-item">
              <span class="first"><%= week_day.titleize %></span>
              <span class="right">
                <% availability = @employee_listing.listing_availabilities.find_by(day: week_day) %>
                <% if availability.present? %>
                  <%#= availability.start_time.strftime("%I:%M%p") %>&nbsp; -&nbsp;
                  <%#= availability.end_time.strftime("%I:%M%p") %>
                <% else %>
                  Not Available
                <% end %>
              </span>
            </li>
          <% end %>

          <li class="list-item top-space">
            <span class="first">Public holiday</span>
            <span><%= @employee_listing.available_in_holidays ? "Available" : "Not available" %></span>
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <h3 class="detail-heading">Minimum employment term</h3>
        <ul class="custom-list">
          <li class="list-item">
            <span class="first">Minimum</span>
            <span><%= @employee_listing.minimum_working_hours %> hours</span>
          </li>
        </ul>
      </div>

      <div class="detail-custom-box">
        <div class="review-box">
          <div class="review-header">
            <div class="review-count">
              25 Reviews
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
            </div>
            <div class="search-review">
               <input name="Text1" type="text" placeholder="Search reviews" class="custom-input" />
            </div>
          </div>

          <ul class="review-list">
           <li class="review-item">
             <div class="left-review">
              <div class="text-review">
                Friendliness
              </div>
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
             </div>
             <div class="right-review">
              <div class="text-review">
                Technical skills
              </div>
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
             </div>
           </li>

           <li class="review-item">
             <div class="left-review">
              <div class="text-review">
                Punctuality
              </div>
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
             </div>
             <div class="right-review">
              <div class="text-review">
                Management skills
              </div>
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
             </div>
           </li>

           <li class="review-item">
             <div class="left-review">
              <div class="text-review">
                Professionalism
              </div>
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
             </div>
             <div class="right-review">
              <div class="text-review">
                Communication
              </div>
              <%= image_tag '/assets/star-rating.png', class: 'review-img' %>
             </div>
           </li>

          </ul>

          <div class="user-review">
            <div class="user-detail">
              <div class="user">
                <%= link_to '../users/user-profile.html' do %>
                  <%= image_tag '/assets/Henry1.jpg', class: 'ProfileIcon40px' %>
                <% end %>
                <div class="name">
                  <div><b>HirerDEF</b></div>
                  <div>November 2017</div>
                </div>
              </div>
              <div class="flag">
                <%= image_tag '/assets/flag.png', class: 'FlagReview' %>
              </div>
            </div>
            <p>There have been a few players described as 'the new George Best' over the years, but this is the first time it's been a compliment to me.</p>
          </div>

        </div>
      </div>

    </div>

    <div class="right-preview-detail">

    </div>
  </div>
</div>






<tr>
  <td>
    <table style="width: 100%">
      <tr>
        <td style="width: 80px">&nbsp;</td>
        <td>
          <br />
          <table>
            <tr>
              <td style="width: 650px">
                <table>
                  <tr>
                    <td style="width: 55px" valign="top">

                    </td>
                    <td valign="top"><strong>
                    </td>
                    <td style="text-align: right" valign="top">
                      <a href="#">
                      <img alt="" class="" src=""/></a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="PaddingTop15px">
                      <br />
                      <br />
                      <div class="GreyLine1Px"></div>
                    </td>
                  </tr>
                </table>
                <br />
                <table style="width: 100%">
                  <tr>
                    <td style="width: 55px" valign="top">
                      <a href="../users/user-profile.html" target="_blank">
                      <img alt="" src="/assets/Henry1.jpg" class="ProfileIcon40px" align="top"/></a>
                    </td>
                    <td valign="top"><strong>HirerGHI</strong><br />
                      October 2017
                    </td>
                    <td style="text-align: right" valign="top">
                      <a href="#">
                      <img alt="" class="FlagReview" src="/assets/flag.png"/></a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="PaddingTop15px">
                      Ronaldo is better than George
                      Best and Denis Law, who were two brilliant and
                      great players in the history of United.<br />
                      <br />
                      <div class="GreyLine1Px"></div>
                    </td>
                  </tr>
                </table>
                <br />
                <table style="width: 100%">
                  <tr>
                    <td style="width: 55px" valign="top">
                      <a href="../users/user-profile.html" target="_blank">
                      <img alt="" src="/assets/Henry1.jpg" class="ProfileIcon40px" align="top"/></a>
                    </td>
                    <td valign="top"><strong>HirerKL</strong><br />
                      October 2017
                    </td>
                    <td style="text-align: right" valign="top">
                      <a href="#">
                      <img alt="" class="FlagReview" src="/assets/flag.png"/></a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="PaddingTop15px">
                      I have
                      nothing but praise for the boy. He is easily the
                      best player in the world. His contribution as a
                      goal threat is unbelievable. His stats are
                      incredible. Strikes at goal, attempts on goal,
                      raids into the penalty box, headers. It is all
                      there. Absolutely astounding.<br />
                      <p>&nbsp;</p>
                      <table style="width: 300px">
                        <tr>
                          <td>
                            <table class="OrangeBorder30px">
                              <tr>
                                <td>
                                  <a href="#" style="text-decoration: none; color: #F15927;">
                                  &lt;</a>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td>
                            <table class="ButtonOrange30px">
                              <tr>
                                <td><a href="#" class="WhiteLink12pt">1</a></td>
                              </tr>
                            </table>
                          </td>
                          <td>
                            <table class="GreyBorder30px">
                              <tr>
                                <td style="text-align: center"><a href="#">2</a></td>
                              </tr>
                            </table>
                          </td>
                          <td>
                            <table class="GreyBorder30px">
                              <tr>
                                <td style="text-align: center"><a href="#">3</a></td>
                              </tr>
                            </table>
                          </td>
                          <td>
                            <table class="GreyBorder30px">
                              <tr>
                                <td style="text-align: center"><a href="#">4</a></td>
                              </tr>
                            </table>
                          </td>
                          <td>
                            <table class="OrangeBorder30px">
                              <tr>
                                <td>
                                  <a href="#" style="text-decoration: none">
                                  &gt;</a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <br />
                      <div class="GreyLine1Px"></div>
                    </td>
                  </tr>
                </table>
                <table style="width: 100%">
                  <tr>
                    <td colspan="4">
                      <h2 id="Poster" style="margin-bottom:5px">Listed by PosterABC</h2>
                      Wolli Creek, Australia. Joined in May 2016
                    </td>
                    <td rowspan="3" style="width: 100px" valign="top"><br />
                      <a href="../users/user-profile.html" target="_blank">
                      <img alt="" src="/assets/Henry1.jpg" class="ProfileIcon60px" style="float: right" /></a>
                    </td>
                  </tr>
                  <tr>
                    <td style="background-image: url('/assets/yellow-button.png');" class="PosterSummary">
                      <span class="White16ptText">180</span>
                    </td>
                    <td style="width: 120px">&nbsp; <span style="font-size: 16pt">Reviews</span></td>
                    <td style="background-image: url('/assets/verified.png'); width:34px" class="PosterSummary">
                      &nbsp;
                    </td>
                    <td>&nbsp; <span style="font-size: 16pt">Verified</span></td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      &nbsp;
                    </td>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                </table>
                Our company is a professional football club based in Old
                Trafford, Greater Manchester, England, that competes in
                the Premier League, the top flight of English football.
                Nicknamed "the Red Devils", the club was founded as
                Newton Heath LYR Football Club in 1878, changed its name
                to Manchester United in 1902 and moved to its current
                stadium, Old Trafford, in 1910. Manchester United have
                won a record 20 League titles, 12 FA Cups, 5 League Cups
                and a record 21 FA Community Shields. The club has also
                won three UEFA Champions Leagues, one UEFA Europa
                League, one UEFA Cup Winners' Cup, one UEFA Super Cup,
                one Intercontinental Cup and one FIFA Club World Cup. In
                1998–99, the club became the first in the history of
                English football to achieve the treble of the Premier
                League, the FA Cup and the UEFA Champions League.[3] In
                2016–17, by winning the UEFA Europa League, they became
                one of five clubs to have won all three main UEFA club
                competitions. In addition, they became the only
                professional English club to have won every ongoing
                honour available to the first team that is organised by
                a national or international governing body.<br />
                <br />
                <table class="OrangeBorder150px">
                  <tr>
                    <td style="text-align: center">
                      <a class="OrangeLink12ptNoUnderline" href="../messages/user-send-messages.html" target="_blank">Contact Poster</a>
                    </td>
                  </tr>
                </table>
                <p>&nbsp;</p>
                <div class="GreyLine1Px"></div>
                <br/>
                <strong>Always communicate through Spare Staff</strong>
                · To protect your payment, never transfer money or
                communicate outside of the Spare Staff website or app.
                <a href="#">Learn more</a>
                <br/><br/>
                <div class="GreyLine1Px"></div>
                <br />
              </td>
              <td valign="top" style="padding-left:40px">
                <table class="RequestToHireBox">
                  <tr>
                    <td style="padding:20px">
                      from <span style="font-size: 20pt">$35</span>
                      per hour<br />
                      <br />
                      <div class="GreyLine1Px"></div>
                      <br />
                      <table style="width: 100%" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="width: 50%">Start date</td>
                          <td style="width: 50%">End date</td>
                        </tr>
                        <tr>
                          <td>
                            <table class="CalendarSelection">
                              <tr>
                                <td onclick="toggle_visibility('StartDateSelectionBox');">12-02-2019</td>
                              </tr>
                            </table>
                            <div class="StartDateSelection" id="StartDateSelectionBox">
                              <img alt="" src="/assets/single-calendar-1.jpg" width="250px" />
                            </div>
                          </td>
                          <td>
                            <table class="CalendarSelection">
                              <tr>
                                <td onclick="toggle_visibility('EndDateSelectionBox');">
                                  24-04-2019
                                </td>
                              </tr>
                            </table>
                            <div class="EndDateSelection" id="EndDateSelectionBox">
                              <img alt="" src="/assets/single-calendar-2.jpg" width="250px" />
                            </div>
                          </td>
                        </tr>
                      </table>
                      <br />
                      Select hiring time<br />
                      <br />
                      <table class="DaySelection">
                        <tr>
                          <td style="width: 33%">&nbsp;</td>
                          <td style="width: 33%">From</td>
                          <td style="width: 33%; text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To</td>
                        </tr>
                        <tr>
                          <td>Monday</td>
                          <td>
                            <select name="Select1">
                              <option></option>
                              <option selected="selected">09:00
                              </option>
                              <option>10:00</option>
                              <option>11:00</option>
                              <option>12:00</option>
                            </select>
                          </td>
                          <td style="text-align: right">
                            <select name="Select2">
                              <option></option>
                              <option>09:00
                              </option>
                              <option>10:00</option>
                              <option>11:00</option>
                              <option selected="selected">12:00</option>
                              <option>13:00</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>Tuesday</td>
                          <td>
                            <select name="Select3">
                              <option></option>
                              <option>09:00
                              </option>
                              <option>10:00</option>
                              <option>11:00</option>
                              <option>12:00</option>
                              <option>13:00</option>
                              <option>14:00</option>
                              <option selected="selected">15:00</option>
                              <option>16:00</option>
                            </select>
                          </td>
                          <td style="text-align: right">
                            <select name="Select4">
                              <option></option>
                              <option>09:00
                              </option>
                              <option>10:00</option>
                              <option>11:00</option>
                              <option>12:00</option>
                              <option>13:00</option>
                              <option>14:00</option>
                              <option>15:00</option>
                              <option>16:00</option>
                              <option selected="selected">17:00</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="NotAvailable">Wednesday</span></td>
                          <td>
                            <select name="Select5" class="NotAvailable">
                              <option></option>
                            </select>
                          </td>
                          <td style="text-align: right">
                            <select name="Select6" class="NotAvailable">
                              <option></option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="NotAvailable">Thursday</span></td>
                          <td>
                            <select name="Select7" class="NotAvailable">
                              <option></option>
                            </select>
                          </td>
                          <td style="text-align: right">
                            <select name="Select9" class="NotAvailable">
                              <option></option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="NotAvailable">Friday</span></td>
                          <td>
                            <select name="Select8" class="NotAvailable">
                              <option></option>
                            </select>
                          </td>
                          <td style="text-align: right">
                            <select name="Select10" class="NotAvailable">
                              <option></option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>Saturday</td>
                          <td>
                            <select name="Select11">
                              <option></option>
                              <option>10:00</option>
                              <option>11:00</option>
                              <option selected="selected">12:00</option>
                              <option>13:00</option>
                              <option>14:00</option>
                              <option>15:00</option>
                            </select>
                          </td>
                          <td style="text-align: right">
                            <select name="Select12">
                              <option></option>
                              <option>10:00</option>
                              <option>11:00</option>
                              <option>12:00</option>
                              <option>13:00</option>
                              <option>14:00</option>
                              <option>15:00</option>
                              <option selected="selected">16:00</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="NotAvailable">Sunday</span></td>
                          <td>
                            <select name="Select13" class="NotAvailable">
                              <option></option>
                            </select>
                          </td>
                          <td style="text-align: right">
                            <select name="Select14" class="NotAvailable">
                              <option></option>
                            </select>
                          </td>
                        </tr>
                      </table>
                      <br/>
                      <table class="PaymentFrequency">
                        <tr>
                          <td colspan="2" style="border-bottom-style:hidden">
                            <div class="GreyLine1Px"></div>
                          </td>
                        </tr>
                        <tr>
                          <td>Wage payment frequency</td>
                          <td style="width:100px; text-align:right;">
                            <select name="Select15" style="width:100px">
                              <option selected="selected">Weekly</option>
                              <option>Fortnightly</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>$35 x 5 hours</td>
                          <td style="width:100px; text-align:right;">
                            $175.00
                          </td>
                        </tr>
                        <tr>
                          <td>$50 x 4 hours (weekend)</td>
                          <td style="width:100px; text-align:right;">
                            $200.00
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input name="Checkbox1" value="Tax" type="checkbox" style="vertical-align:bottom; height:15px" checked="checked" onchange="toggle_visibility('TaxNotice');" />Tax withholding
                          </td>
                          <td style="width:100px; text-align:right;">
                            <div class="input-icon">
                              <input type="text" class="Width100Px TextAllignRight" name="Price" value="-4.00" />
                              <i>$</i>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" class="Text14px">
                            <div class="RedText Text14px Hidden" id="TaxNotice">
                              As an employer, tax withholding is your
                              legal requirement. If you choose not to
                              withhold tax now, you might be liable for a
                              penalty to ATO later.
                            </div>
                            You can use pre-calculated tax amount or
                            type in your own. Always make sure tax
                            withholding amount is correct.
                          </td>
                        </tr>
                        <tr>
                          <td>Service fee</td>
                          <td style="width:100px; text-align:right;">
                            $11.13
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Weekly total</strong></td>
                          <td style="width:100px; text-align:right;">
                            <strong>$382.13</strong>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" style="border-bottom-style:hidden">You can set probation period
                            and terminate employment contracts early at any
                            time if the employee underperforms.
                          </td>
                        </tr>
                      </table>
                      <table class="PriceCalculation">
                        <tr>
                          <td colspan="2" style="border-bottom-style:hidden">
                            <div class="GreyLine1Px"></div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2"><strong>Total employment contract</strong></td>
                        </tr>
                        <tr>
                          <td>$35 x 55 hours</td>
                          <td style="text-align: right">
                            $1,925.00
                          </td>
                        </tr>
                        <tr>
                          <td>$50 x 40 hours (weekend)</td>
                          <td style="text-align: right">$2,000.00</td>
                        </tr>
                        <tr>
                          <td>Tax withholding</td>
                          <td style="text-align: right">-$40.00</td>
                        </tr>
                        <tr>
                          <td>Service fee</td>
                          <td style="text-align: right">$116.55</td>
                        </tr>
                        <tr>
                          <td><strong>Total</strong></td>
                          <td style="text-align: right"><strong>
                            $4,001.55</strong>
                          </td>
                        </tr>
                      </table>
                      <br />
                      <table class="ButtonOrangeNoSize">
                        <tr>
                          <td>
                            <a class="RequestToHireButton" href="../new-hiring/request-to-hire-1.html">Request to hire</a>
                          </td>
                        </tr>
                      </table>
                      <div style="text-align: center; padding-top:10px; width:100%; border-bottom:0.5px #e4e4e4 solid; font-size:10pt">
                        You won't be charged yet.
                        You will not pay the Total employment
                        contract upfront. It's your choice to pay
                        weekly or fortnightly.<br />
                        &nbsp;
                      </div>
                      <br />
                      This employee listing has been viewed 149 times.
                    </td>
                  </tr>
                </table>
                <br/>
              </td>
            </tr>
            <tr>
              <td style="width: 650px">
                &nbsp;
              </td>
              <td valign="top" style="padding-left:40px">
                &nbsp;
              </td>
            </tr>
          </table>
          <h2>Similar Listing</h2>
          <table class="ListingList">
            <tr>
              <td>
                <a href="employee-profile.html" target="_blank">
                <img alt="" class="Image200px" src="/assets/professional-3.png" /></a>
              </td>
              <td>
                <a href="employee-profile.html" target="_blank">
                <img alt="" class="Image200px" src="/assets/IT-tech-1.jpg" /></a>
              </td>
              <td>
                <a href="employee-profile.html" target="_blank">
                <img alt="" class="Image200px" src="/assets/professional-4.png" /></a>
              </td>
              <td>
                <a href="employee-profile.html" target="_blank">
                <img alt="" class="Image200px" src="/assets/luca.png" /></a>
              </td>
            </tr>
            <tr>
              <td style="width: 25%"><strong>&nbsp;<br />
                <a href="employee-profile.html" target="_blank" class="Listing12ptLink">Senior IT Administrator</a></strong><a href="employee-profile.html" target="_blank" class="Listing12ptLink"><br />
                Cristiano Ronaldo<br />
                $35 per hour<br />
                Chippendale NSW 2008</a>
              </td>
              <td style="width: 25%"><strong>&nbsp;<br />
                <a href="employee-profile.html" target="_blank" class="Listing12ptLink">IT Administrator</a></strong><a href="employee-profile.html" target="_blank" class="Listing12ptLink"><br />
                Lionel Messi<br />
                $25 per hour<br />
                Sydney NSW 2000</a>
              </td>
              <td style="width: 25%"><strong>&nbsp;<br />
                <a href="employee-profile.html" target="_blank" class="Listing12ptLink">IT System Admin</a></strong><a href="employee-profile.html" target="_blank" class="Listing12ptLink"><br />
                Wayne Rooney<br />
                $25 per hour<br />
                Sydney NSW 2000</a>
              </td>
              <td style="width: 25%"><strong>&nbsp;<br />
                <a href="employee-profile.html" target="_blank" class="Listing12ptLink">IT Admin Technician</a></strong><a href="employee-profile.html" target="_blank" class="Listing12ptLink"><br />
                Zlatan Ibrahimovic<br />
                $20 per hour<br />
                North Sydney NSW 2060</a>
              </td>
            </tr>
            <tr>
              <td>
                <img alt="" class="ListingListStarRating" src="/assets/star-rating.png" /> 28
              </td>
              <td>
                <img alt="" class="ListingListStarRating" src="/assets/star-rating.png" /> 35
              </td>
              <td>
                <img alt="" class="ListingListStarRating" src="/assets/star-rating.png" /> 12
              </td>
              <td>No reviews yet</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
<%= render partial: "layouts/footer" %>
