<%= form_tag action_url, method: :get do |f| %>
  <div class="search_row">
    <!-- <input name="q" class="search_input" type="text" placeholder="Search by ID, name, email, or company name" value=""> -->
    <%#= text_field_tag 'q',params[:q], placeholder: "Search by ID, name, email, or company name", class: "search_input" %>
    <%= text_field_tag :q, params[:q].present? ? params[:q] : nil, placeholder: page_name.eql?('users_index') ? "Search by ID, name, email, or company name" : (page_name.eql?('hirings_index') ? "Search by ID, listing title, employee, hirer, or poster" : (page_name.eql?('listings_index') ? "Search by ID, title, name, or poster" : (page_name.eql?('conversations_index') ? "Search by ID, keyword in conversations, or username" : "Search by Hiring ID, or keywords in reviews"))), class: "search_input" %>
    <button class="search_btn">Search</button>
    <%#= link_to 'Show all', '', class: 'spare_link' %>
  </div>

  <div class="search_row">
    <div class="from_date">
      <%= page_name.eql?('users_index') ? "Joined" : (page_name.eql?('hirings_index') ? "Started" : (page_name.eql?('listings_index') ? "Created" : (page_name.eql?('conversations_index') ? "Started" : "From"))) %> From (optional)<br>
      <%= text_field_tag :created_at_gteq, params[:created_at_gteq].present? ? params[:created_at_gteq] : nil,class: 'Width125Px datepicker_calender', 'datepicker' => true ,data: {"date-format" => "yyyy-mm-dd"}, placeholder: "dd/mm/yyyy" %>
      <!-- <input name="join_start_date" class="Width125Px datepicker" type="text" placeholder="dd/mm/yyyy"> -->
    </div>
    <div class="to_date">
      <%= page_name.eql?('users_index') ? "Joined" : (page_name.eql?('hirings_index') ? "Started" : (page_name.eql?('listings_index') ? "Created" : (page_name.eql?('conversations_index') ? "Started" : "From"))) %> To (optional)<br>
      <%= text_field_tag :created_at_lteq, params[:created_at_gteq].present? ? params[:created_at_lteq] : nil, class: 'Width125Px datepicker_calender', 'datepicker' => true,data: {"date-format" => "yyyy-mm-dd"}, placeholder: "dd/mm/yyyy" %>
      <!-- <input name="join_end_date" class="Width125Px datepicker" type="text" placeholder="dd/mm/yyyy"> -->
    </div>
    <div>
      Show per page<br>
      <select class="" name="per_page">
        <option value="50" selected="selected">50
        </option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>
    </div>
  </div>
  <%= hidden_field_tag 'search_fields', 'search' %>
<% end %>