<div class="admin_sub_header">
  <div>
    <%= link_to 'Backend Home', '', class: 'sub_link' %>
    &nbsp;&gt; Users
  </div>
</div>

<div class="admin_panle_body">
  <%= render partial: "layouts/admin/left_hand_navigation" %>
  <div class="admin_right_panel">
    <div class="step_heading">Users</div>

    <div class="right_step user">
      <%= render partial: "admin/users/search_form", locals: {action_url: admin_users_path} %>
      <div class="search_row">
        <select class="multiple_select" name="Multiple">
          <option>Multiple selection action</option>
          <option value="delete_selected">Delete selected accounts
          </option>
          <option value="suspend_selected">Suspend selected accounts</option>
        </select>
        &nbsp;&nbsp;<button class="Width50Px gobutton">Go</button>
        &nbsp; 0 of <%= @users.count %> selected
      </div>
      <div class="error_arise">Please Select a value!</div>

      <div class="search_row">
        <div>Displaying 1 - <%= @users.count %> of <%= @users.count - @users.where(is_suspended: true).count %> accepted users and <%= @users.where(is_suspended: true).count %>
        suspended users</div>
        &nbsp;
        <%#= link_to 'Export all as CSV', '#', class: 'spare_link export_csv' %>
      </div>
      <div class="main_table_container">
        <% if @users.blank? %>
          <div>No Results found</div>
        <% else %>
          <div class="csv_table">
            <div class="csv_table_row gray_bg">
              <div class="Width30Px">
                <%= check_box_tag 'selected', '', nil, class: 'checkbox_input_all' %>
                <!-- <input name="Checkbox1" type="checkbox" class="checkbox_input"> -->
              </div>
              <div class="Width50Px">ID</div>
              <div class="Width100Px">First name</div>
              <div class="Width100Px">Last name</div>
              <div class="Width200Px">Email</div>
              <div class="Width100Px">Role</div>
              <div class="Width150Px">Company</div>
              <div class="Width100Px">Date joined</div>
              <div class="Width100Px">Last login</div>
              <div class="Width100Px text-center">Is suspended</div>
              <div class="Width80Px text-center">Is admin</div>
              <div class="Width80Px text-center">Suspend</div>
              <% if current_user.is_superadmin %>
                <div class="Width80Px text-center">Admin</div>
              <% end %>
              <div class="Width80Px text-center">Deleted</div>
              <div class="Width80Px text-center">Edit user</div>
            </div>
            <div class="sort_paginate_ajax1">
              <% @users.each do |person| %>
                <div class="csv_table_row">
                  <div class="Width30Px">
                    <%= check_box_tag "person[#{person.id}]", person.id, nil, class: 'checkbox_input' %>
                    <!-- <input name="Checkbox2" type="checkbox" class="checkbox_input"> -->
                  </div>
                  <div class="Width50Px">
                    <%= link_to person.id, user_path(id: person.id), class: 'spare_link', target: '_blank' %>
                  </div>
                  <div class="Width100Px"><%= person.first_name %></div>
                  <div class="Width100Px"><%= person.last_name %></div>
                  <div class="Width200Px">
                    <%= mail_to person.email, person.email, class: 'spare_link' %>
                  </div>
                  <div class="Width100Px"><%= person.company&.role %></div>
                  <div class="Width150Px"><%= person.company&.name %></div>
                  <div class="Width100Px"><%= person.created_at.strftime("%b %e, %Y") %></div>
                  <div class="Width100Px"><%= person.last_sign_in_at&.strftime("%b %e, %Y") %></div>
                  <div class="Width100Px text-center suspend_user_<%= person.id %>"><%= person.is_suspended.eql?(true) ? "Yes" : "No" %></div>
                  <div class="Width80Px text-center admin_user_<%= person.id %>"><%= person.is_admin.eql?(true) ? "Yes" : "No" %></div>
                  <div class="Width80Px text-center">
                    <%= check_box_tag 'suspend_user', person.id, nil, class: '' , checked: (person.is_suspended ? true : false) %>
                    <%#= check_box_tag 'suspend_user', person.id %></div>
                  <% if current_user.is_superadmin %>
                    <div class="Width80Px text-center">
                      <%= check_box_tag 'make_admin', person.id, nil, class: '' , checked: (person.is_admin ? true : false) %>
                      <%#= check_box_tag 'make_admin', person.id %></div>
                  <% end %>
                  <div class="Width80Px text-center">
                    <%= check_box_tag 'delete_user', person.id, nil, class: '' , checked: (person.deleted_at.present? ? true : false) %>
                  </div>
                  <div class="Width80Px text-center">
                    <%= link_to edit_admin_user_path(person.id) do %>
                      <%= image_tag 'pencil.png', class: "Height15px" %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <script type="text/javascript">
                $(function() {
                  $(".sort_paginate_ajax1 th a, .sort_paginate_ajax1 .pagination a").on("click", function(){
                    url = this.href
                    $.getScript(url);
                    return false;
                  });
                });
              </script>
            </div>
            <div class="will_pagination_box pagination_box">
              <%= js_will_paginate @users, :previous_label => "<", :next_label => ">" %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- <div class="pagination_box hidden">
        <a href="#" class="pagi_btn prev_next">&lt;</a>
        <a href="#" class="pagi_btn selected_btn">1</a>
        <a href="#" class="pagi_btn">2</a>
        <a href="#" class="pagi_btn">3</a>
        <a href="#" class="pagi_btn">4</a>
        <a href="#" class="pagi_btn prev_next">&gt;</a>
      </div> -->
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#suspend_user,#make_admin,#delete_user').click(function() {
    var checked;
    var check_type;
    if ($(this).attr('name') == "suspend_user") {
      check_type = "suspend_user"
    }
    else if ($(this).attr('name') == "make_admin") {
      check_type = "make_admin"
    }
    else {
      check_type = "delete_user"
    }
    if ($(this).is(':checked')) {
      checked = true;
    } else {
      checked = false;
    } 
    $.ajax({
      type: "POST",
      url: "<%= suspend_or_make_admin_user_admin_users_path %>",
      data: { id: $(this).val(), checked: checked, check_type: check_type }
    });
  });
  $(document).ready(function(){
    $(".datepicker_calender").datepicker({
      autoclose: true,
      todayHighlight: true,
      dateFormat: 'yyyy-mm-dd'
    });
  });
  $('.checkbox_input_all').click(function(){
    if ($(this).is(':checked')) {
      $('.checkbox_input').prop('checked', true)
    }
    else {
      $('.checkbox_input').prop('checked', false)
    }
  })
  $('.gobutton').click(function(){
    if ($('.multiple_select').val() == "Multiple selection action" || $('.checkbox_input').is(':checked') == false)
      $('.error_arise').show();
    else {
      $('.error_arise').hide();
      var ids = [];
      $('.checkbox_input:checkbox:checked').each(function () {
        code = $(this).val();
        ids.push(code);
      });
      $.ajax({
        type: "GET",
        url: "<%= suspend_or_delete_admin_users_path %>",
        data: { ids: ids, select_action: $('.multiple_select').val() }
      });
    }
  })
</script>