<div class="right_request_section">
  <div class="user-right-box">
    <div class="name-box">
      <span class="Text22px"><%= @employee_listing.name %></span>
      <%= @employee_listing.title %>
    </div>
    <div class="image-box">
      <% if @employee_listing.profile_picture.present? %>
        <%= image_tag @employee_listing.profile_picture.url, class: 'Image100pxRight' %>
      <% else %>
        <%= image_tag 'no-image.jpg', class: 'Image100pxRight' %>
      <% end %>
    </div>
  </div>

  <div class="user-right-box">
    <div class="left">
      <span><b>From</b></span>
      <div><%= @transaction.start_date.strftime("%A %b %d, %Y") %></div>
    </div>
    <div class="right">
      <span><b>To</b></span>
      <div><%= @transaction.end_date.strftime("%A %b %d, %Y") %></div>
    </div>
  </div>

  <div class="user-right-box">
    <div>
      <%= @slot.gsub(/,\s*$/, "").gsub(/(.*),(.*)/, '\1 and\2') %>
    </div>
  </div>
  <div class="user-right-box">
    <div class="left">
      <span><b>Probationary period</b></span>
    </div>
    <div class="right">
      <span id="probationary_period">
        <% if @transaction.probationary_period.present? %>
          <%= @transaction.probationary_period.eql?(1) ? "#{@transaction.probationary_period} month" : "#{@transaction.probationary_period} months" %>
        <%elsif (@transaction.end_date - @transaction.start_date).to_i > 29%>
          1 month
        <%else%>
          N/A
        <%end%>
      </span>
    </div>
  </div>
  <div class="discount_applied"></div>
  <div class="user-right-box">
    <div class="left">
      <div><b>Weekly payment</b></div>
      <div><%= "$#{@employee_listing.weekday_price.to_f} x #{@transaction.weekday_hours} hours" %></div>
      <div><%= "$#{@employee_listing.weekend_price.to_f} x #{@transaction.weekend_hours} hours (weekend)" %></div>
      <div>Tax withholding</div>
      <div>Service fee</div>
    </div>
    <div class="right">
      <div>&nbsp;</div>
      <div class="inline_data">
        <span class="old_amount hidden">
          $<span id="hiring_weekday_price_old"> <%= "$#{(@employee_listing.weekday_price.to_f * @transaction.weekday_hours).round(2)}" %>&nbsp;</span>
        </span>
        <div class="discount_weekday_price"><%= "$#{(@employee_listing.weekday_price.to_f * @transaction.weekday_hours).round(2)}" %></div>
      </div>
      <div class="inline_data">
        <span class="old_amount hidden">
          $<span id="hiring_weekday_price_old"> <%= "$#{(@employee_listing.weekend_price.to_f * @transaction.weekend_hours).round(2)}" %>&nbsp;</span>
        </span>
        <div class="discount_weekend_price"><%= "$#{(@employee_listing.weekend_price.to_f * @transaction.weekend_hours).round(2)}" %></div>
      </div>
      <div><%= "-$#{@transaction.tax_withholding_amount_calculate.round(2)}" %></div>
      <div class="discount_service_fee">$<%= @transaction.service_fee.round(2) %></div>
    </div>
  </div>

  <div class="user-right-box">
    <div class="left">
      <span><b>Weekly Total</b></span>
    </div>
    <div class="right">
      <span><b class="discount_hirer_weekly_amount">$<%= @transaction.hirer_weekly_amount %></b></span>
    </div>
  </div>

  <!-- <div class="user-right-box joint-box">
    <div class="inner-joint">
      <div class="left">
        <div><b>Total employment contract</b></div>
        <div><%= "$#{@employee_listing.weekday_price.to_f} x #{@transaction.total_weekday_hours} hours" %></div>
        <div><%= "$#{@employee_listing.weekend_price.to_f} x #{@transaction.total_weekend_hours} hours (weekend)" %></div>
        <div>Tax withholding</div>
        <div>Service fee</div>
      </div>
      <div class="right">
        <div>&nbsp;</div>
        <div class="discount_weekday_price_total"><%= "$#{(@employee_listing.weekday_price.to_f * @transaction.total_weekday_hours).round(2)}" %></div>
        <div class="discount_weekend_price_total"><%= "$#{(@employee_listing.weekend_price.to_f * @transaction.total_weekend_hours).round(2)}" %></div>
        <div><%= "-$#{@transaction.total_tax_withholding.round(2)}" %></div>
        <div class="discount_total_service_fee">$<%= @transaction.total_service_fee.round(2) %></div>
      </div>
    </div>
    <div class="devider">
      <div class="full-row">
        <span class="total"><b>Total</b></span>
        <span class="value"><b class="discount_total_amount"><%= "$#{@transaction.total_amount.round(2)}" %></b></span>
      </div>
      <div class="p-text">You will not pay the Total employment contract upfront. You have chosen to pay weekly.</div>
    </div>
  </div> -->

  <div class="user-right-box">
    <div class="name-box">
      <span><b><%= "#{@employee_listing.poster.name} is Poster" %></b></span>
    </div>
    <div class="image-box">
      <% if @employee_listing.profile_picture.present? %>
        <%= image_tag @employee_listing.profile_picture.url, class: 'Image100pxRight' %>
      <% else %>
        <%= image_tag 'no-image.jpg', class: 'Image100pxRight' %>
      <% end %>
    </div>
  </div>

  <!-- <div class="user-right-box bottom-joint-box">
    <div><b>Cancellation policy</b></div>

    <div class="more-box">
      Cancel within 48 hours of booking to get a full refund.
      <br />
      <%= link_to 'More details', 'https://www.sparestaff.com.au/cancellation-policy', target: '_blank', class: 'blank-link' %>
    </div>
  </div> -->
</div>
