<div class="request_hire-section">
  <div class="comman-inner-both">
    <div class="left_request_section">
      <ul class="logo-list">
        <li class="logo-list-item">
          <%= link_to '' do %>
            <%= image_tag 'logo.png', class: 'logo_img' %>
          <% end %>
        </li>
        <li class="logo-list-item">
          <%= link_to '1. Review hire details', '#', class: 'item-logo select-item' %>
        </li>
        <li class="logo-list-item">
          >
        </li>
        <li class="logo-list-item">
          <%= link_to '2. Confirm and pay', '#', class: 'item-logo' %>
        </li>
      </ul>

      <%#= render partial: "employee_listings/review_hire_details" %>

      <%= render partial: "employee_listings/confirm_and_pay" %>

    </div>

    <div class="right_request_section">
      <div class="user-right-box">
        <div class="name-box">
          <span class="Text22px">Senior IT Administrator</span>
          Cristiano Ronaldo
        </div>
        <div class="image-box">
          <%= image_tag 'luca.png', class: 'Image100pxRight' %>
        </div>
      </div>

      <div class="user-right-box">
        <div class="left">
          <span><b>From</b></span>
          <div>Monday Feb 12, 2019</div>
        </div>
        <div class="right">
          <span><b>To</b></span>
          <div>Wednesday Apr 24, 2019</div>
        </div>
      </div>

      <div class="user-right-box">
        <div>Mon 09:00 - 12:00, Tue 15:00 - 17:00, Sat 12:00 - 16:00</div>
      </div>

      <div class="user-right-box">
        <div class="left">
          <span><b>Probationary period</b></span>
        </div>
        <div class="right">
          <span>1 month</span>
        </div>
      </div>

      <div class="user-right-box">
        <div class="left">
          <div><b>Weekly payment</b></div>
          <div>$35.00 x 5 hours</div>
          <div>$50.00 x 4 hours (weekend)</div>
          <div>Tax withholding</div>
          <div>Service fee</div>
        </div>
        <div class="right">
          <div>&nbsp;</div>
          <div>$175.00</div>
          <div>$200.00</div>
          <div>-$4.00</div>
          <div>$11.13</div>
        </div>
      </div>

      <div class="user-right-box">
        <div class="left">
          <span><b>Weekly Total</b></span>
        </div>
        <div class="right">
          <span><b>$382.13</b></span>
        </div>
      </div>

      <div class="user-right-box joint-box">
        <div class="inner-joint">
          <div class="left">
            <div><b>Total employment contract</b></div>
            <div>$35.00 x 55 hours</div>
            <div>$50.00 x 40 hours (weekend)</div>
            <div>Tax withholding</div>
            <div>Service fee</div>
          </div>
          <div class="right">
            <div>&nbsp;</div>
            <div>$1,925.00</div>
            <div>$2,000.00</div>
            <div>-$40.00</div>
            <div>$116.55</div>
          </div>
        </div>
        <div class="devider">
          <div class="full-row">
            <span class="total"><b>Total</b></span>
            <span class="value"><b>$4,001.55</b></span>
          </div>
          <div class="p-text">You will not pay the Total employment contract upfront. You have chosen to pay weekly.</div>
        </div>
      </div>

      <div class="user-right-box">
        <div class="name-box">
          <span><b>PosterABC is PosterABC</b></span>
        </div>
        <div class="image-box">
          <%= image_tag 'zidane-profile.jpg', class: 'Image100pxRight' %>
        </div>
      </div>

      <div class="user-right-box bottom-joint-box">
        <div><b>Cancellation policy</b></div>

        <div class="more-box">
          Cancel within 48 hours of booking to get a full refund.
          <br />
          <%= link_to 'More details', 'https://www.sparestaff.com.au/cancellation-policy', target: '_blank', class: 'blank-link' %>
        </div>
      </div>

    </div>
  </div>

  <div class="sub-footer">
    <div class="left-sub">
      <%= link_to '© Spare Staff', 'https://www.sparestaff.com.au/copyright', class: 'spare-link'%>
    </div>
  </div>
</div>