<div class="admin_sub_header">
  <div>
    <%= link_to 'Backend Home', '', class: 'sub_link' %>
    &nbsp;&gt; Coupon Management
  </div>
</div>

<div class="admin_panle_body">
  <%= render partial: "layouts/admin/left_hand_navigation" %>
  <div class="admin_right_panel">
    <div class="step_heading">Create new Coupon</div>
    <div class="right_step user">
      <div class="right-panel edit_regis"><br />
        <%= form_tag(admin_coupons_path, method: :post, id: 'new_form', remote: true,:action => "create")do %>
          <div class="listed-box">
            <div class="custom-field-box">
              <div class="custom-input-group">
                <%= label_tag :coupon_code %>
                <%= text_field_tag :coupon_code %>
              </div>

              <div class="custom-input-group">
                <%= label_tag :discount_in_percentage %>
                <%= number_field_tag :discount %>
              </div>
              <div class="custom-input-group">
                <%= label_tag :expiry_date %>
                <%= date_field_tag :expiry_date %>
              </div>
              <div class="custom-input-group">
                <%= label_tag :users %>
                <%= select_tag "users[]", options_for_select(@users.map { |user| [user.name, user.id] }), multiple: true, class: 'select2' %>
              </div>
            </div>

            <%= submit_tag "Create", class: 'continue_btn' %>
            <br>
          </div>
        <% end %>
      </div>
      <div class="sort_paginate_ajax" id="coupons">
        <%= render partial: "coupon_details"%>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $(".sort_paginate_ajax th a, .sort_paginate_ajax .pagination a").on("click", function(){
      $.getScript(this.href);
      return false;
    });
  });

  $("#new_form").validate({
    errorPlacement: function(error, element) {
       error.appendTo(element.parent());
    },
    rules: {
      "coupon_code": {required: true},
      "discount": {required: true},
      "expiry_date": {required: true},
    }
  });

  $('.select2').select2({
    placeholder: "Select a User"
  });

  $('.assign_user').click(function(){
    model_id = $(this).attr('model_id');
    users = $(this).attr('users_ids')
    $(model_id).select2({ placeholder: "Select a User",  multiple: true, allowClear: true}).val(users.split(' ')).trigger("change");
  });

  $(".custom-modal").on('hidden.bs.modal', function (e) {
    $('.select2').select2({
      placeholder: "Select a User"
    });
  })

</script>