<div class="left-panel">
  <ul class="panel-list">
    <li class="panel-item">
      <%= link_to 'Notifications', user_account_notification_payouts_path, class: "panel-link selected-panel #{is_active_menu('index')}" %>
    </li>
    <li class="panel-item">
      <%= link_to 'Payment Methods', payouts_path, class: "panel-link selected-panel #{is_active_menu('payouts')}" %>
    </li>
    <li class="panel-item">
      <%= link_to "Payout Preferences", step_1_payouts_path, class: "panel-link selected-panel #{is_active_menu('step_1')}" %>
    </li>
    <li class="panel-item">
      <%= link_to "Transaction History", 'javascript:;', class: "panel-link" %>
    </li>
    <li class="panel-item">
      <%= link_to 'Security', 'javascript:;', class: 'panel-link' %>
    </li>
  </ul>
</div>
