<div class="left-panel">
  <ul class="panel-list">
    <li class="panel-item">
      <%= link_to 'Notifications', user_account_notification_payouts_path, class: "panel-link #{is_active_menu('user_account_notification')}" %>
    </li>
    <li class="panel-item">
      <%= link_to 'Payment Methods', payouts_path, class: "panel-link #{is_active_menu('index')}" %>
    </li>
    <li class="panel-item">
      <%= link_to "Payout Preferences", step_1_payouts_path, class: "panel-link #{is_active_menu('step_1')}" %>
    </li>
    <li class="panel-item">
      <%= link_to "Transaction History", transaction_history_payouts_path, class: "panel-link #{is_active_menu('transaction_history')}" %>
    </li>
    <li class="panel-item">
      <%= link_to 'Security', security_payouts_path, class: "panel-link #{is_active_menu('security')}" %>
    </li>
  </ul>
</div>
