<%= render partial: "employee_listings/user_settings_header" %>

<div class="account-section">
  <div class="side_menu">
    <ul class="tab-list">
      <li class="tab-item">
        <%= link_to 'Notifications', '#', class: 'tab-link' %>
      </li>
      <li class="tab-item">
        <%= link_to 'Payment Methods', '#', class: 'tab-link' %>
      </li>
      <li class="tab-item">
        <% is_payment = params[:controller].eql?("payouts")%>
        <%= link_to 'Payout Preferences', '#', class: "#{ is_payment ? 'tab-link  active' : 'tab-link ' }" %>
      </li>
      <li class="tab-item">
        <%= link_to 'Transaction History', '#', class: 'tab-link' %>
      </li>
      <li class="tab-item">
        <%= link_to 'Security', '#', class: 'tab-link' %>
      </li>
    </ul>
  </div>
  <div class="payout-prefrences-box">
    <div class="payout-box">
      <div class="panel-header">
        Payment Methods
      </div>
      <div class="payout-box-content payout-method-box-content">
        <div class="payout-method-box">
          <div class="method-box">
            <div class="card-no-and-date">
              <div class="card-no">AMEX xxxxxxxxxxx3007</div>
              <div class="card-date">03/19</div>
            </div>
            <div class="payouts-btn">
              <div><%= link_to 'Default', 'javascript:;', class: 'card-btn-link default-set' %></div>
              <div><%= link_to 'Remove', 'javascript:;', class: 'card-btn-link' %></div>
            </div>
          </div>

          <div class="method-box">
            <div class="card-no-and-date">
              <div class="card-no">PayPal</div>
              <div class="card-date">mypaypal@gmail.com</div>
            </div>
            <div class="payouts-btn">
              <div><%= link_to 'Set Default', 'javascript:;', class: 'card-btn-link' %></div>
              <div><%= link_to 'Remove', 'javascript:;', class: 'card-btn-link' %></div>
            </div>
          </div>

          <div class="method-box add-method-box">
            <div class="add-method">
              <div class="add">+</div>
              <div>Add payment method</div>
            </div>
          </div>
        </div>
        <div class="align-left">Remember: Spare Staff will never ask you to wire money.</div>
      </div>
    </div>

    <div class="payout-box">
      <div class="panel-header">
        Your Coupons
      </div>
      <div class="payout-box-content payout-method-box-content">
        <div class="add-coupan-box">
          <label>Add a coupon</label>
          <div class="add-cpn-input-box">
            <input name="Text1" type="text" style="width:200px">
            <%= link_to 'Add coupon', 'javascript:;', class: 'add-cpn-btn' %>
          </div>
        </div>

        <div class="coupan-table">
          <div class="table-tr">
            <div class="table-td"><b>Coupon code</b></div>
            <div class="table-td"><b>Expiration date</b></div>
            <div class="table-td"><b>Amount</b></div>
          </div>
          <div class="table-tr">
            <div class="table-td">ABCDE12345</div>
            <div class="table-td">14 Oct 2018</div>
            <div class="table-td">$128 AUD</div>
          </div>
          <div class="table-tr">
            <div class="table-td">FGHIK67890</div>
            <div class="table-td">12 Feb 2019</div>
            <div class="table-td">$65 AUD</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "layouts/footer" %>
