<%= render partial: "employee_listings/user_settings_header" %>

<div class="account-section">
  <%= render partial: 'payout_side_bar'%>
  <div class="payout-prefrences-box">
    <div  class="payout-box">
      <div class="panel-header">
        Add Payout Method
      </div>
      <div class="payout-box-content payout-method-step2">
        <div>Spare Staff releases payouts 24 hours after employment contract starts. The time it takes for the fund to appear in your account depends on your payout method.</div>

        <div class="payout-list-box">
          <div class="payout-list">
            <div class="list-box one"><b>Method</b></div>
            <div class="list-box two"><b>Get paid in</b></div>
            <div class="list-box three"><b>Fees</b></div>
            <div class="list-box four"><b>Details</b></div>
          </div>

          <div class="payout-list">
            <div class="list-box one">
              <input checked="checked" name="Radio1" type="radio" value="paypal" class='choose_payment_method' data-url="<%= step_3_payouts_path %>">
              PayPal
            </div>
            <div class="list-box two">
              3-4 hours
            </div>
            <div class="list-box three">
              May include PayPal withdrawal fees
            </div>
            <div class="list-box four">
              Connect your existing PayPal account
            </div>
          </div>
          <div class="payout-list">
            <div class="list-box one">
              <input checked="checked" name="Radio1" type="radio" value="stripe" class='choose_payment_method' data-url="<%= stripe_account_payouts_path %>">
              Bank Transfer
            </div>
            <div class="list-box two">
              5-7 business days
            </div>
            <div class="list-box three">
              No fees
            </div>
            <div class="list-box four">
              Business day processing only; weekends and banking holidays may cause delays.
            </div>
          </div>
        </div>

        <div class="button-box">
          <%= link_to '< Back', step_1_payouts_path, class: 'orange-text' %>
          <%= link_to 'Next', stripe_account_payouts_path, class: 'modal-orange-btn', id: 'next_chose_btn'%>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "layouts/footer" %>

<script type="text/javascript">
  $('.choose_payment_method').change(function(e) {
    const $this = $(this), $link = $("#next_chose_btn");
    $link.attr("href", $this.attr("data-url"));
  });
</script>
