<%= render partial: "employee_listings/user_settings_header" %>
<div class="transaction_history_section">
  <div class="inner-listings-section">
    <%= render partial: 'payout_side_bar'%>
    <div class="right-panel">
      <div class="listed-box">
        <div class="right-panel-header">Completed Payouts</div>
        <div class="listing-card-box">
          <div class="listing-card">
            <div style="font-size: 18pt">Paid out: $1,227.80 AUD</div>

            <div class="payout_table">
              <div class="table_row">
                <div style="width: 15%"><strong>Date</strong></div>
                <div style="width: 15%"><strong>Type</strong></div>
                <div style="width: 40%"><strong>Details</strong></div>
                <div style="width: 15%"><strong>Amount</strong></div>
                <div><strong>Paid Out</strong></div>
              </div>
              <% @completed_listing_transactions.each do |transaction| %>
                <div class="table_row">
                  <div style="width: 15%"><%= "#{transaction.end_date.strftime('%d %b %Y')}" %></div>
                  <div style="width: 15%">Reservation</div>
                  <div style="width: 40%"><%= "#{transaction.start_date.strftime('%d %b %Y')} - #{transaction.end_date.strftime('%d %b %Y')}" %></div>
                  <div style="width: 15%">&nbsp;</div>
                  <div><strong><%="#{transaction.amount}"%></strong></div>
                </div>
              <% end %>
              <div class="table_row">
                <a href="#" class="tab_btn">&lt;</a>
                <a href="#" class="tab_btn">&gt;</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="listed-box">
        <div class="right-panel-header">Upcoming Payouts</div>
        <div class="listing-card-box">
          <div class="listing-card">
            <div style="font-size: 18pt">Pending payouts: $653.90 AUD</div>

            <div class="payout_table">
              <div class="table_row">
                <div style="width: 15%"><strong>Date</strong></div>
                <div style="width: 15%"><strong>Type</strong></div>
                <div style="width: 40%"><strong>Details</strong></div>
                <div style="width: 15%"><strong>Amount</strong></div>
                <div><strong>Paid Out</strong></div>
              </div>
              <div class="table_row">
                <div style="width: 15%">26-02-2019</div>
                <div style="width: 15%">Payout</div>
                <div style="width: 40%">Transfer to PayPal</div>
                <div style="width: 15%">&nbsp;</div>
                <div><strong>$333.90</strong></div>
              </div>
              <div class="table_row">
                <a href="#" class="tab_btn">&lt;</a>
                <a href="#" class="tab_btn">&gt;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render partial: "layouts/footer" %>
