<tr>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>
    <!--webbot bot="Include" u-include="includes/footer.html" tag="BODY" startspan -->
    <table>
      <tr>
        <td colspan="6">
          <br />
          <table style="width: 100%; height: 1px; background-color: #C0C0C0" cellpadding="0" cellspacing="0">
            <tr>
              <td></td>
            </tr>
          </table>
          <br />
        </td>
      </tr>
      <tr>
        <td style="text-align: center; width: 80px;" rowspan="3">
          &nbsp;
        </td>
        <td style="text-align: center; width: 150px;" valign="top">
          <br />
          <%= image_tag "Spare-Staff-130x130.png", alt: "", height: "50", width: "50", align: "top", style: "float: left" %>
        </td>
        <td valign="top" style="width: 20%">
          <h4>Spare Staff</h4>
          <%= link_to "About us", "https://www.sparestaff.com.au/about-us", class: "FooterMenuLink" %><br />
          <%= link_to "Careers", "https://www.sparestaff.com.au/careers", class: "FooterMenuLink" %><br />
          <%= link_to "Press", "https://www.sparestaff.com.au/press", class: "FooterMenuLink" %><br />
          <%= link_to "Policies", "https://www.sparestaff.com.au/policies", class: "FooterMenuLink" %><br />
          <%= link_to "Help", "https://www.sparestaff.com.au/help", class: "FooterMenuLink" %>
        </td>
        <td valign="top" style="width: 25%">
          <h4>Easy Online Recruitment</h4>
          <%= link_to "Why list your employee", "https://www.sparestaff.com.au/why-list-your-employee", class: "FooterMenuLink" %><br />
          <%= link_to "Why hire on Spare Staff", "https://www.sparestaff.com.au/why-hire-on-spare-staff", class: "FooterMenuLink" %><br />
          <%= link_to "Confidentiality", "https://www.sparestaff.com.au/confidentiality", class: "FooterMenuLink" %><br />
        </td>
        <td valign="top" style="width: 25%">
          <h4>Employee Sharing &amp; Hiring</h4>
          <%= link_to "How it works", "https://www.sparestaff.com.au/how-it-works", class: "FooterMenuLink" %><br />
          <%= link_to "Trust & safety", "https://www.sparestaff.com.au/trust-and-safety", class: "FooterMenuLink" %><br />
          <%= link_to "List an employee", "#", class: "FooterMenuLink" %><br />
          <!-- <a class="FooterMenuLink" href="list-an-employee/list-an-employee-intro.html">List an employee</a><br /> -->
        </td>
        <td rowspan="3" style="width: 80px">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4">
          <br />
          <table style="width: 100%; height: 1px; background-color: #C0C0C0" cellpadding="0" cellspacing="0">
            <tr>
              <td></td>
            </tr>
          </table>
          <br />
        </td>
      </tr>
      <tr>
        <td class="PaddingBottom20px"><a href="https://www.sparestaff.com.au/copyright" class="FooterBottomLink">© Spare Staff</a></td>
        <td>&nbsp;</td>
        <td colspan="2" style="text-align: right" valign="top">
          <%= link_to "Terms", "https://www.sparestaff.com.au/terms", class: "FooterBottomLink" %>&nbsp;
          <%= link_to "Privacy", "https://www.sparestaff.com.au/privacy", class: "FooterBottomLink" %>&nbsp;
          <%= link_to "Site Map", "https://www.sparestaff.com.au/site-map", class: "FooterBottomLink" %>&nbsp;
          <%= image_tag "social-icons.png", alt: "", height: "15", width: "61" %>
        </td>
      </tr>
    </table>
    <!--webbot bot="Include" endspan i-checksum="11141" -->
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
