<div class="custom-footer">
  <div class="inner-footer">
    <div class="left-box">
      <div class="logo-side">
        <% if StaticContent.last&.site_logo.present? %>
          <% site_logo = StaticContent.last.site_logo.url %>
          <%= image_tag site_logo, class: 'logo-img' %>
        <% else %>
          <%= image_tag 'logo.png', class: 'logo-img' %>
        <% end %>
      </div>

      <div class="spare-staff">
        <h4 class="footer-heading">Spare Staff</h4>
        <ul class="footer-list-link">
          <li class="list-item">
            <%= link_to 'About us', 'https://www.sparestaff.com.au/about-us', class: 'custom-link' %>
          </li>
          <li class="list-item">
            <%= link_to 'Careers', 'https://www.sparestaff.com.au/careers', class: 'custom-link' %>
          </li>
          <li class="list-item">
            <%= link_to 'Press', 'https://www.sparestaff.com.au/press', class: 'custom-link' %>
          </li>
          <li class="list-item">
            <%= link_to 'Policies', 'https://www.sparestaff.com.au/policies', class: 'custom-link' %>
          </li>
          <li class="list-item">
            <%= link_to 'Help', 'https://www.sparestaff.com.au/help', class: 'custom-link' %>
          </li>
        </ul>
      </div>
    </div>
    <div class="right-box">
      <div class="easy-online">
        <h4 class="footer-heading">Easy Online Recruitment</h4>
        <ul class="footer-list-link">
          <li class="list-item">
            <%= link_to 'Why list your employee', 'https://www.sparestaff.com.au/why-list-your-employee', class: 'custom-link' %>
          </li>
          <li class="list-item">
            <%= link_to 'Why hire on Spare Staff', 'https://www.sparestaff.com.au/why-hire-on-spare-staff', class: 'custom-link' %>
          </li>
          <li class="list-item">
            <%= link_to 'Confidentiality', 'https://www.sparestaff.com.au/confidentiality', class: 'custom-link' %>
          </li>
        </ul>
      </div>

      <div class="employee">
        <h4 class="footer-heading">Employee Sharing & Hiring</h4>
         <ul class="footer-list-link">
          <li class="list-item">
            <%= link_to 'How it works', 'https://www.sparestaff.com.au/how-it-works', class: 'custom-link' %>
          </li>
          <li class="list-item">
            <%= link_to 'Trust & safety', 'https://www.sparestaff.com.au/trust-and-safety', class: 'custom-link' %>
          </li>
          <li class="list-item">
            <%= link_to 'List an employee', '#', class: 'custom-link' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="left-sub">
      <%= link_to '© Spare Staff', 'https://www.sparestaff.com.au/copyright" class="FooterBottomLink', class: 'spare-link' %>
    </div>

    <div class="right-sub">
      <ul class="sub-list-link">
        <li class="sub-list-item">
          <%= link_to 'Terms', 'https://www.sparestaff.com.au/terms', class: 'sub-custom-link' %>
        <li>
        <li class="sub-list-item">
          <%= link_to 'Privacy', 'https://www.sparestaff.com.au/privacy', class: 'sub-custom-link' %>
        <li>
        <li class="sub-list-item">
          <%= link_to 'Site Map', 'https://www.sparestaff.com.au/site-map', class: 'sub-custom-link' %>
        <li>
        <li>
          <%= image_tag "social-icons.png", alt: "", height: "15", width: "61" %>
        <li>
      </ul>
    </div>
  </div>
</div>