<div class="popup" data-popup="forgot_password_popup">
  <div class="popup-inner">
    <%= form_for @user, url: password_path(@user), html: {method: :post, id: "reset_password_form"} do |f| %>
      <br />
      <%= f.email_field :email, placeholder: "Email", id: "user_reset_password_email", class: "SlimBorder", required: true %><br />
      <br />
      <table  class="ButtonOrangeSignUp">
        <tr>
          <td>
            <%= f.submit "Send me reset password instructions", class: "cust_btn" %>
          </td>
        </tr>
      </table>
      <br />
    <% end %>
    <br />
    <table class="GreyLine1Px" cellpadding="0">
      <tr>
        <td></td>
      </tr>
    </table>
    <br />
    Don't have an account? <%= link_to "Sign up", "#", data: {popup_close: "forgot_password_popup", popup_open: "popup-1"} %>
    <%= link_to "#", class: "popup-close", data: {popup_close: "forgot_password_popup"} do %>
      <%= image_tag "cross.jpg" %>
    <% end %>
  </div>
</div>
