<div class="modal custom-modal" id="forgot_password_Modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><%= image_tag "cross.jpg", class: 'close-img' %></button>
      </div>

      <div class="modal-body">

        <div class="session-box">
          <%= form_for @user, url: password_path(@user), html: {method: :post, id: "reset_password_form"} do |f| %>

            <%= f.email_field :email, placeholder: "Email", id: "user_reset_password_email", class: "custom-field", required: true %>


            <div class="sesion-btn">
              <%= f.submit "Send me reset password instructions", class: "cust_btn" %>
            </div>

            <div class="dont-have">
              Don't have an account? <%= link_to "Sign up", "#", data: {toggle: "modal", target: "#signup_button_Modal", dismiss: "modal" }, class: 'bottom-link' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#reset_password_form").validate({
      rules: {
        "user[email]": {required: true, email: true, remote: "/home/email_availability?form=login" },
      },
     messages: {
        "user[email]": {required: "Please enter your email",remote: "Email doesn't exist"},
      }
    });
  });
</script>
