<table style="height: 70px;">
  <tr>
    <td style="text-align: center; width: 170px">
      <%= link_to root_path do %>
        <%= image_tag "Spare-Staff-130x130.png", alt: "", height: "50", width: "50", class: "auto-style1" %>
      <% end %>
    </td>
    <td style="width: 500px">&nbsp;</td>
    <td style="text-align: center; width: 175px;">
      <table class="TopOrangeButton">
        <tr>
          <td>
            <%= link_to "+ List an Employee", users_path, class: "WhiteLink12ptNoUnderline" %>
            <!-- <a class="WhiteLink12ptNoUnderline" href="list-an-employee/list-an-employee-intro.html">+ List an Employee</a> -->
          </td>
        </tr>
      </table>
    </td>
    <td style="width: 80px;" class="TopMenuTd">
      <%= link_to "#", class: "TopMenuLink PositionRelative" do %>
        <span>Message</span><span class="badge">2</span>
      <% end %>
      <!-- <a class="TopMenuLink PositionRelative" href="messages/user-inbox.html"><span>Message</span><span class="badge">2</span></a> -->
    </td>
    <td style="width: 60px;" class="TopMenuTd">
      <%= link_to "Help", "#", class: "TopMenuLink" %>
    </td>
    <td style="width: 60px;" class="TopMenuTd">
      <%= link_to "javascript:;", onclick: "toggle_visibility('UserIconMenuBox');" do %>
        <%= image_tag "Henry1.jpg", alt: "", class: "ProfileIcon" %>
      <% end %>
      <div class="UserIconMenu" id="UserIconMenuBox">
        <div class="divTable">
          <div class="divTableRow">
            <div class="divTableCell">
              <%= link_to "Dashboard", "#" %>
            </div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">
              <%= link_to "Your Listings", "#" %>
              <!-- <a href="user-your-listings/user-your-listings.html">Your Listings</a> -->
            </div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">
              <%= link_to "Your Hirings", "#" %>
              <!-- <a href="user-hiring/user-hiring.html">Your Hirings</a> -->
            </div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">
              <%= link_to "Edit Profile", "#" %>
              <!-- <a href="user-profile/user-profile-edit-profile.html">Edit Profile</a> -->
            </div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">
              <%= link_to "Account Settings", "#" %>
              <!-- <a href="user-account/user-account-notifications.html">Account Settings</a> -->
            </div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">
              <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
              <!-- <a href="home-not-signed-in.html">Log Out</a> -->
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
