<table style="width: 100%; height: 70px;">
  <tr>
    <td style="text-align: center; width: 170px">
      <%= link_to root_path do %>
        <%= image_tag "Spare-Staff-130x130.png", alt: "", height: "50", width: "50", class: "auto-style1" %>
      <% end %>&nbsp;
    </td>
    <td style="width: 500px">&nbsp;&nbsp;</td>
    <td style="text-align: center; width: 175px;">
      <table class="TopOrangeButton ">
        <tr>
          <td>
            <%= link_to "+ List an Employee", "#", class: "WhiteLink12ptNoUnderline" %>
            <!-- <a class="WhiteLink12ptNoUnderline" href="list-an-employee/list-an-employee-intro.html">+ List an Employee</a> -->
          </td>
        </tr>
      </table>
    </td>
    <td style="text-align: center; width: 60px;">
      <%= link_to "Help", "#", class: "TopMenuLink" %>
    </td>
    <td style="text-align: center; width: 60px;">
      <%= link_to "Sign up", "#", class: "TopMenuLink", data: {popup_open: "popup-1"} %>
    </td>
    <td style="text-align: center; width: 60px;">
      <%= link_to "Log in", "#", class: "TopMenuLink", data: {popup_open: "popup-2"} %>
    </td>
  </tr>
</table>
