<header class="fixed-header ">
  <nav class="navbar navbar-expand-md navbar-dark new-header">
    <%= link_to '/', class: 'navbar-brand' do %>
      <% if StaticContent.first&.site_logo.present? %>
        <% site_logo = StaticContent.first.site_logo.url %>
        <%= image_tag site_logo, class: 'logo-img' %>
      <% else %>
        <%= image_tag 'logo.png', class: 'logo-img' %>
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav navbar-right custom-right-navbar">
        <li class="nav-item">
          <%= link_to '+ List an Employee', getting_started_employee_index_path, class: 'nav-link new-employee' %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to inboxes_path, class: "nav-link message" do %>
              <span>Message</span><span class="badge"><%=@unread_count%></span>
            <% end %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to 'Help', 'https://www.sparestaff.com.au/help', class: 'nav-link help' %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "javascript:;", class: 'nav-link custom-show-dropdown' do %>
              <span class="dropdown_toggle">
                <% if current_user.avatar.url.include?("missing") %>
                  <%= image_tag "no-image.jpg", alt: "", class: "ProfileIcon" %>
                <% else %>
                  <%= image_tag(current_user.avatar.url(:thumb), class: "ProfileIcon") %>
                <% end %>
                <%#= current_user.name  %>
              </span>
            <% end %>
            <%= render partial: "layouts/user_icon_menu_box" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", "javascript:;", class: "nav-link", data: {toggle: "modal", target: "#signupModal" } %>
          </li>
          <li class="nav-item">
            <%= link_to "Log in", "javascript:;", class: "nav-link", data: {toggle: "modal", target: "#loginModal" } %>
          </li>
          <%= render partial: "layouts/login_popup" %>
          <%= render partial: "layouts/signup_button_popup" %>
          <%= render partial: "layouts/signup_popup" %>
          <%= render partial: "layouts/forgot_password_popup" %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>


<script type="text/javascript">
  var $ShowMenu = $('.custom-show-dropdown');

  $(document).mouseup(e => {
    if (!$ShowMenu.is(e.target) && $ShowMenu.has(e.target).length === 0)
    {
      $ShowMenu.removeClass('is-active');
    }
  });

  $('.dropdown_toggle').on('click', () => {
    $ShowMenu.toggleClass('is-active');
  });
</script>
