<div class="modal custom-modal" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><%= image_tag "cross.jpg", class: 'close-img' %></button>
      </div>
      <div class="modal-body">
        <div class="facebook-login">
          <%= link_to "Log in with Facebook", user_facebook_omniauth_authorize_path, class: 'facebook-btn' %>
        </div>
        <div class="login-or">
          <hr class="hr-or">
          <span class="span-or">or</span>
        </div>
        <div class="session-box">
          <%= form_for @user, url: session_path(@user), html: {id: "user_login_form"} do |f| %>

            <%= f.email_field :email, placeholder: "Email", id: "user_login_email", class: "custom-field ", required: true %>

            <%= f.password_field :password, placeholder: "Password", id: "user_login_password", class: "custom-field last-child", required: true %>

            <div class="show-pass-box">
              <div class="remember-me">
                 <%= f.check_box :remember_me, id: "user_login_remember_me", class: 'custom-check' %>
                 Remember me
              </div>
              <div class="show-hide-pass">
                 <span class="password-showhide">
                  <span class="show-password"><%= link_to "Show password", "javascript:;", class: "SmallLink" %></span>
                  <span class="hide-password"><%= link_to "Hide password", "javascript:;", class: "SmallLink" %></span>
                </span>
              </div>
            </div>

            <div class="sesion-btn">
              <%= f.submit "Log in", class: "cust_btn" %>
            </div>

            <div class="forgot-box">
              <%= link_to "Forgot password?", "#", data: {toggle: "modal", target: "#forgot_password_Modal", dismiss: "modal" }, class: 'forgot-link' %>
            </div>

            <div class="dont-have">
              Don't have an account? <%= link_to "Sign up", "#", data: {toggle: "modal", target: "#signup_button_Modal", dismiss: "modal" }, class: 'bottom-link' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    initializeLoginForm();
  })
</script>
