<div class="popup" data-popup="popup-1">
  <div class="popup-inner">
    <br />
    <br />
    <table  class="ButtonBlueSignUp">
      <tr>
        <td>
          <%= link_to "Sign up with Facebook", "#" %>
        </td>
      </tr>
    </table>
    <br />
    <table>
      <tr>
        <td style="width:45%">
          <table class="GreyLine1Px" cellpadding="0">
            <tr>
              <td></td>
            </tr>
          </table>
          </td style="width:10%">
        <td style="text-align: center">or</td>
        <td style="width:45%">
          <table class="GreyLine1Px" cellpadding="0">
            <tr>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <br />
    <table  class="ButtonOrangeSignUp">
      <tr>
        <td>
          <%= link_to "Sign up with Email", "#", data: {popup_close: "popup-1", popup_open: "popup-3"} %>
        </td>
      </tr>
    </table>
    <br />
    <table class="GreyLine1Px" cellpadding="0">
      <tr>
        <td></td>
      </tr>
    </table>
    <br />
    Already have a Spare Staff account? <%= link_to "Log in", "#", data: {popup_close: "popup-1", popup_open: "popup-2"} %>
    <%= link_to "#", class: "popup-close", data: {popup_close: "popup-1"} do %>
      <%= image_tag "cross.jpg" %>
    <% end %>
  </div>
</div>
