<div class="modal custom-modal" id="signupModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><%= image_tag "cross.jpg", class: 'close-img' %></button>
      </div>

      <div class="modal-body">
        <div class="facebook-login">
          <%#= link_to "Log in with Facebook", user_facebook_omniauth_authorize_path, class: 'facebook-btn' %>
          <p style="font-size:10pt">
            Sign up with <%= link_to "Facebook", user_facebook_omniauth_authorize_path, class: "small-link" %> instead?
          </p>
        </div>

        <div class="login-or">
          <hr class="hr-or">
          <span class="span-or">or</span>
         </div>

        <div class="session-box">
          <%= form_for @user, url: registration_path(@user), html: {id: "user_signup_form"} do |f| %>

            <%= f.email_field :email, placeholder: "Email", id: "new_user_email", class: "custom-field", required: true %>

            <div class="name-box">
              <%= f.text_field :first_name, placeholder: "First name", id: "new_user_first_name", class: "custom-field", required: true %>

              <%= f.text_field :last_name, placeholder: "Last name", id: "new_user_last_name", class: "custom-field", required: true %>
            </div>

            <%= f.password_field :password, placeholder: "Password", id: "new_user_password", class: "custom-field", required: true %>

            <%= f.password_field :password_confirmation, placeholder: "Confirm password", id: "new_user_confirm_password", class: "custom-field", required: true %>


            <div class="show-pass-box">
              <div class="remember-me">
                <%= f.check_box :allow_marketing_promotions, class: 'custom-check' %>
                I'd like to receive marketing promotions, special offers, inspiration, and policy updates from Spare Staff via email.
              </div>
            </div>
            <div class="show-pass-box">
              <div class="remember-me">
                <%= check_box_tag :agree_terms, "", false, required: true, class: 'custom-check' %>
                I agree to Spare Staff &nbsp; <%= link_to "Privacy Policy", "#", class: "small-link" %> &nbsp; and &nbsp; <%= link_to "Terms and Conditions", "#", class: "small-link" %>
              </div>
            </div>

            <div class="sesion-btn">
              <%= f.submit "Sign up", class: "cust_btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () { 
    $("#user_signup_form").validate({
      rules: {
      "user[first_name]": {required: true,  maxlength: 15},
      "user[last_name]": {required: true,  maxlength: 15},
       // "user[email]": {required: true, email: true, remote: "/home/email_availability" },
      "user[password]": {required: true},
      "user[password_confirmation]": {equalTo: "#new_user_password"},
      "user[allow_marketing_promotions]": {required: true},
      "agree_terms": {required: true},
      },
     messages: {
        // "user[email]":  {remote: "Email already exist ."},
        "user[first_name]": {maxlength: "First name must be 15 character"},
        "user[last_name]": {maxlength: "Last name must be 15 character", },
        "user[password]": {required: "Enter Password"},
        "user[password_confirmation]": {equalTo: "Confirm password must be same"},
      }
    });
  });
</script>  



