<div class="custom-menu-dropdown" >
  <ul class="menu-list">
    <li class="menu-item">
      <%= link_to "Dashboard", user_dashboard_employee_index_path %>
    </li>
    <li class="menu-item">
      <%= link_to "Your Listings", employee_index_path %>
    </li>
    <li class="menu-item">
      <%= link_to "Your Hirings", hirings_path %>
    </li>
    <li class="menu-item">
      <%= link_to "Edit Profile", edit_user_registration_path %>
    </li>
    <li class="menu-item">
      <%= link_to "Account Settings", user_account_notification_payouts_path %>
    </li>
    <% if current_user.is_admin %>
      <li class="menu-item">
        <%= link_to "Admin", '/admin', target: '_blank' %>
      </li>
    <% end %>
    <li class="menu-item">
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>

<!-- <div class="UserIconMenu" ">
  <div class="divTable">

    <div class="divTableRow">
      <div class="divTableCell">


      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell">


      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell">


      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell">


      </div>
    </div>
  </div>
</div> -->