<div class="custom-menu-dropdown" >
  <ul class="menu-list">
    <li class="menu-item">
      <%= link_to "Dashboard", "#" %>
    </li>
    <li class="menu-item">
      <%= link_to "Your Listings", employee_index_path %>
    </li>
    <li class="menu-item">
      <%= link_to "Your Hirings", "#" %>
    </li>
    <li class="menu-item">
      <%= link_to "Edit Profile", "#" %>
    </li>
    <li class="menu-item">
      <%= link_to "Account Settings", "#" %>
    </li>
    <li class="menu-item">
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>


<!-- <div class="UserIconMenu" ">
  <div class="divTable">

    <div class="divTableRow">
      <div class="divTableCell">


      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell">


      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell">


      </div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell">


      </div>
    </div>
  </div>
</div> -->