<!DOCTYPE html>
<html>
  <head>
    <title>Online MarketPlace for Sharing and Hiring Employees - Spare Staff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="en-au" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>

  <body>
    <table style="width: 100%">
      <%= render 'toastr_rails/flash' %>
      <%= render partial: "layouts/header" %>
      <%= yield %>
    </table>
  </body>
</html>
