<div class="message-chat-block">
  <% if @conversation.is_disallowed.eql?(false) %>
  <%= form_for Message.new, url: inboxes_path, remote: true, method: :post do |f|%>
    <div class="message-chat-block__box right_user_direction">
      <div class="message__conversation">
        <%= f.text_area :content, cols: 20, rows: 5 %>
        <%= hidden_field_tag :id, @conversation.id %>
        <div class="message-blank-error hidden">Your Message Field is blank.</div>
        <div class="message-error"> You can't send this message. It contains Email/URL/Contact.</div>
        <div class="message-chat-block__box--btn-box">
          <%= f.submit "Send Message", class: 'message-btn' %>
        </div>
      </div>
      <div class="message-user-box">
        <% if current_user.avatar.present? %>
          <%= image_tag current_user.avatar.url, class: 'message-user-box__img' %>
        <% else %>
          <%= image_tag 'no-image.jpg', class: 'message-user-box__img' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% end %>
  <div class="gray-mid-text-block">
    <div class="gray-line"></div>
    <div class="mid-text">SAFETY TIP</div>
    <div class="gray-line"></div>
  </div>
  <div class="safety-sub-text grey-text">For your safety and protection, only communicate and pay directly through Spare Staff.<br>
    Visit our 
    <strong>
      <%= link_to 'Help Center', 'javascript:;', class: 'LightGreyLink14px' %>
    </strong> 
    to learn more about the benefits of hiring through Spare Staff.
  </div>

  <% if @transaction&.cancelled_at.present? %>
    <div class="gray-mid-text-block">
      <div class="gray-line"></div>
      <div class="mid-text">HIRING CANCELLED <%= @transaction&.cancelled_at&.strftime("%d %b %Y").titleize %> BY <%= @transaction&.cancelled_by == "poster" ? @transaction&.poster&.name&.titleize : @transaction&.hirer&.name&.titleize %></div>
      <div class="gray-line"></div>
    </div>
  <%end%>

  <div id="message_container">
    <%= render partial: 'inboxes/text_message', locals: {messages: @messages} %>
  </div>
</div>

<script type="text/javascript">
  $("#new_message").submit(function() {
    if ($("#message_content").val() == "") {
      $('.message-blank-error').show();
          return false;
    }
    else {
      $('.message-blank-error').hide();
      var email = new RegExp("/^[A-Z0-9._%\-\+\~\/]+@([A-Z0-9-]+\.)+[A-Z]+$/i");
      // var contact = new RegExp("^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$");
      var contact = new RegExp("((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}");
      var url = new RegExp("([a-zA-Z0-9]+://)?([a-zA-Z0-9_]+:[a-zA-Z0-9_]+@)?([a-zA-Z0-9.-]+\\.[A-Za-z]{2,4})(:[0-9]+)?(/.*)?");
      var addres = new RegExp("^(\d+) ?([A-Za-z](?= ))? (.*?) ([^ ]+?) ?((?<= )APT)? ?((?<= )\d*)?$");
      var message = $("#message_content").val();
      var arr = message.split(' ');
      for (var i = 0; i < arr.length; i++) {
        if (email.test(arr[i]) || contact.test(arr[i]) || url.test(arr[i]) || addres.test(arr[i])) {
          $('.message-error').show();
          return false;
        }
        else {
          $('.message-error').hide();
        }
      }
    }
  })
</script>