<%= render partial: "employee_listings/user_settings_header" %>

<div class="message-container">
  <select name="Select1" class="selt">
    <option selected="selected">All Messages (<%= @conversations.count %>)</option>
    <option>Unread (<%= @conversations.where(read: false).count %>)</option>
  </select>
  <div class="inbox_container ">
    <% @conversations.each do |conversation| %>
      <%= link_to inbox_path(id: conversation.id), class: 'messages' do %>
        <div class="logo">
          <%= image_tag 'luca2.jpg', alt: '' %>
        </div>
        <div class="day_date">
          <span><%= conversation.sender.name %></span><br>
          <span><%= conversation.updated_at.strftime("%d %h %Y") %></span>
        </div>
        <div class="notify_msg">
          <% unless conversation.read? %>
            <strong><%= conversation&.messages&.last&.content %></strong>
          <% else %>
            <span><%= conversation&.messages&.last&.content %></span>
          <% end %>
          <p class="sm_text"><%= conversation.employee_listing.title %>, <%= conversation.employee_listing.name %>, <%= conversation.employee_listing.city %> <%= conversation.employee_listing.state %>, <%= conversation.employee_listing.country %></p>
        </div>
      <% end %>
<!-- 
      <%#= link_to '#', class: 'messages' do %>
        <div class="logo">
          <%#= image_tag 'zidane-profile.jpg', alt: '' %>
        </div>
        <div class="day_date">
          <span>UserXYZ</span><br>
          <span>02 Mar 2019</span>
        </div>
        <div class="notify_msg">
          <strong>This is an unread message between this user & UserXYZ about a listing without a hirin...</strong>
          <p class="sm_text">Senior IT Administrator, Cristiano Ronaldo, Chippendale NSW, Australia</p>
        </div>
        <div class="price">
          <span class="green">Accepted</span><br>
          <span>$4,001.55</span>
        </div>
      <%# end %>
      <%#= link_to '#', class: 'messages' do %>
        <div class="logo">
          <%#= image_tag 'alex-profile.jpg', alt: '' %>
        </div>
        <div class="day_date">
          <span>HirerDEF</span><br>
          <span>24 Feb 2019</span>
        </div>
        <div class="notify_msg">
          <span>This is an unread message between this user & UserXYZ about a listing without a hirin...</span>
          <p class="sm_text">Senior IT Administrator, Cristiano Ronaldo, Chippendale NSW, Australia</p>
        </div>
        <div class="price">
          <span class="green">Accepted</span><br>
          <span>$4,001.55</span>
        </div>
      <%# end %>
      <%#= link_to '#', class: 'messages' do %>
        <div class="logo">
          <%#= image_tag 'Henry1.jpg', alt: '' %>
        </div>
        <div class="day_date">
          <span>HirerGHI</span><br>
          <span>12 Dec 2017</span>
        </div>
        <div class="notify_msg">
          <span>This is an unread message between this user & UserXYZ about a listing without a hirin...</span>
          <p class="sm_text">Senior IT Administrator, Cristiano Ronaldo, Chippendale NSW, Australia</p>
        </div>
        <div class="price">
          <span class="declined">Declined</span><br>
          <span>$4,001.55</span>
        </div>
      <%# end %>
      <%#= link_to '#', class: 'messages' do %>
        <div class="logo">
          <%#= image_tag 'Lifra.jpg', alt: '' %>
        </div>
        <div class="day_date">
          <span>HirerGHI</span><br>
          <span>12 Dec 2017</span>
        </div>
        <div class="notify_msg">
          <span>This is an unread message between this user & UserXYZ about a listing without a hirin...</span>
          <p class="sm_text">Senior IT Administrator, Cristiano Ronaldo, Chippendale NSW, Australia</p>
        </div>
        <div class="price">
          <span class="declined">Canceled</span><br>
          <span>$4,001.55</span>
        </div>
      <%# end %>
 -->
    <% end %>
  </div>
</div>

<%= render partial: "layouts/footer" %>
