<%= render partial: "employee_listings/user_settings_header" %>

<div class="message-container">
  <select name="Select1" class="selt">
    <option selected="selected">All Messages (<%= @conversations.count %>)</option>
    <option val="unread">Unread (<%= @unread_count %>)</option>
  </select>
  <div class="inbox_container" id="conversation_list">
    <% @conversations.each do |conversation| %>
      <%= link_to inbox_path(id: conversation.id), class: 'messages' do %>
        <div class="logo">
          <% if conversation.sender.avatar.url.include?("missing") %>
            <%= image_tag 'luca2.jpg', alt: '' %>
          <% else %>
            <%= image_tag(conversation.sender.avatar.url(:thumb), class: "ProfileIcon") %>
          <% end %>
        </div>
        <div class="day_date">
          <span><%= conversation.sender.name %></span><br>
          <span><%= conversation.updated_at.strftime("%d %h %Y") %></span>
        </div>
        <div class="notify_msg">
          <% if conversation.unread_msg_count(@current_user) > 0%>
            <strong><%= conversation.messages.order("created_at desc").first.content rescue ''%></strong>
          <% else %>
            <span><%= conversation.messages.order("created_at desc").first.content rescue ''%></span>
          <% end %>
          <p class="sm_text"><%= conversation.employee_listing.title %>, <%= conversation.employee_listing.name %>, <%= conversation.employee_listing.city %> <%= conversation.employee_listing.state %>, <%= conversation.employee_listing.country %></p>
        </div>
        <div class="price">
          <% if  conversation.employee_listing_transaction.present? %>
            <span class="green"><%conversation.employee_listing_transaction.state %></span><br>
            <span><%= number_to_currency(price(conversation.employee_listing_transaction)) %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render partial: "layouts/footer" %>

<script type="text/javascript">
  $(".selt").change(function(){
    val = $(this).val().includes("Unread")
    if (val == true) {data = "unread"} else { data = "read"}
    $.ajax({
      url: "<%= unread_inboxes_path %>",
      type: 'GET',
      data: {"message" : data}
    })
  })
</script>
