<%= render partial: "employee_listings/user_settings_header" %>

<div class="change-or-hiring-section">
  <div class="left-detail">
    <div><b>About this Hirer</b></div>
    <br/>
    <div class="text-allign-center">
      <% if @listing.profile_picture.present? %>
        <%= image_tag @listing.profile_picture.url, class: 'pro-pic' %>
      <% else %>
        <%= image_tag 'no-image.jpg', class: 'pro-pic' %>
      <% end %>
      <div class=""><b><%= @transaction.hirer.name %></b></div>
      <div class="grey-text"><%= "#{@transaction.hirer.company.city} #{@transaction.hirer.company.state} #{@transaction.hirer.company.post_code}, #{@transaction.hirer.company.country}" %></div>
      <div class="grey-text">3 Verifications | 25 Reviews</div>
    </div>
    <br/>
    <div class="">
      <div><b>Hiring details</b></div>
      <br />
      <%= link_to "#{@listing.title}", employee_path(id: @listing.id), class: 'orange-text', target: "_blank"  %>
      <div><%= @listing.name %></div>
    </div>

    <div class="order-details first-order">
      <div class="order-item">
        <span><b><%= @transaction.start_date.strftime("%d %h %Y") %></b></span>
        <span>&nbsp;&nbsp;&nbsp; > &nbsp;</span>
        <span><b><%= @transaction.end_date.strftime("%d %h %Y") %></b></span>
      </div>
      <% total_hours = @transaction.total_weekday_hours + @transaction.total_weekend_hours %>
      <div class="OrderTotalHour"><%= "#{total_hours} Hour Total" %></div>
      <% @transaction.bookings.group_by(&:day).each do |day, bookings| %>
        <div class="order-item space-bottom">
          <span><%= bookings.first.day.titleize %></span>
          <span><%= "#{bookings.first.start_time.strftime("%H:%M")} - #{bookings.first.end_time.strftime("%H:%M")}" %></span>
        </div>
      <% end %>
    </div>

    <% if @transaction.probationary_period.present? %>
      <div class="order-details">
        <div class="order-item space-bottom">
          <span class="grey-text">Probationary period</span>
        </div>
        <div class="order-item ">
          <div class="month1"><%= @transaction.probationary_period.eql?(1) ? "#{@transaction.probationary_period} month" : "#{@transaction.probationary_period} months" %></div>
        </div>
      </div>
    <% end %>

    <div class="order-details">
      <div class="order-item space-bottom">
        <span class="grey-text">Address</span>
      </div>
      <div class="order-item ">
        <div class="month1"><%= "#{@listing.address_1} #{@listing.city} #{@listing.state} #{@listing.post_code} #{@listing.country}" %></div>
      </div>
    </div>

    <div class="order-details">
      <h3 class="sub-title">Weekly payment</h3>
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekday_price.to_f} x #{@transaction.weekday_hours} hours" %></span>
        <span><%= "$#{@listing.weekday_price.to_f * @transaction.weekday_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekend_price.to_f} x #{@transaction.weekend_hours} hours" %><br />(weekend)</span>
        <span><%= "$#{@listing.weekend_price.to_f * @transaction.weekend_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Tax withholding</span>
        <span><%= "-$#{@transaction.tax_withholding_amount.round(2)}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Service fee</span>
        <span>$<%= @transaction.service_fee.round(2) %></span>
      </div>
      <div class="order-item space-bottom">
        <span><b>Weekly total</b></span>
        <span><b><%= "$#{(@transaction.amount + @transaction.service_fee).round(2)}" %></b></span>
      </div>
    </div>

    <div class="toggle-payment-detail">Total employment contract</div>

    <div class="order-details show-payment-box">
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekday_price.to_f} x #{@transaction.total_weekday_hours} hours" %></span>
        <span><%= "$#{@listing.weekday_price.to_f * @transaction.total_weekday_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span><%= "$#{@listing.weekend_price.to_f} x #{@transaction.total_weekend_hours} hours" %><br />(weekend)</span>
        <span><%= "$#{@listing.weekend_price.to_f * @transaction.total_weekend_hours}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Tax withholding</span>
        <span><%= "-$#{@transaction.total_tax_withholding.round(2)}" %></span>
      </div>
      <div class="order-item space-bottom">
        <span>Service fee</span>
        <span>$<%= @transaction.total_service_fee.round(2) %></span>
      </div>
      <div class="order-item space-bottom">
        <span><b>Total</b></span>
        <span><b><%= "$#{(@transaction.total_amount).round(2)}" %></b></span>
      </div>

      <div class="text-center grey-text detail-bot-text">You will not pay the Total employment contract upfront. You chose to pay weekly.</div>
    </div>

    <div class="order-details">
      <h3 class="sub-title">Always communicate through Spare Staff</h3>
      <div class="grey-text">
        To protect your payment, never transfer money or communicate outside of Spare Staff website or app.
      </div>
      <br/>
      <%= link_to 'Learn more', '#', class: 'orange-text learn-more' %>
    </div>
  </div>

  <div class="right-detail">
    <% if @transaction.state.eql?("created") %>
      <%= render partial: "accept_or_decline_option" %>
    <% elsif @transaction.state.eql?("accepted") %>
      <%= render partial: "change_or_cancel_option" %>
    <% elsif @transaction.state.eql?("rejected") %>
      <%= render partial: "declined_info" %>
    <% end %>
  </div>
</div>

<%= render partial: "layouts/footer" %>

<script type="text/javascript">
  $('.toggle-payment-detail').click(function(){
    $('.show-payment-box').toggle();
  });
</script>
