<%= render partial: "employee_listings/user_settings_header" %>
<% if @transaction.present? %>
  <div class="change-or-hiring-section">
    <% if current_user == @transaction.poster %>
      <%= render partial: 'poster'%>
      <div class="right-detail">
        <% if @transaction.state.eql?("created") %>
          <%= render partial: "accept_or_decline_option" %>
        <% elsif @transaction.state.eql?("accepted") %>
          <%= render partial: "change_or_cancel_option" %>
        <% elsif @transaction.state.eql?("rejected") %>
          <%= render partial: "declined_info" %>
        <% elsif @transaction.state.eql?("cancelled") %>
          <%= render partial: "cancel_info" %>
        <% end %>
        <div id="top_message_container">
          <%= render partial: "message" %>  
        </div>
      </div>
    <% elsif current_user == @transaction.hirer %>
      <%= render partial: 'hirer'%>
      <div class="right-detail">
        <%# if @transaction.state.eql?("created") && @transaction.request_by.eql?('poster') %>
          <%#= render partial: "hirer_accept_or_decline_option" %>
        <% if @transaction.state.eql?("created") %>
          <%= render partial: "cancel_hiring_button" %>
        <% elsif @transaction.state.eql?("accepted") %>
          <%= render partial: "contract_change_or_view_option" %>
        <% elsif @transaction.state.eql?("rejected") %>
          <%= render partial: "hirer_declined_info" %>
        <% elsif @transaction.state.eql?("cancelled") %>
          <%= render partial: "cancel_info" %>
        <% end %>
        <div id="top_message_container">
          <%= render partial: "message" %>  
        </div>
      </div>
    <% end%>
  </div>
  <%= render partial: "layouts/footer" %>
  <script type="text/javascript">
    $('.toggle-payment-detail').click(function(){
      $('.show-payment-box').toggle();
    });
  </script>
<% else %>
  <div class="change-or-hiring-section">
    <div class="left-detail">
      <div class="text-allign-center">
        <% if @listing.profile_picture.present? %>
          <%= image_tag @listing.profile_picture.url, class: 'pro-pic' %>
        <% else %>
          <%= image_tag 'no-image.jpg', class: 'pro-pic' %>
        <% end %>
        <div class="">
          <%= link_to "#{@listing.title}", employee_path(id: @listing.id), class: 'GreyLink', target: "_blank"  %>
        </div>
        <div class=""><%= @listing.name %></div>
        <span class="GreyText-abc">Poster: <%= @listing.poster_name %></span>
        <div class="Text14px PaddingTop10px">
          <div class="reviews_all_star_profile" data-score ="<%= @reviews_all_star.round(0) %>"></div>
          <%= image_tag "star-rating.png", class: "star-rating" %> <%= @reviews_all.count %> reviews&nbsp;
        </div>
      </div>
      <br/>
      <div class="order-details first-order">
        <div class="order-item">
          <span><b>Availability</b></span>
        </div>
        <% @listing.listing_availabilities.each do |availability|%>
          <% unless availability.not_available? %>
            <div class="order-item space-bottom table-box">
              <span><%= availability.day.titleize %></span>
              <span><%= availability.start_time.strftime("%I:%M") %> - <%= availability.end_time.strftime("%I:%M") %></span>
            </div>
          <% end %>
        <% end %>

        <div class="order-item asking-box">
          <span><b>Asking Wage</b></span>
        </div>
        <div class="order-item space-bottom from-box">
          <span>From $<%= @listing.weekday_price.present? ? @listing.weekday_price : 0 %> per hour</span>
        </div>
      </div>
    </div>

    <div class="right-detail" id="top_message_container">
      <%= render partial: "message" %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $( document ).ready(function() {
    c = "<%= @unread_count %>"
    $(".badge").text(c)
  });
  $('.listing_star_rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
        },
      starOn: 'https://i.ibb.co/XJBTTTK/star-on.png',
      starOff:  'https://i.ibb.co/HhTx9dL/star-off.png'  
    });
</script>
